.slds-welcome-mat_splash .slds-welcome-mat__content {
    height: auto;
}

.slds-welcome-mat__info-description .slds-card__header-title {
    line-height: var(--lwc-lineHeightTab);
    display: block;
}

.slds-welcome-mat__info-description img {
    max-width: 142px;
}

.slds-welcome-mat__info-title {
    display: inline-block;
}

.tile-body {
    overflow: auto;
}

.slds-card__header .slds-badge {
    display: inline-flex;
}

.slds-welcome-mat__info {
    background-image: url('/flow/images/mountain_master_scene.png');
}
