.text-labels-bold {
    font-weight: var(--lwc-fontWeightBold);
    font-size: var(--lwc-fontSize3);
}

.edit {
    float: right;
    color: var(--lwc-brandAccessible, rgb(0, 112, 210));
}

.start-button-trigger-context:active {
    position: relative;
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--lwc-colorBorderSelection), 0 0 6px 3px var(--lwc-colorBorderSelection);
}

.start-button-trigger-context:hover {
    background-color: var(--lwc-colorGray3);
    cursor: pointer;
}

.context {
    background-color: white;
}
