$button-color-background-primary: $white-primary !default;
$button-color-background-secondary: $white-transparent-80 !default;
$button-color-border-brand-primary: $blue-border-primary !default;
$button-color-border-primary: $palette-gray-5 !default;
$button-color-border-secondary: $white-transparent-80 !default;
$button-color-text-primary: $palette-gray-1 !default;
$button-border-radius: 0.25rem !default;
$color-background-button-brand: $science-blue !default;
$color-background-button-brand-active: $midnight-blue !default;
$color-background-button-brand-disabled: $steam !default;
$color-background-button-brand-hover: $newport-color-brand-orange !default;
$color-background-button-default-active: $white-lilac !default;
$color-background-button-default-disabled: $white-primary !default;
$color-background-button-default-focus: $link-water !default;
$color-background-button-default-hover: $link-water !default;
$color-background-button-default: $white-primary !default;
$color-background-button-icon-active: $white-lilac !default;
$color-background-button-icon-disabled: $white-primary !default;
$color-background-button-icon-focus: $link-water !default;
$color-background-button-icon-hover: $link-water !default;
$color-background-button-icon: $transparent !default;
$color-background-button-inverse-active: $black-transparent-24 !default;
$color-background-button-inverse-disabled: $transparent !default;
$color-background-button-inverse: $transparent !default;
$line-height-button-small: 1.75rem !default;
$line-height-button: 1.875rem !default;
