.stepped-stage-node {
    width: 300px;
}

h3 {
    margin-top: 2rem;
}

.main {
    border: var(--lwc-borderWidthThin) solid var(--lwc-colorBorder);
    border-radius: var(--lwc-borderRadiusMedium);
    font-size: var(--lwc-fontSize2);
    background: #fafafb;
    box-shadow: var(--lwc-shadowDropDown);
}

.background-light {
    background-color: var(--lwc-colorBrandDarker);
}

.background-dark {
    background-color: rgb(0, 57, 107);
}

.header {
    text-align: center;
    color: black;
    font-size: var(--lwc-fontSize5);
    font-weight: var(--lwc-fontWeightBold);
}

.items-header {
    color: white;
    text-align: initial;
    height: 40px;
}

.items-section {
    background: white;
}

.item {
    text-align: initial;
    font-size: var(--lwc-fontSize3);
    padding-top: var(--lwc-spacingXSmall);
    padding-bottom: var(--lwc-spacingXSmall);
}

.item:hover {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    cursor: pointer;
}

.item:focus {
    background: inherit;
    box-shadow: var(--lwc-shadowButtonFocus);
}

.item:focus:hover {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    box-shadow: var(--lwc-shadowButtonFocus);
}

.item[aria-selected='true'] {
    box-shadow: 0 0 0 2px var(--lwc-colorBorderRowSelected);
}

.item[aria-selected='true']:hover {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    box-shadow: 0 0 0 2px var(--lwc-colorBorderRowSelected);
}

.item[aria-selected='true']:hover:focus {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    box-shadow: 0 0 0 2px var(--lwc-colorBorderRowSelected);
}

.item:not(:first-child) {
    border-top: var(--lwc-borderWidthThin) solid var(--lwc-colorBorder);
}

.itemContent {
    max-width: 90%;
    width: 100%;
}

.itemLabel {
    font-weight: var(--lwc-fontWeightBold);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.add-item {
    width: -webkit-fill-available;
    width: -moz-available;
}
