.stepped-stage-node {
    width: var(--alc-menu-width);
    position: relative;
    padding-top: var(--lwc-spacingXxSmall, 0.25rem);
    padding-bottom: 0px;
    margin: 0;
    background: var(--alc-menu-background);
}

h3 {
    margin-top: 2rem;
}

builder_platform_interaction-stage-step-menu {
    padding: 0;
    margin: 0;
}

.background-stage-divider {
    background-color: var(--lwc-paletteBlue30);
}

.background-step-icon {
    background-color: #54698d;
}

.header {
    background: var(--alc-menu-background);
    text-align: center;
    color: black;
    font-size: var(--lwc-fontSize5);
    font-weight: var(--lwc-fontWeightBold);
}

.items-header {
    color: white;
    text-align: initial;
    height: 40px;
}

.items-section {
    background: white;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    padding-bottom: var(--lwc-spacingXxSmall, 0.25rem);
}

.item {
    text-align: initial;
    font-size: var(--lwc-fontSize2);
    padding-top: var(--lwc-spacingXSmall);
    padding-bottom: var(--lwc-spacingXSmall);
}

.item:not(.disabled):hover {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    cursor: pointer;
}

.item:not(.disabled):focus {
    background: inherit;
    box-shadow: var(--lwc-shadowButtonFocus);
}

.item:not(.disabled):focus:hover {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    box-shadow: var(--lwc-shadowButtonFocus);
}

.item[aria-selected='true']:not(.disabled) {
    box-shadow: inset 0 0 0 2px var(--lwc-colorBorderRowSelected);
}

.item[aria-selected='true']:not(.disabled):hover {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    box-shadow: inset 0 0 0 2px var(--lwc-colorBorderRowSelected);
}

.item[aria-selected='true']:not(.disabled):hover:focus {
    background: var(--lwc-verticalNavigationColorBackgroundShadeRowHover);
    box-shadow: inset 0 0 0 2px var(--lwc-colorBorderRowSelected);
}

.item:not(:first-child) {
    border-top: var(--lwc-borderWidthThin) solid var(--lwc-colorBorder);
}

.itemContent {
    max-width: 90%;
    width: 100%;
}

.itemStepTypeLabel {
    margin-bottom: 0;
}

.itemLabel {
    font-weight: var(--lwc-fontWeightBold);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.stepMenuContainer {
    display: flex;
    justify-content: center;
}

lightning-popup {
    position: absolute;
    z-index: 0;
}

.popup-body {
    width: 280px;
    margin-top: -16px;
}

.step-menu-trigger {
    position: relative;
    z-index: var(--z-index-alc-menu-trigger-open);
}

.stage-step-error {
    box-shadow: inset 0 0 0 2px #c23934;
}

.stage-step-label-error {
    color: var(--lwc-colorTextError);
}
