$input-readonly-font-weight: 400 !default;
$input-static-color: $palette-gray-12 !default;
$input-static-font-size: 0.875rem !default;
$input-static-font-weight: 400 !default;
$height-input: 1.875rem !default;
