.has-error {
    border: var(--lwc-borderWidthThin) solid var(--lwc-colorBorderError);
}

.bordered {
    border: var(--lwc-borderWidthThin) solid var(--lwc-cardColorBorder);
}

.card-icon {
    margin-bottom: auto;
}