svg {
    position: absolute;
    z-index: -1;
    fill: none;
    stroke: var(--lwc-colorGray6);
    stroke-width: 6;
}

svg.fault {
    stroke: var(--lwc-colorBorderError);
    stroke-width: 3;
    stroke-dasharray: 7;
}

svg.connector-to-be-deleted {
    stroke: var(--lwc-colorBorderError);
    z-index: 0;
}

svg.fault.connector-to-be-deleted {
    stroke-dasharray: none;
    stroke-width: 6;
}

lightning-combobox {
    position: absolute;
    width: 96px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.connector-badge {
    position: absolute;
    height: 24px;
    transform: translate(-50%, -50%);
    width: 72px;
}

.default-badge {
    background-color: var(--lwc-colorBackgroundLight);
    border: 1px solid var(--lwc-colorBorder);
}

.fault-badge {
    background-color: var(--lwc-colorBorderError);
    color: var(--lwc-colorTextBrandPrimary);
}

builder_platform_interaction-flc-button-menu {
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle-text {
    transition: transform 0.25s ease;
}

builder_platform_interaction-flc-button-menu.slds-is-open .circle-text {
    transform: rotate(-135deg);
}
