.slds-section__title div {
    line-height: var(--lwc-lineHeightText);
}

.outcomeListHeader {
    margin: auto;
}

.decisionElement {
    height: 100%;
}

.decisionElementVertical {
    min-height: 100%;
}
