.slds-scrollable--y {
    height: calc(100vh - 199px);
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
}

div.error {
    color: var(--lwc-colorTextError);
}
