.nds-b2b-suborders-jobprogress-contatin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 3.938rem;
    position: absolute;

    p{
        z-index: 98;
        position: relative;
        width: fit-content;
        text-align: center;
        font-size: 1.125rem;
        line-height: 2.25rem;
        margin-top: 2.375rem;
        color: $b2b-color-neutral-base-30;
    }
}

.slds-table tbody tr.slds-is-selected .slds-dropdown a[aria-disabled=true], .slds-table tr.slds-is-selected:hover .slds-dropdown a[aria-disabled=true] {
    color: var(--slds-g-color-neutral-base-80, var(--lwc-colorTextButtonDefaultDisabled,rgb(201, 201, 201)));
}