aura.log
.env
.classpath
.project
.settings
.holder
.DS_Store
target
.idea
*.iml
*.swp
*.swo
*.bk
node_modules
npm-*.log
yarn-*.log
.jshintrc
.nyc_output
.vscode
coverage/
jest-report/
build
build2
dist/
src/main/webapp/jsdoc
**/.vscode/
packages/**/dist
staging-no-types
/src/main/modules
lerna-debug.log
