.THIS {
    background-color: t(colorBackgroundShade);
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5) inset;
    position: relative;
}

.THIS .canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.THIS .canvas.active {
    box-shadow: 0 0 10px rgb(0, 112, 210);
}

.THIS .canvas.hover {
    box-shadow: 0 0 20px rgb(0, 112, 210);
}