.left {
    z-index: 100;
    background-color: #ddd;
}

@media (prefers-reduced-motion: no-preference) {
    .test-monkey.spin {
        animation: MonkeySpin infinite 1s linear;
    }
}

@keyframes MonkeySpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.test-monkey {
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.toolbar {
    flex: 0 0 auto;
    background-color: rgb(242, 242, 242);
    padding-bottom: 10px;
}

lightning-input,
lightning-combobox {
    display: inline-block;
}

.test-monkey-button {
    margin-top: 16px;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    flex: 1;
}

builder_platform_interaction-flc-builder-container {
    position: relative;

    overflow: hidden;
}
