.left {
    z-index: 100;
    background-color: #ddd;
}

@media (prefers-reduced-motion: no-preference) {
    .test-monkey.spin {
        animation: MonkeySpin infinite 1s linear;
    }
}

@keyframes MonkeySpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.test-monkey {
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.toolbar {
    flex: 0 0 auto;
    background-color: rgb(242, 242, 242);
    padding-bottom: 10px;
}

lightning-input,
lightning-combobox {
    display: inline-block;
}

.test-monkey-button {
    margin-top: 16px;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    flex: 1;
    display: flex;
}

.left-pane {
    width: 320px;
    background: gray;
}

builder_platform_interaction-alc-canvas-container {
    position: relative;
    overflow: hidden;
    flex: 1 1 0;
}

builder_platform_interaction-left-panel {
    position: absolute;
    left: 0;

    bottom: 0;
    z-index: 501;
    transition: all 0.25s cubic-bezier(0, 0.3, 0.15, 1);
}

.left-panel-hide {
    transition: all 0.25s cubic-bezier(0.7, 0, 0.5, 1);
    transform: translateX(-100%);
}
