.body-fixed-height {
    height: 16rem;
}

.branch-merge {
    transform: rotate(90deg);
}

.action-row-line-height {
    line-height: 1.5rem;
}

.background-navy {
    background-color: #54698d;
}

.background-red {
    background-color: var(--lwc-colorBackgroundError);
}

.background-orange {
    background-color: #ff9a3c;
}

.rotate-icon-container {
    transform: rotate(45deg);
    border-radius: var(--lwc-borderRadiusMedium);
}

.rotate-icon-svg {
    transform: rotate(-45deg);
    background: transparent;
}

.end-element-svg {
    width: var(--lwc-squareIconUtilityLarge);
    height: var(--lwc-squareIconUtilityLarge);
    padding: 5px;
    border-radius: var(--lwc-borderRadiusCircle);
}
