.overlay {
    width: 300px;
    background-color: rgb(250, 250, 252);
}

.header {
    text-align: center;
    background: #fafafb;
}

.body {
    background-color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
