html {
    background: #fff;
}

html,
body,
#main {
    height: 100%;
}

/*
 * app/main/core/ui-force-components/components/force/base/base.tokens
 */

:root {
    --lwc-avatarGroupColorBackgroundInverse: rgb(112, 110, 107);
    --lwc-avatarGroupColorBackgroundLightest: rgb(255, 255, 255);
    --lwc-badgeColorBackgroundInverse: rgb(112, 110, 107);
    --lwc-badgeColorBackgroundLightest: rgb(255, 255, 255);
    --lwc-bannerGroupDefaultImage: ;
    --lwc-bannerUserDefaultImage: ;
    --lwc-borderRadiusCircle: 50%;
    --lwc-borderRadiusLarge: 0.5rem;
    --lwc-borderRadiusMedium: 0.25rem;
    --lwc-borderRadiusPill: 15rem;
    --lwc-borderRadiusSmall: 0.125rem;
    --lwc-borderStrokeWidthThick: 2px;
    --lwc-borderStrokeWidthThin: 1px;
    --lwc-borderWidthThick: 2px;
    --lwc-borderWidthThin: 1px;
    --lwc-brandAccessible: rgb(0, 112, 210);
    --lwc-brandAccessibleActive: rgb(0, 95, 178);
    --lwc-brandBackgroundDark: rgb(232, 232, 232);
    --lwc-brandBackgroundDarkTransparent: rgba(221, 219, 218, 0);
    --lwc-brandBackgroundPrimary: rgb(250, 250, 249);
    --lwc-brandBackgroundPrimaryTransparent: rgba(250, 250, 249, 0);
    --lwc-brandBandColorBackgroundPrimary: rgba(0, 0, 0, 0);
    --lwc-brandBandColorBackgroundPrimaryTransparent: rgba(0, 0, 0, 0);
    --lwc-brandBandColorBackgroundSecondary: rgba(0, 0, 0, 0);
    --lwc-brandBandColorBackgroundSecondaryTransparent: rgba(0, 0, 0, 0);
    --lwc-brandBandDefaultImage: ;
    --lwc-brandBandImageHeightLarge: 18.75rem;
    --lwc-brandBandImageHeightMedium: 12.5rem;
    --lwc-brandBandImageHeightSmall: 6rem;
    --lwc-brandBandScrimHeight: 3.125rem;
    --lwc-brandContrast: rgb(26, 27, 30);
    --lwc-brandContrastActive: rgb(13, 14, 18);
    --lwc-brandDark: rgb(24, 35, 55);
    --lwc-brandDarkActive: rgb(37, 48, 69);
    --lwc-brandDisabled: rgb(201, 199, 197);
    --lwc-brandHeader: rgb(255, 255, 255);
    --lwc-brandHeaderContrast: rgb(94, 94, 94);
    --lwc-brandHeaderContrastActive: rgb(80, 80, 80);
    --lwc-brandHeaderContrastCool: rgb(0, 85, 131);
    --lwc-brandHeaderContrastCoolActive: rgb(0, 85, 131);
    --lwc-brandHeaderContrastInverse: rgb(255, 255, 255);
    --lwc-brandHeaderContrastInverseActive: rgb(238, 238, 238);
    --lwc-brandHeaderContrastWarm: rgb(191, 2, 1);
    --lwc-brandHeaderContrastWarmActive: rgb(172, 0, 0);
    --lwc-brandHeaderContrastWeak: rgb(145, 145, 145);
    --lwc-brandHeaderContrastWeakActive: rgb(129, 129, 129);
    --lwc-brandHeaderContrastWeakDisabled: rgba(166, 166, 166, 0.25);
    --lwc-brandHeaderIcon: rgb(145, 145, 145);
    --lwc-brandHeaderIconActive: rgb(129, 129, 129);
    --lwc-brandHeaderIconDisabled: rgba(145, 145, 145, 0.25);
    --lwc-brandLight: rgb(244, 246, 254);
    --lwc-brandLightActive: rgb(227, 229, 237);
    --lwc-brandLogoImage: / _slds/images/logo-noname.svg?cache=4fba1402;
    --lwc-brandPrimary: rgb(21, 137, 238);
    --lwc-brandPrimaryActive: rgb(0, 122, 221);
    --lwc-brandPrimaryTransparent: rgba(21, 137, 238, 0.1);
    --lwc-brandPrimaryTransparent10: rgba(21, 137, 238, 0.1);
    --lwc-brandPrimaryTransparent40: rgba(21, 137, 238, 0.4);
    --lwc-brandTextLink: rgb(0, 109, 204);
    --lwc-brandTextLinkActive: rgb(0, 95, 178);
    --lwc-buttonBorderRadius: 0.25rem;
    --lwc-buttonColorBackgroundBrandPrimary: rgb(0, 112, 210);
    --lwc-buttonColorBackgroundPrimary: rgb(255, 255, 255);
    --lwc-buttonColorBackgroundSecondary: rgba(255, 255, 255, 0.8);
    --lwc-buttonColorBorderBrandPrimary: rgb(0, 112, 210);
    --lwc-buttonColorBorderPrimary: rgb(216, 221, 230);
    --lwc-buttonColorBorderSecondary: rgba(255, 255, 255, 0.8);
    --lwc-buttonColorTextPrimary: rgb(255, 255, 255);
    --lwc-buttonIconColorBorderPrimary: rgb(255, 255, 255);
    --lwc-cardBodyPadding: 0 1rem;
    --lwc-cardColorBackground: rgb(255, 255, 255);
    --lwc-cardColorBorder: rgb(221, 219, 218);
    --lwc-cardFontWeight: 400;
    --lwc-cardFooterColorBorder: rgba(0, 0, 0, 0);
    --lwc-cardFooterMargin: 0.75rem;
    --lwc-cardFooterPadding: 0 1rem 0.75rem;
    --lwc-cardFooterTextAlign: right;
    --lwc-cardHeaderMargin: 0 0 0.75rem;
    --lwc-cardHeaderPadding: 0.75rem 1rem 0;
    --lwc-cardShadow: none;
    --lwc-cardSpacingLarge: 1.5rem;
    --lwc-cardSpacingMargin: 1rem;
    --lwc-cardSpacingSmall: 0.75rem;
    --lwc-cardWrapperSpacing: 1rem;
    --lwc-carouselColorBackground: rgb(255, 255, 255);
    --lwc-carouselIndicatorColorBackground: rgb(255, 255, 255);
    --lwc-carouselIndicatorColorBackgroundActive: rgb(0, 112, 210);
    --lwc-carouselIndicatorColorBackgroundFocus: rgb(0, 95, 178);
    --lwc-carouselIndicatorColorBackgroundHover: rgb(250, 250, 249);
    --lwc-carouselIndicatorWidth: 1rem;
    --lwc-chatMessageColorBackgroundInbound: rgb(242, 242, 243);
    --lwc-chatMessageColorBackgroundOutbound: rgb(0, 95, 178);
    --lwc-chatMessageColorBackgroundOutboundAgent: rgb(107, 109, 112);
    --lwc-chatMessageColorBackgroundStatus: rgb(255, 255, 255);
    --lwc-colorBackground: rgb(249, 249, 250);
    --lwc-colorBackgroundActionbarIconUtility: rgb(107, 109, 112);
    --lwc-colorBackgroundAlt: rgb(255, 255, 255);
    --lwc-colorBackgroundAlt2: rgb(242, 242, 243);
    --lwc-colorBackgroundAltInverse: rgb(22, 50, 92);
    --lwc-colorBackgroundAnchor: rgb(250, 250, 249);
    --lwc-colorBackgroundBackdrop: rgba(255, 255, 255, 0.75);
    --lwc-colorBackgroundBackdropTint: rgb(249, 249, 250);
    --lwc-colorBackgroundBrandPrimary: rgb(0, 112, 210);
    --lwc-colorBackgroundBrandPrimaryActive: rgb(0, 57, 107);
    --lwc-colorBackgroundBrandPrimaryFocus: rgb(0, 95, 178);
    --lwc-colorBackgroundBrandPrimaryHover: rgb(0, 95, 178);
    --lwc-colorBackgroundBrowser: rgb(107, 109, 112);
    --lwc-colorBackgroundButtonBrand: rgb(0, 112, 210);
    --lwc-colorBackgroundButtonBrandActive: rgb(0, 57, 107);
    --lwc-colorBackgroundButtonBrandDisabled: rgb(224, 229, 238);
    --lwc-colorBackgroundButtonBrandHover: rgb(0, 95, 178);
    --lwc-colorBackgroundButtonDefault: rgb(255, 255, 255);
    --lwc-colorBackgroundButtonDefaultActive: rgb(238, 241, 246);
    --lwc-colorBackgroundButtonDefaultDisabled: rgb(255, 255, 255);
    --lwc-colorBackgroundButtonDefaultFocus: rgb(244, 246, 249);
    --lwc-colorBackgroundButtonDefaultHover: rgb(244, 246, 249);
    --lwc-colorBackgroundButtonIcon: rgba(0, 0, 0, 0);
    --lwc-colorBackgroundButtonIconActive: rgb(238, 241, 246);
    --lwc-colorBackgroundButtonIconDisabled: rgb(255, 255, 255);
    --lwc-colorBackgroundButtonIconFocus: rgb(244, 246, 249);
    --lwc-colorBackgroundButtonIconHover: rgb(244, 246, 249);
    --lwc-colorBackgroundButtonInverse: rgba(0, 0, 0, 0);
    --lwc-colorBackgroundButtonInverseActive: rgba(0, 0, 0, 0.24);
    --lwc-colorBackgroundButtonInverseDisabled: rgba(0, 0, 0, 0);
    --lwc-colorBackgroundButtonSuccess: rgb(75, 202, 129);
    --lwc-colorBackgroundButtonSuccessActive: rgb(4, 132, 75);
    --lwc-colorBackgroundButtonSuccessHover: rgb(4, 132, 75);
    --lwc-colorBackgroundChromeDesktop: rgb(255, 255, 255);
    --lwc-colorBackgroundChromeMobile: rgb(0, 112, 210);
    --lwc-colorBackgroundContextBar: rgb(255, 255, 255);
    --lwc-colorBackgroundContextBarActionHighlight: rgba(255, 255, 255, 0.2);
    --lwc-colorBackgroundContextBarBrandAccent: rgb(0, 161, 223);
    --lwc-colorBackgroundContextBarInverseItemActive: rgba(255, 255, 255, 0.4);
    --lwc-colorBackgroundContextBarInverseItemHover: rgba(255, 255, 255, 0.2);
    --lwc-colorBackgroundContextBarItemActive: rgb(255, 255, 255);
    --lwc-colorBackgroundContextBarItemHover: rgb(255, 255, 255);
    --lwc-colorBackgroundContextBarShadow: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 100%);
    --lwc-colorBackgroundContextTabBarItem: rgb(255, 255, 255);
    --lwc-colorBackgroundCustomer: rgb(255, 154, 60);
    --lwc-colorBackgroundDark: rgb(233, 234, 236);
    --lwc-colorBackgroundDestructive: rgb(194, 57, 52);
    --lwc-colorBackgroundDestructiveActive: rgb(135, 5, 0);
    --lwc-colorBackgroundDestructiveHover: rgb(166, 26, 20);
    --lwc-colorBackgroundDockedPanel: rgb(255, 255, 255);
    --lwc-colorBackgroundDockedPanelHeader: rgb(255, 255, 255);
    --lwc-colorBackgroundError: rgb(212, 80, 76);
    --lwc-colorBackgroundErrorAlt: rgb(234, 130, 136);
    --lwc-colorBackgroundErrorDark: rgb(194, 57, 52);
    --lwc-colorBackgroundGuidance: rgb(255, 255, 255);
    --lwc-colorBackgroundHighlight: rgb(250, 255, 189);
    --lwc-colorBackgroundHighlightSearch: rgb(255, 240, 63);
    --lwc-colorBackgroundIconWaffle: rgb(112, 110, 107);
    --lwc-colorBackgroundImageOverlay: rgba(0, 0, 0, 0.4);
    --lwc-colorBackgroundIndicatorDot: rgb(22, 50, 92);
    --lwc-colorBackgroundInfo: rgb(107, 109, 112);
    --lwc-colorBackgroundInput: rgb(255, 255, 255);
    --lwc-colorBackgroundInputActive: rgb(255, 255, 255);
    --lwc-colorBackgroundInputCheckbox: rgb(255, 255, 255);
    --lwc-colorBackgroundInputCheckboxDisabled: rgb(217, 219, 221);
    --lwc-colorBackgroundInputCheckboxSelected: rgb(21, 137, 238);
    --lwc-colorBackgroundInputDisabled: rgb(233, 234, 236);
    --lwc-colorBackgroundInputError: rgb(255, 221, 225);
    --lwc-colorBackgroundInputSearch: rgba(0, 0, 0, 0.16);
    --lwc-colorBackgroundInverse: rgb(6, 28, 63);
    --lwc-colorBackgroundInverseLight: rgb(22, 50, 92);
    --lwc-colorBackgroundLight: rgb(255, 255, 255);
    --lwc-colorBackgroundModal: rgb(255, 255, 255);
    --lwc-colorBackgroundModalBrand: rgb(0, 112, 210);
    --lwc-colorBackgroundModalButton: rgba(0, 0, 0, 0.07);
    --lwc-colorBackgroundModalButtonActive: rgba(0, 0, 0, 0.16);
    --lwc-colorBackgroundNotification: rgb(255, 255, 255);
    --lwc-colorBackgroundNotificationBadge: rgb(194, 57, 52);
    --lwc-colorBackgroundNotificationBadgeActive: rgb(0, 57, 107);
    --lwc-colorBackgroundNotificationBadgeFocus: rgb(0, 95, 178);
    --lwc-colorBackgroundNotificationBadgeHover: rgb(0, 95, 178);
    --lwc-colorBackgroundNotificationNew: rgb(249, 249, 250);
    --lwc-colorBackgroundOffline: rgb(62, 64, 65);
    --lwc-colorBackgroundOrgSwitcherArrow: rgb(6, 28, 63);
    --lwc-colorBackgroundPageHeader: rgb(255, 255, 255);
    --lwc-colorBackgroundPathActive: rgb(0, 95, 178);
    --lwc-colorBackgroundPathActiveHover: rgb(0, 57, 107);
    --lwc-colorBackgroundPathComplete: rgb(75, 202, 129);
    --lwc-colorBackgroundPathCompleteHover: rgb(4, 132, 75);
    --lwc-colorBackgroundPathCurrent: rgb(255, 255, 255);
    --lwc-colorBackgroundPathCurrentHover: rgb(255, 255, 255);
    --lwc-colorBackgroundPathExpanded: rgb(255, 255, 255);
    --lwc-colorBackgroundPathIncomplete: rgb(236, 235, 234);
    --lwc-colorBackgroundPathIncompleteHover: rgb(221, 219, 218);
    --lwc-colorBackgroundPathLost: rgb(194, 57, 52);
    --lwc-colorBackgroundPathStepActionActive: rgb(6, 28, 63);
    --lwc-colorBackgroundPathStepActionCurrent: rgb(0, 95, 178);
    --lwc-colorBackgroundPathWon: rgb(4, 132, 75);
    --lwc-colorBackgroundPayload: rgb(249, 249, 250);
    --lwc-colorBackgroundPill: rgb(255, 255, 255);
    --lwc-colorBackgroundPost: rgb(249, 249, 250);
    --lwc-colorBackgroundPrimary: rgb(255, 255, 255);
    --lwc-colorBackgroundProgressRingContent: rgb(255, 255, 255);
    --lwc-colorBackgroundReminder: rgb(244, 246, 249);
    --lwc-colorBackgroundReminderHover: rgb(255, 255, 255);
    --lwc-colorBackgroundRowActive: rgb(242, 242, 243);
    --lwc-colorBackgroundRowHover: rgb(249, 249, 250);
    --lwc-colorBackgroundRowNew: rgb(217, 255, 223);
    --lwc-colorBackgroundRowSelected: rgb(233, 234, 236);
    --lwc-colorBackgroundScrollbar: rgb(233, 234, 236);
    --lwc-colorBackgroundScrollbarTrack: rgb(196, 198, 202);
    --lwc-colorBackgroundSecondary: rgb(249, 249, 250);
    --lwc-colorBackgroundSelection: rgb(216, 237, 255);
    --lwc-colorBackgroundShade: rgb(233, 234, 236);
    --lwc-colorBackgroundShadeDark: rgb(217, 219, 221);
    --lwc-colorBackgroundSpinnerDot: rgb(171, 173, 176);
    --lwc-colorBackgroundStencil: rgb(242, 242, 243);
    --lwc-colorBackgroundStencilAlt: rgb(233, 234, 236);
    --lwc-colorBackgroundSuccess: rgb(75, 202, 129);
    --lwc-colorBackgroundSuccessDark: rgb(4, 132, 75);
    --lwc-colorBackgroundSuccessDarker: rgb(0, 74, 41);
    --lwc-colorBackgroundTempModal: rgba(126, 140, 153, 0.8);
    --lwc-colorBackgroundTempModalTint: rgba(126, 140, 153, 0.8);
    --lwc-colorBackgroundTempModalTintAlt: rgba(255, 255, 255, 0.75);
    --lwc-colorBackgroundToast: rgb(107, 109, 112);
    --lwc-colorBackgroundToastError: rgb(194, 57, 52);
    --lwc-colorBackgroundToastSuccess: rgb(4, 132, 75);
    --lwc-colorBackgroundToggle: rgb(171, 173, 176);
    --lwc-colorBackgroundToggleActive: rgb(0, 112, 210);
    --lwc-colorBackgroundToggleActiveHover: rgb(0, 95, 178);
    --lwc-colorBackgroundToggleDisabled: rgb(171, 173, 176);
    --lwc-colorBackgroundToggleHover: rgb(145, 146, 151);
    --lwc-colorBackgroundUtilityBarActive: rgb(21, 137, 238);
    --lwc-colorBackgroundUtilityBarHover: rgb(233, 234, 236);
    --lwc-colorBackgroundWarning: rgb(255, 183, 93);
    --lwc-colorBorder: rgb(217, 219, 221);
    --lwc-colorBorderBrand: rgb(21, 137, 238);
    --lwc-colorBorderBrandDark: rgb(0, 112, 210);
    --lwc-colorBorderBrandPrimary: rgb(21, 137, 238);
    --lwc-colorBorderBrandPrimaryActive: rgb(0, 57, 107);
    --lwc-colorBorderBrandPrimaryFocus: rgb(0, 112, 210);
    --lwc-colorBorderBrandPrimaryHover: rgb(0, 112, 210);
    --lwc-colorBorderButtonBrand: rgb(0, 112, 210);
    --lwc-colorBorderButtonBrandDisabled: rgba(0, 0, 0, 0);
    --lwc-colorBorderButtonDefault: rgb(217, 219, 221);
    --lwc-colorBorderButtonFocusInverse: rgb(233, 234, 236);
    --lwc-colorBorderButtonInverseDisabled: rgba(255, 255, 255, 0.15);
    --lwc-colorBorderCanvasElementSelection: rgb(94, 180, 255);
    --lwc-colorBorderCanvasElementSelectionHover: rgb(0, 95, 178);
    --lwc-colorBorderContextBarDivider: rgba(255, 255, 255, 0.2);
    --lwc-colorBorderContextBarInverseItem: rgba(255, 255, 255, 0.2);
    --lwc-colorBorderContextBarItem: rgba(0, 0, 0, 0.2);
    --lwc-colorBorderContextBarThemeDefault: rgb(0, 161, 223);
    --lwc-colorBorderContextBarThemeDefaultActive: rgb(243, 242, 242);
    --lwc-colorBorderContextBarThemeDefaultAlt: rgb(243, 242, 242);
    --lwc-colorBorderContextBarThemeDefaultHover: rgb(11, 35, 153);
    --lwc-colorBorderCustomer: rgb(255, 154, 60);
    --lwc-colorBorderDestructive: rgb(194, 57, 52);
    --lwc-colorBorderDestructiveActive: rgb(135, 5, 0);
    --lwc-colorBorderDestructiveHover: rgb(166, 26, 20);
    --lwc-colorBorderError: rgb(194, 57, 52);
    --lwc-colorBorderErrorAlt: rgb(234, 130, 136);
    --lwc-colorBorderErrorDark: rgb(234, 130, 136);
    --lwc-colorBorderHint: rgb(42, 66, 108);
    --lwc-colorBorderIconInverseHint: rgba(255, 255, 255, 0.5);
    --lwc-colorBorderIconInverseHintHover: rgba(255, 255, 255, 0.75);
    --lwc-colorBorderInfo: rgb(107, 109, 112);
    --lwc-colorBorderInput: rgb(217, 219, 221);
    --lwc-colorBorderInputActive: rgb(21, 137, 238);
    --lwc-colorBorderInputCheckboxSelectedCheckmark: rgb(255, 255, 255);
    --lwc-colorBorderInputDisabled: rgb(196, 198, 202);
    --lwc-colorBorderInverse: rgb(6, 28, 63);
    --lwc-colorBorderLinkFocusInverse: rgb(233, 234, 236);
    --lwc-colorBorderOffline: rgb(62, 64, 65);
    --lwc-colorBorderPathCurrent: rgb(0, 95, 178);
    --lwc-colorBorderPathCurrentHover: rgb(0, 57, 107);
    --lwc-colorBorderPathDivider: rgb(255, 255, 255);
    --lwc-colorBorderPrimary: rgb(217, 219, 221);
    --lwc-colorBorderReminder: rgb(236, 235, 234);
    --lwc-colorBorderRowSelected: rgb(0, 112, 210);
    --lwc-colorBorderRowSelectedHover: rgb(21, 137, 238);
    --lwc-colorBorderSelection: rgb(0, 112, 210);
    --lwc-colorBorderSelectionActive: rgb(249, 249, 250);
    --lwc-colorBorderSelectionHover: rgb(21, 137, 238);
    --lwc-colorBorderSeparator: rgb(249, 249, 250);
    --lwc-colorBorderSeparatorAlt: rgb(217, 219, 221);
    --lwc-colorBorderSeparatorAlt2: rgb(196, 198, 202);
    --lwc-colorBorderSeparatorInverse: rgb(42, 66, 108);
    --lwc-colorBorderSuccess: rgb(75, 202, 129);
    --lwc-colorBorderSuccessDark: rgb(4, 132, 75);
    --lwc-colorBorderTabActive: rgb(255, 255, 255);
    --lwc-colorBorderTabSelected: rgb(0, 112, 210);
    --lwc-colorBorderToggleChecked: rgb(255, 255, 255);
    --lwc-colorBorderWarning: rgb(255, 183, 93);
    --lwc-colorBrand: rgb(21, 137, 238);
    --lwc-colorBrandDark: rgb(0, 112, 210);
    --lwc-colorBrandDarker: rgb(0, 95, 178);
    --lwc-colorContrastPrimary: rgb(249, 249, 250);
    --lwc-colorContrastSecondary: rgb(255, 255, 255);
    --lwc-colorForegroundPrimary: rgb(255, 255, 255);
    --lwc-colorGray1: rgb(255, 255, 255);
    --lwc-colorGray10: rgb(81, 79, 77);
    --lwc-colorGray11: rgb(62, 62, 60);
    --lwc-colorGray12: rgb(43, 40, 38);
    --lwc-colorGray13: rgb(8, 7, 7);
    --lwc-colorGray2: rgb(250, 250, 249);
    --lwc-colorGray3: rgb(243, 242, 242);
    --lwc-colorGray4: rgb(236, 235, 234);
    --lwc-colorGray5: rgb(221, 219, 218);
    --lwc-colorGray6: rgb(201, 199, 197);
    --lwc-colorGray7: rgb(176, 173, 171);
    --lwc-colorGray8: rgb(150, 148, 146);
    --lwc-colorGray9: rgb(112, 110, 107);
    --lwc-colorPickerInputCustomHexFontSize: 0.75rem;
    --lwc-colorPickerInputCustomHexWidth: 4.2rem;
    --lwc-colorPickerRangeHeight: 5rem;
    --lwc-colorPickerRangeIndicatorSize: 0.75rem;
    --lwc-colorPickerSelectorWidth: 14rem;
    --lwc-colorPickerSliderHeight: 1.5rem;
    --lwc-colorPickerSliderThumbBorderColor: rgb(81, 79, 77);
    --lwc-colorPickerSliderThumbColorBackground: rgb(250, 250, 249);
    --lwc-colorPickerSwatchShadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    --lwc-colorPickerSwatchSize: 1.25rem;
    --lwc-colorPickerSwatchesWidth: 13.3rem;
    --lwc-colorPickerThumbWidth: 0.375rem;
    --lwc-colorStrokeBrand: rgb(0, 112, 210);
    --lwc-colorStrokeBrandActive: rgb(22, 50, 92);
    --lwc-colorStrokeBrandHover: rgb(0, 112, 210);
    --lwc-colorStrokeDisabled: rgb(233, 234, 236);
    --lwc-colorStrokeHeaderButton: rgb(171, 173, 176);
    --lwc-colorTextActionLabel: rgb(107, 109, 112);
    --lwc-colorTextActionLabelActive: rgb(22, 50, 92);
    --lwc-colorTextBrand: rgb(21, 137, 238);
    --lwc-colorTextBrandPrimary: rgb(255, 255, 255);
    --lwc-colorTextBrowser: rgb(255, 255, 255);
    --lwc-colorTextBrowserActive: rgba(0, 0, 0, 0.4);
    --lwc-colorTextButtonBrand: rgb(255, 255, 255);
    --lwc-colorTextButtonBrandActive: rgb(255, 255, 255);
    --lwc-colorTextButtonBrandDisabled: rgb(255, 255, 255);
    --lwc-colorTextButtonBrandHover: rgb(255, 255, 255);
    --lwc-colorTextButtonDefault: rgb(0, 112, 210);
    --lwc-colorTextButtonDefaultActive: rgb(0, 112, 210);
    --lwc-colorTextButtonDefaultDisabled: rgb(217, 219, 221);
    --lwc-colorTextButtonDefaultHint: rgb(171, 173, 176);
    --lwc-colorTextButtonDefaultHover: rgb(0, 112, 210);
    --lwc-colorTextButtonInverse: rgb(233, 234, 236);
    --lwc-colorTextButtonInverseDisabled: rgba(255, 255, 255, 0.15);
    --lwc-colorTextContextBar: rgb(62, 62, 60);
    --lwc-colorTextContextBarActionTrigger: rgba(255, 255, 255, 0.4);
    --lwc-colorTextContextBarInverse: rgb(255, 255, 255);
    --lwc-colorTextCustomer: rgb(255, 154, 60);
    --lwc-colorTextDefault: rgb(22, 50, 92);
    --lwc-colorTextDestructive: rgb(194, 57, 52);
    --lwc-colorTextDestructiveHover: rgb(161, 43, 43);
    --lwc-colorTextError: rgb(194, 57, 52);
    --lwc-colorTextIconBrand: rgb(0, 112, 210);
    --lwc-colorTextIconDefault: rgb(107, 109, 112);
    --lwc-colorTextIconDefaultActive: rgb(0, 57, 107);
    --lwc-colorTextIconDefaultDisabled: rgb(217, 219, 221);
    --lwc-colorTextIconDefaultHint: rgb(171, 173, 176);
    --lwc-colorTextIconDefaultHintBorderless: rgb(233, 234, 236);
    --lwc-colorTextIconDefaultHover: rgb(0, 112, 210);
    --lwc-colorTextIconInverse: rgb(255, 255, 255);
    --lwc-colorTextIconInverseActive: rgb(255, 255, 255);
    --lwc-colorTextIconInverseDisabled: rgba(255, 255, 255, 0.15);
    --lwc-colorTextIconInverseHint: rgba(255, 255, 255, 0.5);
    --lwc-colorTextIconInverseHintHover: rgba(255, 255, 255, 0.75);
    --lwc-colorTextIconInverseHover: rgb(255, 255, 255);
    --lwc-colorTextIconUtility: rgb(171, 173, 176);
    --lwc-colorTextInputDisabled: rgb(107, 109, 112);
    --lwc-colorTextInputFocusInverse: rgb(22, 50, 92);
    --lwc-colorTextInputIcon: rgb(171, 173, 176);
    --lwc-colorTextInverse: rgb(255, 255, 255);
    --lwc-colorTextInverseActive: rgb(94, 180, 255);
    --lwc-colorTextInverseHover: rgb(171, 173, 176);
    --lwc-colorTextInverseWeak: rgb(171, 173, 176);
    --lwc-colorTextLabel: rgb(107, 109, 112);
    --lwc-colorTextLink: rgb(0, 112, 210);
    --lwc-colorTextLinkActive: rgb(0, 57, 107);
    --lwc-colorTextLinkDisabled: rgb(22, 50, 92);
    --lwc-colorTextLinkFocus: rgb(0, 95, 178);
    --lwc-colorTextLinkHover: rgb(0, 95, 178);
    --lwc-colorTextLinkInverse: rgb(255, 255, 255);
    --lwc-colorTextLinkInverseActive: rgba(255, 255, 255, 0.5);
    --lwc-colorTextLinkInverseDisabled: rgba(255, 255, 255, 0.15);
    --lwc-colorTextLinkInverseHover: rgba(255, 255, 255, 0.75);
    --lwc-colorTextLinkPrimary: rgb(0, 112, 210);
    --lwc-colorTextLinkPrimaryActive: rgb(0, 57, 107);
    --lwc-colorTextLinkPrimaryFocus: rgb(0, 112, 210);
    --lwc-colorTextLinkPrimaryHover: rgb(0, 112, 210);
    --lwc-colorTextModal: rgb(255, 255, 255);
    --lwc-colorTextModalButton: rgb(107, 109, 112);
    --lwc-colorTextPathCurrent: rgb(0, 95, 178);
    --lwc-colorTextPathCurrentHover: rgb(0, 57, 107);
    --lwc-colorTextPill: rgb(0, 112, 210);
    --lwc-colorTextPlaceholder: rgb(107, 109, 112);
    --lwc-colorTextPlaceholderInverse: rgb(233, 234, 236);
    --lwc-colorTextPrimary: rgb(22, 50, 92);
    --lwc-colorTextRequired: rgb(194, 57, 52);
    --lwc-colorTextSecondary: rgb(107, 109, 112);
    --lwc-colorTextStageLeft: rgb(233, 234, 236);
    --lwc-colorTextSuccess: rgb(2, 126, 70);
    --lwc-colorTextSuccessInverse: rgb(75, 202, 129);
    --lwc-colorTextTabLabel: rgb(22, 50, 92);
    --lwc-colorTextTabLabelActive: rgb(0, 57, 107);
    --lwc-colorTextTabLabelDisabled: rgb(233, 234, 236);
    --lwc-colorTextTabLabelFocus: rgb(0, 95, 178);
    --lwc-colorTextTabLabelHover: rgb(0, 95, 178);
    --lwc-colorTextTabLabelSelected: rgb(0, 112, 210);
    --lwc-colorTextTertiary: rgb(107, 109, 112);
    --lwc-colorTextToast: rgb(233, 234, 236);
    --lwc-colorTextToggleDisabled: rgb(217, 219, 221);
    --lwc-colorTextWarning: rgb(255, 183, 93);
    --lwc-colorTextWarningAlt: rgb(132, 72, 0);
    --lwc-colorTextWeak: rgb(107, 109, 112);
    --lwc-componentSpacingMargin: 0;
    --lwc-componentSpacingPadding: 1rem;
    --lwc-dropZoneSlotHeight: 0.25rem;
    --lwc-durationImmediately: 0.05s;
    --lwc-durationInstantly: 0s;
    --lwc-durationPaused: 3.2s;
    --lwc-durationPromptly: 0.2s;
    --lwc-durationQuickly: 0.1s;
    --lwc-durationSlowly: 0.4s;
    --lwc-durationToastMedium: 9.6s;
    --lwc-durationToastShort: 4.8s;
    --lwc-einsteinHeaderBackground: / _slds/images/einstein-headers/einstein-header-background.svg?cache=1ce8687b;
    --lwc-einsteinHeaderBackgroundColor: rgb(149, 203, 252);
    --lwc-einsteinHeaderFigure: / _slds/images/einstein-headers/einstein-figure.svg?cache=6e21da99;
    --lwc-einsteinHeaderTextShadow: #9edaff;
    --lwc-elevation0: 0;
    --lwc-elevation16: 16;
    --lwc-elevation2: 2;
    --lwc-elevation32: 32;
    --lwc-elevation3Inset: -3;
    --lwc-elevation4: 4;
    --lwc-elevation8: 8;
    --lwc-elevationInverseShadow0: none;
    --lwc-elevationInverseShadow16: 0 -16px 16px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationInverseShadow2: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationInverseShadow32: 0 -32px 32px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationInverseShadow3Below: 0 -3px 3px 0 rgba(0, 0, 0, 0.16) inset;
    --lwc-elevationInverseShadow4: 0 -4px 4px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationInverseShadow8: 0 -8px 8px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationShadow0: none;
    --lwc-elevationShadow16: 0 16px 16px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationShadow2: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationShadow32: 0 32px 32px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationShadow3Below: 0 3px 3px 0 rgba(0, 0, 0, 0.16) inset;
    --lwc-elevationShadow4: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    --lwc-elevationShadow8: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
    --lwc-fillBrand: rgb(0, 112, 210);
    --lwc-fillBrandActive: rgb(22, 50, 92);
    --lwc-fillBrandHover: rgb(0, 95, 178);
    --lwc-fillHeaderButton: rgb(176, 173, 171);
    --lwc-fillHeaderButtonFocus: rgb(0, 112, 210);
    --lwc-fillHeaderButtonHover: rgb(0, 95, 178);
    --lwc-fontFamily: 'Salesforce Sans', Arial, sans-serif;
    --lwc-fontFamilyHeading: 'Salesforce Sans', Arial, sans-serif;
    --lwc-fontFamilyMonospace: Consolas, Menlo, Monaco, Courier, monospace;
    --lwc-fontFamilyText: 'Salesforce Sans', Arial, sans-serif;
    --lwc-fontSize1: 0.625rem;
    --lwc-fontSize10: 2rem;
    --lwc-fontSize11: 2.625rem;
    --lwc-fontSize2: 0.75rem;
    --lwc-fontSize3: 0.8125rem;
    --lwc-fontSize4: 0.875rem;
    --lwc-fontSize5: 1rem;
    --lwc-fontSize6: 1.125rem;
    --lwc-fontSize7: 1.25rem;
    --lwc-fontSize8: 1.5rem;
    --lwc-fontSize9: 1.75rem;
    --lwc-fontSizeHeadingLarge: 1.5rem;
    --lwc-fontSizeHeadingMedium: 1.125rem;
    --lwc-fontSizeHeadingSmall: 0.875rem;
    --lwc-fontSizeHeadingXLarge: 1.75rem;
    --lwc-fontSizeHeadingXSmall: 0.75rem;
    --lwc-fontSizeHeadingXxSmall: 0.625rem;
    --lwc-fontSizeLarge: 1.25rem;
    --lwc-fontSizeMedium: 1rem;
    --lwc-fontSizeMediumA: 1.125rem;
    --lwc-fontSizeSmall: 0.875rem;
    --lwc-fontSizeTextLarge: 1.125rem;
    --lwc-fontSizeTextMedium: 1rem;
    --lwc-fontSizeTextSmall: 0.8125rem;
    --lwc-fontSizeTextXLarge: 1.25rem;
    --lwc-fontSizeTextXSmall: 0.75rem;
    --lwc-fontSizeTextXxSmall: 0.625rem;
    --lwc-fontSizeXLarge: 1.5rem;
    --lwc-fontSizeXLargeA: 1.57rem;
    --lwc-fontSizeXSmall: 0.625rem;
    --lwc-fontSizeXxLarge: 2rem;
    --lwc-fontWeightBold: 700;
    --lwc-fontWeightLight: 300;
    --lwc-fontWeightRegular: 400;
    --lwc-formLabelFontSize: 0.75rem;
    --lwc-globalActionFillHover: rgb(0, 112, 210);
    --lwc-globalActionIconSize: 1.5rem;
    --lwc-globalHeaderColorBackground: rgb(255, 255, 255);
    --lwc-globalnavigationItemHeightAccentActive: 3px;
    --lwc-globalnavigationItemHeightAccentFocus: 4px;
    --lwc-groupDefaultAvatar: / _slds/images/group_avatar_200.png?cache=9311a1d0;
    --lwc-groupDefaultAvatarMedium: / _slds/images/group_avatar_160.png?cache=b372599f;
    --lwc-groupDefaultAvatarSmall: / _slds/images/group_avatar_96.png?cache=86a3ad10;
    --lwc-heightContextBar: 2.5rem;
    --lwc-heightDockedBar: 2.5rem;
    --lwc-heightHeader: 2.75rem;
    --lwc-heightInput: 1.875rem;
    --lwc-heightPill: 1.625rem;
    --lwc-heightSalesPath: 2rem;
    --lwc-heightToggle: 1.5rem;
    --lwc-illustrationColorPrimary: rgb(140, 211, 248);
    --lwc-illustrationColorSecondary: rgb(194, 232, 255);
    --lwc-illustrationEmptyStateAssistant: / _slds/images/illustrations/empty-state-assistant.svg?cache=4a3d2793;
    --lwc-illustrationEmptyStateEvents: / _slds/images/illustrations/empty-state-events.svg?cache=9ab6224c;
    --lwc-illustrationEmptyStateTasks: / _slds/images/illustrations/empty-state-tasks.svg?cache=5202d6db;
    --lwc-inputReadonlyFontWeight: 400;
    --lwc-inputStaticColor: rgb(8, 7, 7);
    --lwc-inputStaticFontSize: 0.8125rem;
    --lwc-inputStaticFontWeight: 400;
    --lwc-lineHeightButton: 1.875rem;
    --lwc-lineHeightButtonSmall: 1.75rem;
    --lwc-lineHeightHeading: 1.25;
    --lwc-lineHeightReset: 1;
    --lwc-lineHeightSalespath: 1.5rem;
    --lwc-lineHeightTab: 2.5rem;
    --lwc-lineHeightText: 1.5;
    --lwc-lineHeightToggle: 1.3rem;
    --lwc-maxWidthActionOverflowMenu: 512px;
    --lwc-notificationColorBackgroundInverse: rgb(112, 110, 107);
    --lwc-opacity5: 0.5;
    --lwc-opacity8: 0.8;
    --lwc-pageColorBackgroundPrimary: rgb(255, 255, 255);
    --lwc-pageHeaderBorderRadius: 0;
    --lwc-pageHeaderColorBackground: rgb(250, 250, 249);
    --lwc-pageHeaderColorBackgroundAlt: rgb(255, 255, 255);
    --lwc-pageHeaderColorBorder: rgba(0, 0, 0, 0);
    --lwc-pageHeaderIconSize: 2.25rem;
    --lwc-pageHeaderJoinedColorBorder: rgb(221, 219, 218);
    --lwc-pageHeaderShadow: none;
    --lwc-pageHeaderSpacingMargin: 0;
    --lwc-pageHeaderSpacingPadding: 1rem;
    --lwc-pageHeaderSpacingRow: 0.75rem 1rem;
    --lwc-pageHeaderTitleFontSize: 1.125rem;
    --lwc-pageHeaderTitleFontWeight: 400;
    --lwc-panelDockedLeftShadow: 1px 0 3px rgba(0, 0, 0, 0.25);
    --lwc-panelDockedRightShadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
    --lwc-pathButtonWidthFixed: 13rem;
    --lwc-popoverColorText: rgb(217, 219, 221);
    --lwc-popoverWalkthroughAltImage: ;
    --lwc-popoverWalkthroughAltNubbinColorBackground: rgb(0, 112, 210);
    --lwc-popoverWalkthroughColorBackground: rgb(6, 28, 63);
    --lwc-popoverWalkthroughColorBackgroundAlt: rgb(0, 112, 210);
    --lwc-popoverWalkthroughHeaderColorBackground: rgb(22, 50, 92);
    --lwc-popoverWalkthroughHeaderImage: ;
    --lwc-progressBarColorBackground: rgb(221, 219, 218);
    --lwc-progressBarColorBackgroundFill: rgb(94, 180, 255);
    --lwc-progressBarColorBackgroundFillSuccess: rgb(75, 202, 129);
    --lwc-progressBarHeight: 0.125rem;
    --lwc-progressColorBackground: rgb(255, 255, 255);
    --lwc-progressColorBackgroundShade: rgb(250, 250, 249);
    --lwc-progressColorBorder: rgb(255, 255, 255);
    --lwc-progressColorBorderActive: rgb(21, 137, 238);
    --lwc-progressColorBorderHover: rgb(0, 112, 210);
    --lwc-progressColorBorderShade: rgb(250, 250, 249);
    --lwc-progressRingWidth: 0.1875rem;
    --lwc-shadowActionOverflowFooter: 0 -2px 4px #f9f9fa;
    --lwc-shadowButton: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    --lwc-shadowButtonFocus: 0 0 3px #0070d2;
    --lwc-shadowButtonFocusInverse: 0 0 3px #e9eaec;
    --lwc-shadowDocked: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
    --lwc-shadowDrag: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    --lwc-shadowDropDown: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    --lwc-shadowFocusInset: 0 0 2px 2px #1589ee inset;
    --lwc-shadowHardPrimary: none;
    --lwc-shadowHeader: 0 2px 4px rgba(0, 0, 0, 0.07);
    --lwc-shadowImage: 0 1px 1px rgba(0, 0, 0, 0.16);
    --lwc-shadowInlineEdit: 0 2px 4px 4px rgba(0, 0, 0, 0.16);
    --lwc-shadowLinkFocusInverse: 0 0 3px #e9eaec;
    --lwc-shadowOverlay: 0 -2px 4px rgba(0, 0, 0, 0.07);
    --lwc-shadowReminder: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    --lwc-shadowSoftPrimary: none;
    --lwc-shadowSoftPrimaryActive: none;
    --lwc-shadowSoftPrimaryHover: none;
    --lwc-sizeLarge: 25rem;
    --lwc-sizeMedium: 20rem;
    --lwc-sizeSmall: 15rem;
    --lwc-sizeXLarge: 40rem;
    --lwc-sizeXSmall: 12rem;
    --lwc-sizeXxLarge: 60rem;
    --lwc-sizeXxSmall: 6rem;
    --lwc-sizeXxxSmall: 3rem;
    --lwc-sliderColorBackgroundDisabled: rgb(236, 235, 234);
    --lwc-sliderHandleColorBackground: rgb(21, 137, 238);
    --lwc-sliderHandleColorBackgroundActive: rgb(0, 112, 210);
    --lwc-sliderHandleColorBackgroundFocus: rgb(0, 112, 210);
    --lwc-sliderHandleColorBackgroundHover: rgb(0, 112, 210);
    --lwc-sliderHandleShadow: rgba(0, 0, 0, 0.16) 0 2px 3px;
    --lwc-sliderHandleSize: 1rem;
    --lwc-sliderTrackColorBackground: rgb(236, 235, 234);
    --lwc-sliderTrackColorBackgroundFill: rgb(21, 137, 238);
    --lwc-sliderTrackHeight: 4px;
    --lwc-sliderTrackWidth: 100%;
    --lwc-spacingLarge: 1.5rem;
    --lwc-spacingMedium: 1rem;
    --lwc-spacingNone: 0;
    --lwc-spacingSmall: 0.75rem;
    --lwc-spacingXLarge: 2rem;
    --lwc-spacingXSmall: 0.5rem;
    --lwc-spacingXxLarge: 3rem;
    --lwc-spacingXxSmall: 0.25rem;
    --lwc-spacingXxxSmall: 0.125rem;
    --lwc-splitViewColorBackground: rgb(250, 250, 249);
    --lwc-splitViewColorBackgroundRowHover: rgb(255, 255, 255);
    --lwc-splitViewColorBorder: rgb(221, 219, 218);
    --lwc-splitViewWidth: 25rem;
    --lwc-squareIconGlobalIdentityIcon: 1.25rem;
    --lwc-squareIconLarge: 3.125rem;
    --lwc-squareIconLargeBoundary: 3rem;
    --lwc-squareIconLargeBoundaryAlt: 5rem;
    --lwc-squareIconLargeContent: 2rem;
    --lwc-squareIconMedium: 2.375rem;
    --lwc-squareIconMediumBoundary: 2rem;
    --lwc-squareIconMediumBoundaryAlt: 2.25rem;
    --lwc-squareIconMediumContent: 1rem;
    --lwc-squareIconMediumContentAlt: 0.875rem;
    --lwc-squareIconSmall: 1rem;
    --lwc-squareIconSmallBoundary: 1.5rem;
    --lwc-squareIconSmallContent: 0.75rem;
    --lwc-squareIconUtilityLarge: 1.5rem;
    --lwc-squareIconUtilityMedium: 1.25rem;
    --lwc-squareIconUtilitySmall: 1rem;
    --lwc-squareIconXSmallBoundary: 1.25rem;
    --lwc-squareIconXSmallContent: 0.5rem;
    --lwc-squareIconXxSmallBoundary: 1rem;
    --lwc-squareIconXxSmallContent: 0.875rem;
    --lwc-squareTappable: 2.75rem;
    --lwc-squareToggleSlider: 1.25rem;
    --lwc-tableBorderRadius: 0;
    --lwc-tableCellSpacing: 0.5rem;
    --lwc-tableColorBackgroundHeader: rgb(255, 255, 255);
    --lwc-tableColorBackgroundHeaderFocus: rgb(255, 255, 255);
    --lwc-tableColorBackgroundHeaderHover: rgb(250, 250, 249);
    --lwc-tableColorBackgroundStripes: rgb(250, 250, 249);
    --lwc-tableColorTextHeader: rgb(81, 79, 77);
    --lwc-tabsFontWeight: 400;
    --lwc-templateGutters: 0;
    --lwc-templateProfileGutters: 0;
    --lwc-textTransform: none;
    --lwc-typingIconDotColorBackgroundGray: rgb(221, 219, 218);
    --lwc-typingIconDotColorBackgroundGrayDark: rgb(201, 199, 197);
    --lwc-typingIconDotSize: 0.5rem;
    --lwc-userDefaultAvatar: / _slds/images/profile_avatar_200.png?cache=d962235b;
    --lwc-userDefaultAvatarMedium: / _slds/images/profile_avatar_160.png?cache=32ea9f27;
    --lwc-userDefaultAvatarSmall: / _slds/images/profile_avatar_96.png?cache=ece13643;
    --lwc-utilityBarColorBackgroundNotificationBadge: rgb(212, 80, 76);
    --lwc-utilityBarColorBackgroundNotificationFocus: rgb(201, 199, 197);
    --lwc-varFontSize1: 0.625rem;
    --lwc-varFontSize10: 2rem;
    --lwc-varFontSize11: 2.625rem;
    --lwc-varFontSize2: 0.75rem;
    --lwc-varFontSize3: 0.8125rem;
    --lwc-varFontSize4: 0.875rem;
    --lwc-varFontSize5: 1rem;
    --lwc-varFontSize6: 1.125rem;
    --lwc-varFontSize7: 1.25rem;
    --lwc-varFontSize8: 1.5rem;
    --lwc-varFontSize9: 1.75rem;
    --lwc-varLineHeightText: 1.5;
    --lwc-varSpacingHorizontalLarge: 1.5rem;
    --lwc-varSpacingHorizontalMedium: 1rem;
    --lwc-varSpacingHorizontalSmall: 0.75rem;
    --lwc-varSpacingHorizontalXLarge: 2rem;
    --lwc-varSpacingHorizontalXSmall: 0.5rem;
    --lwc-varSpacingHorizontalXxLarge: 3rem;
    --lwc-varSpacingHorizontalXxSmall: 0.25rem;
    --lwc-varSpacingHorizontalXxxSmall: 0.125rem;
    --lwc-varSpacingLarge: 1.5rem;
    --lwc-varSpacingMedium: 1rem;
    --lwc-varSpacingSmall: 0.75rem;
    --lwc-varSpacingVerticalLarge: 1.5rem;
    --lwc-varSpacingVerticalMedium: 1rem;
    --lwc-varSpacingVerticalSmall: 0.75rem;
    --lwc-varSpacingVerticalXLarge: 2rem;
    --lwc-varSpacingVerticalXSmall: 0.5rem;
    --lwc-varSpacingVerticalXxLarge: 3rem;
    --lwc-varSpacingVerticalXxSmall: 0.25rem;
    --lwc-varSpacingVerticalXxxSmall: 0.125rem;
    --lwc-varSpacingXLarge: 2rem;
    --lwc-varSpacingXSmall: 0.5rem;
    --lwc-varSpacingXxLarge: 3rem;
    --lwc-varSpacingXxSmall: 0.25rem;
    --lwc-varSpacingXxxSmall: 0.125rem;
    --lwc-varSquareIconMediumBoundary: 2rem;
    --lwc-verticalNavigationColorBackgroundShadeRowActive: rgb(236, 235, 234);
    --lwc-verticalNavigationColorBackgroundShadeRowHover: rgb(243, 242, 242);
    --lwc-welcomeMatBackgroundColorInfo: rgb(202, 230, 241);
    --lwc-welcomeMatBackgroundImageInfo: / _slds/images/welcome-mat/bg-info @2x.png?cache=fccf7475;
    --lwc-welcomeMatCheckSize: 0.625rem;
    --lwc-welcomeMatColorActionShadow: rgba(0, 0, 0, 0.05);
    --lwc-welcomeMatColorBackgroundProgressBar: rgb(255, 255, 255);
    --lwc-welcomeMatColorIconComplete: rgb(201, 199, 197);
    --lwc-welcomeMatCompleteIconSize: 1.25rem;
    --lwc-welcomeMatFontSizeInfoTitle: 2.625rem;
    --lwc-welcomeMatMaxHeight: 37.5rem;
    --lwc-welcomeMatMinHeight: 25rem;
    --lwc-welcomeMatSpacingInfo: 7.75rem;
    --lwc-welcomeMatTextColorInfo: rgb(0, 57, 107);
    --lwc-welcomeMatWidth: 52.0625rem;
    --lwc-welcomeMatWidthProgressBar: 12.5rem;
    --lwc-widthPathBorderCurrent: 0.125rem;
    --lwc-widthToggle: 3rem;
    --lwc-zIndexDeepdive: -99999;
    --lwc-zIndexDefault: 1;
    --lwc-zIndexDialog: 6000;
    --lwc-zIndexDocked: 4;
    --lwc-zIndexDropdown: 7000;
    --lwc-zIndexModal: 9000;
    --lwc-zIndexOverlay: 8000;
    --lwc-zIndexPopup: 5000;
    --lwc-zIndexReminder: 8500;
    --lwc-zIndexSpinner: 9050;
    --lwc-zIndexSticky: 100;
    --lwc-zIndexToast: 10000;
}
