builder_platform_interaction-flc-flow {
    position: absolute;
}

builder_platform_interaction-flc-connector {
    position: absolute;
}

builder_platform_interaction-flc-compound-node {
    position: absolute;
    transition: opacity 1s;
    opacity: 1;
}

.hidden {
    display: none;
}

builder_platform_interaction-flc-compound-node.is-new {
    opacity: 0.1;
}
