:host {
    --node-icon-width: 48px;
    --node-icon-height: 48px;

    --paste-node-width: 35px;
    --paste-node-height: 35px;

    --node-icon-half-width: calc(var(--node-icon-width) / 2);
    --node-icon-half-height: calc(var(--node-icon-height) / 2);

    --node-icon-width-with-padding: 56px;
    --node-icon-height-with-padding: 56px;

    --node-icon-half-width-with-padding: calc(var(--node-icon-width-with-padding) / 2);
    --node-icon-half-height-with-padding: calc(var(--node-icon-height-with-padding) / 2);
    overflow: hidden;

    /* TODO: W-9582142: Group, clean up and rationalize the z-index number assignments   */
    --z-index-alc-connector-svg: -1;
    --z-index-alc-connector-branch: -2;
    --z-index-alc-connector-branch-is-highlighted: -1;

    --z-index-alc-dynamic-node-trigger: 2;
    --z-index-alc-dynamic-node: 1;

    --z-index-alc-dynamic-node-trigger-menu-opened: 4;
    --z-index-alc-dynamic-node-menu-opened: 3;

    --z-index-alc-menu: 3;
    --z-index-alc-menu-trigger-open: 4;
    --z-index-alc-menu-trigger-container-open: 4;

    --z-index-alc-canvas-overlay: 99999;

    --alc-menu-width: 300px;
    --alc-menu-background: var(--lwc-colorGray2);
}

.canvas-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-alc-canvas-overlay);
    cursor: pointer;
}

.hidden {
    display: none;
}

builder_platform_interaction-alc-flow {
    position: absolute;
    margin-top: var(--node-icon-height);
}

.flow-container {
    display: flex;
    flex: auto;
    position: relative;
}

builder_platform_interaction-zoom-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    transition: left 0.25s cubic-bezier(0.7, 0, 0.5, 1);
}

builder_platform_interaction-field-input {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

builder_platform_interaction-scoped-notification {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.canvas {
    display: flex;
    flex: auto;
    outline: none;
    position: relative;
    overflow: hidden; /* @see W-9498813: Panning offsets are not updated when bringing the element into the viewport */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.canvas.grabbing-cursor {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
