:host {
    --node-icon-width: 48px;
    --node-icon-height: 48px;

    --node-icon-half-width: calc(var(--node-icon-width) / 2);
    --node-icon-half-height: calc(var(--node-icon-height) / 2);

    --node-icon-width-with-padding: 56px;
    --node-icon-height-with-padding: 56px;

    --node-icon-half-width-with-padding: calc(var(--node-icon-width-with-padding) / 2);
    --node-icon-half-height-with-padding: calc(var(--node-icon-height-with-padding) / 2);
    overflow: hidden;
}

.menu {
    position: absolute;
    z-index: 1;
}

.hidden {
    display: none;
}

builder_platform_interaction-alc-flow {
    position: absolute;
}

.flow-container {
    display: flex;
    flex: auto;
    position: relative;
}

builder_platform_interaction-zoom-panel {
    position: fixed;
    bottom: 0;
}

.canvas {
    display: flex;
    flex: auto;
    outline: none;
    position: relative;
}

.menu {
    position: absolute;
    z-index: 5;
}

.overlay {
    width: 300px;
    background-color: rgb(250, 250, 252);
}

.menu-container.full-opacity {
    opacity: 1;
    transition: opacity 0.1s ease;
    z-index: 1;
}

.menu-container {
    opacity: 0;
    transition: opacity 0.1s ease;
}
