/**
 * @summary Initializes a footer for community with more than one section that lists label / action pairs
 *
 * @name nds-footer-communities
 * @selector .nds-footer-communities
 * @modifier
 */
 .nds-communities-search-card {
  background: #0070D2;
  padding: 3.6rem 8rem 4rem 8rem;

    &_heading {
      padding-bottom: .25rem;
      font-weight: 500;
      font-size: $font-size-9;
    }

    &__search-col {
      padding-top: 1rem;
    }

    .nds-text-body_medium {
      font-weight: 100;
      font-size: $font-size-5;
    }

}


@media screen and (max-width: 76rem) {
  .nds-communities-search-card {
    display: block;
    padding: 3rem 1rem 2rem 1rem;
    text-align: center;

    &_heading {
      font-size: $font-size-8;
    }

    &__info-col {
      padding: 0 2rem 0 2rem;
    }

    &__search-col {
      padding-top: 3rem;
    }
  }

}