/************* Header *****************/
.THIS builder_platform_interaction-header .flow-builder-header-label {
    color: t(colorTextInverse);
}
/************* Toolbar *****************/
/*TODO: Remove button-group css once lightning-button-group is available in raptor*/
.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__item-group .slds-button-group lightning-button-icon .slds-button {
    border-radius: 0;
    margin-left: -1px;
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__item-group .slds-button-group lightning-button-icon:first-child .slds-button {
    border-radius: .25rem 0 0 .25rem;
    margin-left: t(spacingNone);
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__item-group .slds-button-group lightning-button-icon:last-child .slds-button {
    border-radius: 0 .25rem .25rem 0;
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__item-group .slds-button-group lightning-button-icon:only-child .slds-button {
    border-radius: t(borderRadiusMedium);
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__actions .slds-button-group lightning-button .slds-button {
    border-radius: 0;
    margin-left: -1px;
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__actions .slds-button-group lightning-button:first-child .slds-button {
    border-radius: .25rem 0 0 .25rem;
    margin-left: t(spacingNone);
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__actions .slds-button-group lightning-button:last-child .slds-button {
    border-radius: 0 .25rem .25rem 0;
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar .slds-builder-toolbar__actions .slds-button-group lightning-button:only-child .slds-button {
    border-radius: t(borderRadiusMedium);
}

.THIS builder_platform_interaction-toolbar .slds-builder-toolbar__actions .inline-display {
    display: inline-flex;
}

/************* Left Panel *****************/
.THIS builder_platform_interaction-left-panel .left-panel {
    z-index: 1;
    overflow-x: hidden;
}

.THIS builder_platform_interaction-left-panel .left-panel-header {
    transition: padding t(durationSlide) ease;
}

.THIS builder_platform_interaction-left-panel .left-panel .flow-resource-list {
    width: 100%;
    flex: none;
    transition: margin t(durationSlide) ease-in-out, opacity t(durationPromptly) ease;
}

.THIS builder_platform_interaction-left-panel #left-panel-tabcontent-elements {
    height: calc(100vh - 198px);
    -webkit-overflow-scrolling: touch;
    overflow:hidden;
    overflow-y:auto;
}

.THIS builder_platform_interaction-left-panel .left-panel .flow-resource-details {
    width: 100%;
    flex: none;
    transition: margin t(durationSlide) ease-in-out, opacity t(durationPromptly) ease;
    opacity: 0;
}

.THIS builder_platform_interaction-resource-details .resource-detail-panel-body {
    max-height: calc(100vh - 205px);
    -webkit-overflow-scrolling: touch;
}

.THIS builder_platform_interaction-left-panel .flow-resource-list .new-resource-button button {
    flex-grow: 1;
}

.THIS builder_platform_interaction-left-panel-resources .resource-manager-container {
    height: calc(100vh - 248px);
    -webkit-overflow-scrolling: touch;
}

.THIS builder_platform_interaction-left-panel .left-panel.show-details .left-panel-header .back-button {
    transform: translateX(0px);
}

.THIS builder_platform_interaction-left-panel .left-panel.show-details .flow-resource-list {
    opacity: 0;
    margin-left: -320px;
}

.THIS builder_platform_interaction-left-panel .left-panel.show-details .flow-resource-details {
    opacity: 1;
}

.THIS builder_platform_interaction-left-panel-resources table  {
    table-layout: fixed;
}

.THIS builder_platform_interaction-left-panel-resources table tr:first-of-type td:last-of-type {
    width: 30px;
}

/************* Canvas *****************/
.THIS builder_platform_interaction-canvas .canvas {
    background-color: t(colorForegroundPrimary);
    height: 100%;
    overflow: hidden;
    outline: none;
    user-select: none;
}

.THIS builder_platform_interaction-canvas .canvas .overlay {
    height: 100%;
    width: 100%;
    z-index: 404;
}

.THIS builder_platform_interaction-canvas .canvas .inner-canvas {
    height: 100%;
    width: 100%;
}

/************* Zoom Panel *****************/
/*TODO: Remove button-group css once lightning-button-group is available in raptor*/
.THIS builder_platform_interaction-zoom-panel .zoom-panel {
    bottom: t(spacingNone);
    right: t(spacingNone);
    z-index: 405;
}

.THIS builder_platform_interaction-zoom-panel .zoom-panel .slds-button-group lightning-button-icon .slds-button {
    border-radius: 0;
    margin-left: -1px;
}

.THIS builder_platform_interaction-zoom-panel .zoom-panel .slds-button-group lightning-button-icon:first-child .slds-button {
    border-radius: .25rem 0 0 .25rem;
    margin-left: t(spacingNone);;
}

.THIS builder_platform_interaction-zoom-panel .zoom-panel .slds-button-group lightning-button-icon:last-child .slds-button {
    border-radius: 0 .25rem .25rem 0;
}

.THIS builder_platform_interaction-zoom-panel .zoom-panel .slds-button-group lightning-button-icon:only-child .slds-button {
    border-radius: t(borderRadiusMedium);
}

/************* Node *****************/
.THIS builder_platform_interaction-node .element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.THIS builder_platform_interaction-node .node-container {
    cursor: pointer;
}

.THIS builder_platform_interaction-node .node-container:active {
    z-index: 400;
}

.THIS builder_platform_interaction-node .targetHover .icon {
    transform: scale(1.05);
    box-shadow: 0 0 0 2px white, 0 0 0 3px t(colorBorderSelection), 0 0 6px 3px t(colorBorderSelection);
}

.THIS builder_platform_interaction-node .icon:hover {
    transform: scale(1.05);
}

.THIS builder_platform_interaction-node .icon:focus {
    outline: none;
}

.THIS builder_platform_interaction-node .icon-section.selected .icon {
    transform: scale(1.1);
    box-shadow: 0 0 0 2px white, 0 0 0 3px t(colorBorderSelection), 0 0 6px 3px t(colorBorderSelection);
}

.THIS builder_platform_interaction-node .icon {
    transition: transform 0.12s ease, box-shadow .1s ease-in;
    transform-origin: 50% 100%;
    padding: t(spacingNone);
    border: none;
    border-radius: t(borderRadiusMedium);
}

.THIS builder_platform_interaction-node .end-point {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: t(borderWidthThick) solid white;
    box-shadow: inset 0px 0px 0px 2px t(colorBackgroundToggleHover);
    background-color: t(colorBackgroundButtonDefault);
    transition: box-shadow 0.1s ease, background-color 0.25s ease-out;
    top: 38px;
    left: 13px;
    z-index: 300;
}

.THIS builder_platform_interaction-node .end-point:hover {
    background-color: t(colorBackgroundAlt2);
    transform: scale(1.1);
}

.THIS builder_platform_interaction-node .end-point:active,.THIS builder_platform_interaction-node .end-point:focus {
    box-shadow: inset 0px 0px 0px 2px t(colorBrandDark), t(shadowButtonFocus);
    transform: scale(1.2);
}

.THIS builder_platform_interaction-node .end-point:focus {
    outline: none;
}

.THIS builder_platform_interaction-node .trash-can {
    top: -27px;
    left: 50px;
}

.THIS builder_platform_interaction-node .trash-can .slds-button.slds-button_icon-bare:active {
    outline: none;
    box-shadow: 0 0 3px #0070d2;
}

.THIS builder_platform_interaction-node .text-container {
    top: 57px;
    max-width: 132px;
}

.THIS builder_platform_interaction-node .text-container .text-label {
    font-weight: t(fontWeightBold);
    background-color: t(colorBackgroundBackdrop);
    padding: 0 3px;
}

.THIS builder_platform_interaction-node .text-container .text-description {
    background-color: t(colorBackgroundBackdrop);
    padding: 0 3px;
}

/************* Connector *****************/
.THIS builder_platform_interaction-canvas .canvas .jtk-connector {
    z-index: 100;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-connector.jtk-hover {
    cursor: pointer;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-connector.jtk-dragging {
    z-index: 401;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay {
    color: t(colorTextPrimary) !important;
    font-size: t(fontSizeTextXxSmall) !important;
    border: 1px solid #919297;
    background-color: white;
    text-transform: none;
    letter-spacing: normal;
    padding: 0.25rem 0.5rem;
    border-radius: 15rem;
    line-height: normal !important;
    vertical-align: bottom;
    white-space: nowrap;
    z-index: 199;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.jtk-hover {
    border-color: t(colorBrand);
    color: t(colorBrandDarker) !important;
    cursor: pointer;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.label-selected {
    border-color: t(colorBrandDark);
    color: t(colorBrandDarker) !important;
    box-shadow: t(shadowButtonFocus);
    cursor: pointer;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.fault-label {
    color: t(colorTextError) !important;
    border: 1px solid t(colorBorderDestructive);
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.jtk-hover.fault-label {
    border-color: t(colorBorderDestructiveHover);
    color: t(colorTextError) !important;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.fault-label-selected {
    border-color: t(colorBorderDestructiveActive);
    color: t(colorTextError) !important;
    box-shadow: 0 0 3px t(colorBorderDestructiveActive);
    cursor: pointer;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-endpoint.jtk-endpoint-anchor.jtk-draggable.jtk-endpoint-connected.jtk-dragging {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    border: t(borderWidthThick) solid white;
    box-shadow: inset 0px 0px 0px 2px #919297, 0 2px 4px 0 rgba(0, 0, 0, 0.40);
    transform: scale(1.1);
    background-color: t(colorBackgroundAlt2);
    transition: box-shadow 0.1s ease, background-color 0.25s ease-out;
    z-index: 402;
}
