/* NOTE: Do not add any css in this file apart from any custom css associated with the connectors */

/************* Connector *****************/
.THIS builder_platform_interaction-canvas .canvas .jtk-connector {
    z-index: 100;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-connector.jtk-hover {
    cursor: pointer;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-connector.connector-selected {
    z-index: 400;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-connector.jtk-dragging {
    z-index: 401;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay {
    color: t(colorTextPrimary) !important;
    font-size: t(fontSizeTextXxSmall) !important;
    border: 1px solid #919297;
    background-color: white;
    text-transform: none;
    letter-spacing: normal;
    padding: 0.25rem 0.5rem;
    border-radius: 15rem;
    line-height: normal !important;
    vertical-align: bottom;
    white-space: nowrap;
    z-index: 199;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.jtk-hover {
    border-color: t(colorBrand);
    color: t(colorBrandDarker) !important;
    cursor: pointer;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.label-selected {
    border-color: t(colorBrandDark);
    color: t(colorBrandDarker) !important;
    box-shadow: t(shadowButtonFocus);
    cursor: pointer;
    z-index: 400;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.fault-label {
    color: t(colorTextError) !important;
    border: 1px solid t(colorBorderDestructive);
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.jtk-hover.fault-label {
    border-color: t(colorBorderDestructiveHover);
    color: t(colorTextError) !important;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-overlay.fault-label-selected {
    border-color: t(colorBorderDestructiveActive);
    color: t(colorTextError) !important;
    box-shadow: 0 0 3px t(colorBorderDestructiveActive);
    cursor: pointer;
    z-index: 400;
}

.THIS builder_platform_interaction-canvas .canvas .jtk-endpoint.jtk-endpoint-anchor.jtk-draggable.jtk-endpoint-connected.jtk-dragging {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    border: t(borderWidthThick) solid white;
    box-shadow: inset 0px 0px 0px 2px #919297, 0 2px 4px 0 rgba(0, 0, 0, 0.40);
    transform: scale(1.1);
    background-color: t(colorBackgroundAlt2);
    transition: box-shadow 0.1s ease, background-color 0.25s ease-out;
    z-index: 402;
    cursor: default;
}
