
$color-background-actionbar-icon-utility: $palette-gray-9 !default;
$color-background-alt-2: $palette-gray-3 !default;
$color-background-alt-inverse: $biscay !default;
$color-background-alt: $palette-gray-1 !default;
$color-background-backdrop-tint: $palette-gray-2 !default;
$color-background-backdrop: $white-transparent-75 !default;
$color-background-blue-corn: $newport-background-primary-blue-corn !default;
$color-background-brand-primary-active: $midnight-blue !default;
$color-background-brand-primary-focus: $endeavour !default;
$color-background-brand-primary-hover: $endeavour !default;
$color-background-brand-primary: $newport-background-primary-blue !default;
$color-background-browser: $palette-gray-9 !default;
$color-background-button-success-active: $salem !default;
$color-background-button-success-hover: $salem !default;
$color-background-button-success: $emerald !default;
$color-background-chrome-desktop: $white !default;
$color-background-chrome-mobile: $science-blue !default;
$color-background-context-tab-bar-item: $white !default;
$color-background-customer: $tangerine !default;
$color-background-desertstorm: $newport-background-desertstorm !default;
$color-background-destructive-active: $maroon !default;
$color-background-destructive-hover: $tabasco !default;
$color-background-destructive: $flush-mahogany !default;
$color-background-error-alt: $deep-blush !default;
$color-background-error-dark: $flush-mahogany !default;
$color-background-error: $valencia !default;
$color-background-highlight-search: $gorse !default;
$color-background-highlight: $lemon-chiffon !default;
$color-background-icon-waffle: $palette-gray-9 !default;
$color-background-image-overlay: $black-transparent-40 !default;
$color-background-indicator-dot: $biscay !default;
$color-background-info: $palette-gray-9 !default;
$color-background-input-active: $white !default;
$color-background-input-checkbox-disabled: $palette-gray-5 !default;
$color-background-input-checkbox-selected: $azure !default;
$color-background-input-checkbox: $white !default;
$color-background-input-disabled: $palette-gray-4 !default;
$color-background-input-error: $pippin !default;
$color-background-input-search: $black-transparent-16 !default;
$color-background-input: $white !default;
$color-background-inverse: $deep-cove !default;
$color-background-modal-brand: $science-blue !default;
$color-background-modal-button-active: $black-transparent-16 !default;
$color-background-modal-button: $black-transparent-07 !default;
$color-background-modal: $white !default;
$color-background-notification-badge-active: $midnight-blue !default;
$color-background-notification-badge-focus: $endeavour !default;
$color-background-notification-badge-hover: $endeavour !default;
$color-background-notification-badge: $flush-mahogany !default;
$color-background-notification-new: $palette-gray-2 !default;
$color-background-notification: $white !default;
$color-background-offline: $palette-gray-11 !default;
$color-background-org-switcher-arrow: $deep-cove !default;
$color-background-payload: $palette-gray-2 !default;
$color-background-pill: $white !default;
$color-background-post: $palette-gray-2 !default;
$color-background-primary: $palette-gray-1 !default;
$color-background-row-active: $palette-gray-3 !default;
$color-background-row-hover: $palette-gray-2 !default;
$color-background-row-new: $snowy-mint !default;
$color-background-row-selected: $palette-gray-4 !default;
$color-background-scrollbar-track: $palette-gray-6 !default;
$color-background-scrollbar: $palette-gray-4 !default;
$color-background-secondary: $palette-gray-2 !default;
$color-background-selago: $selago !default;
$color-background-selection: $patten-blue !default;
$color-background-shade-dark: $palette-gray-5 !default;
$color-background-shade: $palette-gray-4 !default;
$color-background-solitude: $newport-color-background-solitude !default;
$color-background-spinner-dot: $palette-gray-7 !default;
$color-background-stencil-alt: $palette-gray-4 !default;
$color-background-stencil: $palette-gray-3 !default;
$color-background-success-dark: $salem !default;
$color-background-success: $newport-color-brand-orange !default;
$color-background-temp-modal-tint-alt: $white-transparent-75 !default;
$color-background-temp-modal-tint: $palette-gray-8 !default;
$color-background-temp-modal: $palette-gray-8 !default;
$color-background-toast-error: $flush-mahogany !default;
$color-background-toast-success: $salem !default;
$color-background-toast: $palette-gray-9 !default;
$color-background-toggle-active-hover: $endeavour !default;
$color-background-toggle-active: $science-blue !default;
$color-background-toggle-disabled: $palette-gray-7 !default;
$color-background-toggle-hover: $palette-gray-8 !default;
$color-background-toggle: $palette-gray-7 !default;
$color-background-utility-bar-active: $azure !default;
$color-background-utility-bar-hover: $palette-gray-4 !default;
$color-background-warning: $koromiko !default;
$color-background-wildsand: $newport-background-wildsand !default;
$color-background: $palette-gray-2 !default;
$color-brand-dark: $science-blue !default;
$color-brand-darker: $endeavour !default;
$color-brand: $newport-color-brand-orange !default;
$color-brand-accessibility: $newport-color-accessibility-orange !default;
$color-contrast-primary: $palette-gray-2 !default;
$color-contrast-secondary: $palette-gray-1 !default;
$page-color-background-primary: $palette-gray-1 !default;
$color-toast-background-primary: $varden-light !default;
