$border-radius-small: 0.125rem !default;
// Icons in lists, record home icon, unbound input elements
$border-radius-medium: 0.25rem !default;
$border-radius-large: 0.5rem !default;
$border-radius-pill: 15rem !default;
// Circle for global use, action icon bgd shape
$border-radius-circle: 50% !default;
