$color-dropdown-shadow: $newport-dropdown-shadow !default;
$elevation-inverse-shadow-0: none !default;
$elevation-inverse-shadow-16: $offset-none (-$offset-x-large) + px ($offset-x-large) + px $offset-none $black-transparent-16 !default;
$elevation-inverse-shadow-2: $offset-none (-$offset-x-small) + px ($offset-x-small) + px $offset-none $black-transparent-16 !default;
$elevation-inverse-shadow-3-below: $offset-none (-$offset-small) + px ($offset-small) + px $offset-none $black-transparent-16 inset !default;
$elevation-inverse-shadow-32: $offset-none (-$offset-xx-large) + px ($offset-xx-large) + px $offset-none $black-transparent-16 !default;
$elevation-inverse-shadow-4: $offset-none (-$offset-medium) + px ($offset-medium) + px $offset-none $black-transparent-16 !default;
$elevation-inverse-shadow-8: $offset-none (-$offset-large) + px ($offset-large) + px $offset-none $black-transparent-16 !default;
$elevation-shadow-0: none !default;
$elevation-shadow-16: $offset-none ($offset-x-large) + px ($offset-x-large) + px $offset-none $black-transparent-16 !default;
$elevation-shadow-2: $offset-none ($offset-x-small) + px ($offset-x-small) + px $offset-none $black-transparent-16 !default;
$elevation-shadow-3-below: $offset-none ($offset-small) + px ($offset-small) + px $offset-none $black-transparent-16 inset !default;
$elevation-shadow-32: $offset-none ($offset-xx-large) + px ($offset-xx-large) + px $offset-none $black-transparent-16 !default;
$elevation-shadow-4: $offset-none ($offset-medium) + px ($offset-medium) + px $offset-none $black-transparent-16 !default;
$elevation-shadow-8: $offset-none ($offset-large) + px ($offset-large) + px $offset-none $black-transparent-16 !default;
$shadow-action-overflow-footer: $offset-none (-$offset-x-small) + px ($offset-medium) + px $palette-gray-2 !default;
$shadow-button-focus-inverse: $offset-none $offset-none ($offset-small) + px $palette-gray-4 !default;
$shadow-button-focus: $offset-none $offset-none ($offset-x-small) + px 1px $science-blue !default;
$shadow-radio-focus: $offset-none $offset-none ($offset-small)+px ($offset-x-small)+px $newport-color-brand-focus !default;
$shadow-button: $offset-none 1px 1px $offset-none $black-transparent-05 !default;
$shadow-docked: $offset-none (-$offset-x-small) + px ($offset-x-small) + px $offset-none $black-transparent-16 !default;
$shadow-drag: $offset-none ($offset-x-small) + px ($offset-medium) + px $offset-none $black-transparent-40 !default;
$shadow-drop-down: $offset-none ($offset-x-small) + px ($offset-small) + px $offset-none $black-transparent-16 !default;
$shadow-focus-inset: $offset-none $offset-none ($offset-x-small) + px ($offset-x-small) + px $azure inset !default;
$shadow-hard-primary: none !default;
$shadow-header: $offset-none ($offset-x-small) + px ($offset-medium) + px $black-transparent-07 !default;
$shadow-image: $offset-none 1px 1px $black-transparent-16 !default;
$shadow-inline-edit: $offset-none ($offset-x-small) + px ($offset-medium) + px ($offset-medium) + px $black-transparent-16 !default;
$shadow-overlay: $offset-none (-$offset-x-small) + px ($offset-medium) + px $black-transparent-07 !default;
$shadow-reminder: $offset-none ($offset-x-small) + px $offset-none $offset-none $black-transparent-10 !default;
$shadow-soft-primary-active: none !default;
$shadow-soft-primary-hover: none !default;
$shadow-soft-primary: none !default;
$shadow-inner: $offset-none $offset-none $offset-none ($offset-medium) + px $white !default;
$shadow-outer: $offset-none $offset-none ($offset-x-small) + px 5px $science-blue !default;
