// Brand fill color
$fill-brand: $science-blue !default;
// Brand hover fill color
$fill-brand-hover: $endeavour !default;
// Brand active fill color
$fill-brand-active: $biscay !default;
// Header button icon color
$fill-header-button: $palette-gray-7 !default;
// Hovered header button icon color
$fill-header-button-hover: $endeavour !default;
