// Use for large headings only.
$font-weight-light: 300 !default;
// Most all body copy.
$font-weight-regular: 400 !default;
// Most all medium copy.
$font-weight-medium-bold: 600 !default;
// Used sparingly for emphasized text within regular body copy.
$font-weight-bold: 700 !default;


