$font-size-small: 0.75rem !default;
$font-size-medium: 0.8125rem !default;
$font-size-medium-a: 0.875rem !default;
$font-size-large: 1rem !default;
$font-size-x-large: 1.25rem !default;
$font-size-xx-large: 1.75rem !default;
$font-size-x-small: 0.625rem !default;
$font-size-x-large-a: 1.57rem !default;
$font-size-xxx-large: 2.5rem !default;

// Extra extra small text.
$font-size-text-xx-small: $font-size-1 !default;
// Extra small body text.
$font-size-text-x-small: $font-size-2 !default;
// Small body text.
$font-size-text-small: $font-size-3 !default;
// Medium body text.
$font-size-text-medium: $font-size-5 !default;
// Large body text.
$font-size-text-large: $font-size-6 !default;
// Extra large body text.
$font-size-text-x-large: $font-size-7 !default;


// Extra Extra small headings.
$font-size-heading-xx-small: $font-size-1 !default;
// Extra small headings.
$font-size-heading-x-small: $font-size-2 !default;
// Small headings.
$font-size-heading-small: $font-size-4 !default;
// Medium headings.
$font-size-heading-medium: $font-size-6 !default;
// Large headings.
$font-size-heading-large: $font-size-8 !default;
// Extra large headings.
$font-size-heading-x-large: $font-size-9 !default;
