// Unitless line-heights for reusability
$line-height-heading: 1.25 !default;
// Unitless line-heights for reusability
$line-height-text: 1.5 !default;
// Remove extra leading. Unitless line-heights for reusability
$line-height-reset: 1 !default;
// Line heights for tabs
$line-height-tab: 2.5rem !default;
