// ----------------------------------------------------------------------------
// Media Queries
// ----------------------------------------------------------------------------

$mq-x-small: 320px !default;
$mq-small: 480px !default;
$mq-medium: 768px !default;
$mq-large: 1024px !default;
$mq-x-large: 1280px !default;
