// Generic sizing token scale for UI components.
$size-xx-small: 6rem !default;
// Generic sizing token scale for UI components.
$size-x-small: 12rem !default;
// Generic sizing token scale for UI components.
$size-small: 15rem !default;
// Generic sizing token scale for UI components.
$size-medium: 20rem !default;
// Generic sizing token scale for UI components.
$size-large: 25rem !default;
// Generic sizing token scale for UI components.
$size-x-large: 40rem !default;
// Generic sizing token scale for UI components.
$size-xx-large: 60rem !default;
// Small utility icon without border.
$square-icon-utility-small: 1rem !default;
// Medium utility icon without border.
$square-icon-utility-medium: 1.25rem !default;
// Large utility icon without border.
$square-icon-utility-large: 1.5rem !default;
// Anchor: Outer colored tile
$square-icon-large-boundary: 3rem !default;
// Anchor: avatar
$square-icon-large-boundary-alt: 5rem !default;
// Anchor: Icon content (white shape)
$square-icon-large-content: 2rem !default;
// Use squareIconMediumBoundary
// Stage left & actions: Outer colored tile
$square-icon-medium-boundary: 2rem !default;
// Icon button boundary.
$square-icon-medium-boundary-alt: 2.25rem !default;
// Stage left & actions: Icon content (white shape)
$square-icon-medium-content: 1rem !default;
// Alternate medium tap target size
$square-icon-medium-content-alt: 0.875rem !default;
// Small tap target size
$square-icon-small: 1rem !default;
// Search Results: Outer colored tile
$square-icon-small-boundary: 1.5rem !default;
// Search Results: Icon content (white shape)
$square-icon-small-content: 0.75rem !default;
// Very small icon button boundary.
$square-icon-x-small-boundary: 1.25rem !default;
// Very small icons in icon buttons.
$square-icon-x-small-content: 0.5rem !default;
// Very very small icon button boundary.
$square-icon-xx-small-boundary: 1rem !default;
// Very small icons to replace force font with temporary override.
$square-icon-xx-small-content: 0.875rem !default;
// Large tap target size.
$square-icon-large: 3.125rem !default;
// Minimum height of a pill.
$height-pill: 1.625rem !default;
