$color-black-primary: $newport-black-primary !default;
$color-blue-font: $newport-blue-font-color !default;
$color-blue-text-primary: $newport-blue-text-primary !default;
$color-blue-text-secondary: $newport-blue-text-secondary !default;
$color-dropdown-text: $newport-dropdown-text !default;
$color-foreground-primary: $palette-gray-1 !default;
$color-gray-1: $palette-gray-1 !default;
$color-gray-10: $palette-gray-10 !default;
$color-gray-11: $palette-gray-11 !default;
$color-gray-12: $palette-gray-12 !default;
$color-gray-2: $palette-gray-2 !default;
$color-gray-3: $palette-gray-3 !default;
$color-gray-4: $palette-gray-4 !default;
$color-gray-5: $palette-gray-5 !default;
$color-gray-6: $palette-gray-6 !default;
$color-gray-7: $palette-gray-7 !default;
$color-gray-8: $palette-gray-8 !default;
$color-gray-9: $palette-gray-9 !default;
$color-gray-border-primary: $newport-gray-border-primary !default;
$color-grey-shaded: $newport-color-grey-shaded !default;
$color-icon-grey: $newport-color-icon-grey !default;
$color-input-font-kashmiri-blue: $newport-input-font-kashmiri-blue !default;
$color-input-icon-blue-hue: $newport-input-icon-blue-hue !default;
$color-light-blue-hue: $newport-color-light-blue-hue !default;
$color-light-border: $newport-color-light-border !default;
$color-midnight-blue: $newport-color-midnight-blue !default;
$color-palette-cool-gray-5: $newport-palette-cool-gray-5 !default;
$color-requirement-msz: $newport-color-requirement-msz !default;
$color-shadow-overflow: $newport-color-shadow-overflow !default;
$color-success-msz: $newport-color-success-msz !default;
$color-svg-fill-red: $newport-color-svg-fill-red !default;
$color-text-action-label-active: $biscay !default;
$color-text-action-label: $palette-gray-9 !default;
$color-text-brand-primary: $white !default;
$color-text-brand: $azure !default;
$color-text-browser-active: $black-transparent-40 !default;
$color-text-browser: $white !default;
$color-text-button-brand-active: $white !default;
$color-text-button-brand-disabled: $white !default;
$color-text-button-brand-hover: $white !default;
$color-text-button-brand: $white !default;
$color-text-button-default-active: $science-blue !default;
$color-text-button-default-disabled: $palette-gray-5 !default;
$color-text-button-default-hint: $palette-gray-7 !default;
$color-text-button-default-hover: $science-blue !default;
$color-text-button-default: $science-blue !default;
$color-text-button-inverse-disabled: $white-transparent-15 !default;
$color-text-button-inverse: $palette-gray-4 !default;
$color-text-customer: $tangerine !default;
$color-text-default: $biscay !default;
$color-text-error: $flush-mahogany !default;
$color-text-highlight: $newport-text-highlight !default;
$color-text-icon-brand: $science-blue !default;
$color-text-icon-default-active: $midnight-blue !default;
$color-text-icon-default-disabled: $palette-gray-5 !default;
$color-text-icon-default-hint-borderless: $palette-gray-4 !default;
$color-text-icon-default-hint: $palette-gray-7 !default;
$color-text-icon-default-hover: $science-blue !default;
$color-text-icon-default: $palette-gray-9 !default;
$color-text-icon-inverse-active: $white !default;
$color-text-icon-inverse-disabled: $white-transparent-15 !default;
$color-text-icon-inverse-hint-hover: $white-transparent-75 !default;
$color-text-icon-inverse-hint: $white-transparent-50 !default;
$color-text-icon-inverse-hover: $white !default;
$color-text-icon-inverse: $white !default;
$color-text-icon-utility: $palette-gray-7 !default;
$color-text-input-disabled: $palette-gray-9 !default;
$color-text-input-focus-inverse: $biscay !default;
$color-text-input-icon: $palette-gray-7 !default;
$color-text-inverse-active: $malibu !default;
$color-text-inverse-hover: $palette-gray-7 !default;
$color-text-inverse-weak: $palette-gray-7 !default;
$color-text-inverse: $white !default;
$color-text-label: $palette-gray-9 !default;
$color-text-link-active: $midnight-blue !default;
$color-text-link-disabled: $biscay !default;
$color-text-link-focus: $endeavour !default;
$color-text-link-hover: $endeavour !default;
$color-text-link-inverse-active: $white-transparent-50 !default;
$color-text-link-inverse-disabled: $white-transparent-15 !default;
$color-text-link-inverse-hover: $white-transparent-75 !default;
$color-text-link-inverse: $white !default;
$color-text-link-primary-active: $midnight-blue !default;
$color-text-link-primary-focus: $science-blue !default;
$color-text-link-primary-hover: $science-blue !default;
$color-text-link-primary: $science-blue !default;
$color-text-link: $science-blue !default;
$color-text-modal-button: $palette-gray-9 !default;
$color-text-modal: $white !default;
$color-text-pill: $science-blue !default;
$color-text-placeholder-inverse: $palette-gray-4 !default;
$color-text-placeholder: $palette-gray-9 !default;
$color-text-primary: $biscay !default;
$color-text-required: $flush-mahogany !default;
$color-text-secondary: $palette-gray-9 !default;
$color-text-stage-left: $palette-gray-4 !default;
$color-text-success-inverse: $emerald !default;
$color-text-success: $fun-green !default;
$color-text-tab-label-active: $midnight-blue !default;
$color-text-tab-label-disabled: $palette-gray-4 !default;
$color-text-tab-label-focus: $endeavour !default;
$color-text-tab-label-hover: $endeavour !default;
$color-text-tab-label-selected: $science-blue !default;
$color-text-tab-label: $biscay !default;
$color-text-tertiary: $palette-gray-9 !default;
$color-text-toast: $palette-gray-4 !default;
$color-text-toggle-disabled: $palette-gray-5 !default;
$color-text-warning-alt: $cinnamon !default;
$color-text-warning: $koromiko !default;
$color-text-weak: $palette-gray-9 !default;
$color-valid-control: $newport-color-valid-control !default;
$color-warning-msz: $newport-color-warning-msz !default;
$white-shaded: $newport-color-white-shaded !default;
