/*
 * Copyright 2016 salesforce.com, inc.
 * All Rights Reserved
 * Company Confidential
 */
.THIS .assignmentItemList {
    background-color: inherit;
    border: t(borderWidthThin) solid t(colorBorder);
    border-radius: t(borderRadiusMedium);
    margin-bottom: t(spacingSmall);
}

.THIS .emptyAssignmentItemList .body {
    padding: 0;
    margin: 0;
}

.THIS .slds-form-element__label {
    font-size: t(fontSizeTextSmall);
}

.THIS .lightningInput {
    padding: t(spacingXxSmall) t(spacingXxSmall) 0 t(spacingXxSmall);
    display: flex;
}

.THIS.has-error {
    padding: t(spacingXxSmall);
}

.THIS .assignmentItemList .body .addRowBlock {
    margin: 0;
    padding: t(spacingMedium) t(spacingXSmall);
}

/* To line up with the index, the padding has to match the spacing above which is .5rem plus the index marker */
.THIS .assignmentItemList .body .addRowBlock a {
    margin: 0.6rem;
}

.THIS .emptyAssignmentItemList .body .addRowBlock {
    padding-left: 0;
    margin: 0;
}

.THIS .body .addRowBlock .addRow, .THIS .body .addRowBlock .addRow .icon svg {
    color: t(colorTextButtonDefault);
}