builder_platform_interaction-alc-flow {
    position: absolute;
}

builder_platform_interaction-alc-connector {
    position: absolute;
}

builder_platform_interaction-alc-connector.loopBack,
builder_platform_interaction-alc-connector.loopAfterLast,
builder_platform_interaction-alc-connector.branchLeft,
builder_platform_interaction-alc-connector.branchRight,
builder_platform_interaction-alc-connector.mergeLeft,
builder_platform_interaction-alc-connector.mergeRight {
    z-index: var(--z-index-alc-connector-branch);
}

builder_platform_interaction-alc-connector.loopBack.is-highlighted,
builder_platform_interaction-alc-connector.loopAfterLast.is-highlighted,
builder_platform_interaction-alc-connector.branchLeft.is-highlighted,
builder_platform_interaction-alc-connector.branchRight.is-highlighted,
builder_platform_interaction-alc-connector.mergeLeft.is-highlighted,
builder_platform_interaction-alc-connector.mergeRight.is-highlighted,
builder_platform_interaction-alc-connector.loopBack.to-be-deleted-or-cut,
builder_platform_interaction-alc-connector.loopAfterLast.to-be-deleted-or-cut,
builder_platform_interaction-alc-connector.branchLeft.to-be-deleted-or-cut,
builder_platform_interaction-alc-connector.branchRight.to-be-deleted-or-cut,
builder_platform_interaction-alc-connector.mergeLeft.to-be-deleted-or-cut,
builder_platform_interaction-alc-connector.mergeRight.to-be-deleted-or-cut {
    z-index: var(--z-index-alc-connector-branch-is-highlighted);
}

/* TODO: This could potentially be removed after FF now that we have @W-11372614 bug fix */
builder_platform_interaction-alc-connector.goTo {
    width: 0;
}
