$color-background-path-complete-hover: $salem !default;
$color-background-path-complete: $emerald !default;
$color-background-path-current-hover: $endeavour !default;
$color-background-path-current: $science-blue !default;
$color-background-path-expanded: $white !default;
$color-background-path-incomplete-hover: $palette-gray-5 !default;
$color-background-path-incomplete: $palette-gray-4 !default;
$color-background-path-lost: $flush-mahogany !default;
$color-background-guidance: $palette-gray-1 !default;
$color-border-path-divider: $white !default;
$line-height-salespath: 1.5rem !default;
$height-sales-path: 2rem !default;
