.nds-spinner-main-page {
    .nds-spinner-large-brand-text {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 26rem;
        color: #747474;
        z-index: 98;
        font-size: $font-size-5;
    }
    .slds-spinner {
        top: 22rem
    }
}