$aluminium-blue: hsl(210, 25%, 48%);
$athens-blue: hsl(210, 42.36%, 96.53%);
$athens-gray: #fafafb;
$azure: #1589ee;
$bahama-blue: #005c94;
$background-primary-blue: #145ab7;
$bigstone-blue: hsl(210, 66.67%, 12%);
$biscay: #16325c;
$black-background-primary: #131313;
$black-border-primary: #000;
$black-foreground-primary: #000;
$black-primary: #000;
$black-secondary: #131313;
$black-transparent-05: rgba(0, 0, 0, 0.05);
$black-transparent-07: rgba(0, 0, 0, 0.07);
$black-transparent-10: rgba(0, 0, 0, 0.1);
$black-transparent-16: rgba(0, 0, 0, 0.16);
$black-transparent-20: rgba(0, 0, 0, 0.20);
$black-transparent-24: rgba(0, 0, 0, 0.24);
$black-transparent-30: rgba(0, 0, 0, 0.30);
$black-transparent-40: rgba(0, 0, 0, 0.40);
$black-transparent-50: rgba(0, 0, 0, 0.50);
$black-transparent-60: rgba(0, 0, 0, 0.60);
$black-transparent-70: rgba(0, 0, 0, 0.70);
$black-transparent-80: rgba(0, 0, 0, 0.80);
$black-transparent-90: rgba(0, 0, 0, 0.90);
$blue-background-primary: #0070d2;
$blue-background-secondary: #005fb2;
$blue-bayoux: #485c70;
$blue-border-primary: #0070d2;
$blue-border-secondary: #005fb2;
$blue-primary: #1589ee;
$blue-secondary: #005fb2;
$blue-text-primary: #0070d2;
$blue-text-secondary: #005fb2;
$brilliant-pink: #FF48B7;
$cadet-blue: #a8b7c7;
$alice-blue: #f3f9fe;
$california: #ff9f05;
$cape-cod: #3c3d3e;
$casper: #9faab5;
$catskill-white: #f7f9fb;
$cerulean: #00a1df;
$chateau-green: #43b66a;
$cinnamon: #844800;
$curious-blue: #2a94d6;
$dark-grey-royal-blue: #2a4158;
$dc-modal-background-color: #fefefe;
$dc-modal-border-color: #888888;
$dc-modal-close-color: #aaaaaa;
$deep-blush: #ea8288;
$deep-cerulean: #006eb3;
$deep-cove-transparent-30: rgba(6, 28, 63, 0.30);
$deep-cove-transparent-80: rgba(6, 28, 63, 0.80);
$deep-cove: #061c3f;
$denim: #126ea7;
$ebony-clay: #2c3646;
$emerald: #4bca81;
$endeavour: #005fb2;
$flamenco: #ff507f;
$flush-mahogany-transparent-95: rgba(194, 57, 52, 0.95);
$flush-mahogany: #c23934;
$foam-transparent-75: rgba(240, 248, 252, 0.75);
$foam: #f0f8fc;
$fun-green: #028048;
$fuzzy-wuzzy-brown: #c06057;
$geyser: #d8dde6;
$ghost-blue: hsl(210, 25.93%, 59.5%);
$gorse: #fff03f;
$gradient-shadow-bottom: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 100%);
$gray-border-primary: #d8dde6;
$grey-royal-blue: #34495e;
$grey-35: #595959;
$grey-40: #666666;
$grey-95: #f2f2f2;
$hit-grey: #9faab5;
$hawkes-blue: #d0e7fc;
$kashmir-blue-transparent-95: rgba(84, 105, 141, 0.95);
$kashmir-blue: #54698d;
$koromiko: #ffb75d;
$lemon-chiffon: #faffbd;
$link-water: #f4f6f9;
$lochmara: #137cbd;
$light-silver: #d8d8d8;
$malibu: #5eb4ff;
$maroon: #870500;
$midnight-blue: #00396b;
$mischka: #ced5e1;
$moss: #01cfa9;
$mystic: #e4e9f3;
$nevada: #686c70;
$new-york-pink: #d68184;
$newport-background-desertstorm: #fafaf9;
$newport-background-primary-blue-corn: #6195ed;
$newport-background-primary-blue: #1564bf;
$newport-background-wildsand: #f5f5f5;
$newport-black-primary: #000;
$newport-blue-font-color: #006ed5;
$newport-blue-text-primary: #0070d2;
$newport-blue-text-secondary: #16325c;
$newport-border-botticelli: #cfd7e6;
$newport-border-gray: #dddbda;
$newport-card-background-light-blue: #f8fbfe;
$newport-color-background-solitude: #f5f7f8;
$newport-color-brand-orange: #ff6d00;
$newport-color-comment-msz: #75b4e0;
$newport-color-error: #c23934;
$newport-color-grey-shaded: #e7ecf3;
$newport-color-icon-grey: #8695b0;
$newport-color-light-blue-hue: #49739c;
$newport-color-light-border: #a7b1c3;
$newport-color-midnight-blue: #00396b;
$newport-color-requirement-msz: #d25640;
$newport-color-shadow-overflow: #f4f6f9;
$newport-color-success-msz: #64bcb8;
$newport-color-svg-fill-red: #c00;
$newport-color-valid-control: #50e3c2;
$newport-color-warning-msz: #efb755;
$newport-color-white-shaded: #eef1f6;
$newport-dropdown-border: #eee;
$newport-dropdown-shadow: #111;
$newport-dropdown-text: #4d5b72;
$newport-gray-border-primary: #d8dde6;
$newport-input-font-kashmiri-blue: #556a8c;
$newport-input-icon-blue-hue: #54698d;
$newport-palette-cool-gray-5: #d9dbdd;
$newport-text-highlight: #061c3f;
$newport-border-box-shadow: rgba(221, 219, 218, 0.7);
$nobel: #9a9a9a;
$oxford-blue: #333e4f;
$pale-royal-blue: #f0f1f2;
$palette-cool-gray-1: #fff;
$palette-cool-gray-10: #4e5356;
$palette-cool-gray-11: #3e4041;
$palette-cool-gray-12: #292c2e;
$palette-cool-gray-2: #f9f9fa;
$palette-cool-gray-3: #f2f2f3;
$palette-cool-gray-4: #e9eaec;
$palette-cool-gray-5: #d9dbdd;
$palette-cool-gray-6: #c4c6ca;
$palette-cool-gray-7: #abadb0;
$palette-cool-gray-8: #919297;
$palette-cool-gray-9: #6b6d70;
$palette-gray-1: #fff;
$palette-gray-10: #514f4d;
$palette-gray-11: #3e3e3c;
$palette-gray-12: #2b2826;
$palette-gray-2: #fafaf9;
$palette-gray-3: #f3f2f2;
$palette-gray-4: #ecebea;
$palette-gray-5: #dddbda;
$palette-gray-6: #c9c7c5;
$palette-gray-7: #b0adab;
$palette-gray-8: #969492;
$palette-gray-9: #706e6b;
$palette-gray-90: #e5e5e5;
$palette-warm-gray-1: #fff;
$palette-warm-gray-10: #514f4d;
$palette-warm-gray-11: #3e3e3c;
$palette-warm-gray-12: #2b2826;
$palette-warm-gray-2: #fafaf9;
$palette-warm-gray-3: #f3f2f2;
$palette-warm-gray-4: #ecebea;
$palette-warm-gray-5: #dddbda;
$palette-warm-gray-6: #c9c7c5;
$palette-warm-gray-7: #b0adab;
$palette-warm-gray-8: #969492;
$palette-warm-gray-9: #706e6b;
$patten-blue: #d8edff;
$pickled-bluewood-transparent-30: rgba(37, 54, 71, 0.3);
$pickled-bluewood-transparent-80: rgba(37, 54, 71, 0.8);
$pickled-bluewood: #253647;
$pippin: #ffdde1;
$porcelain: #f5f6f7;
$pot-pourri: #f6e4e4;
$rain-purple-100: hsl(257, 83.1%, 76.3%);
$rain-purple-300: hsl(257, 72.2%, 67.6%);
$rain-purple-500: hsl(257, 61.2%, 58.8%);
$rain-purple-700: hsl(257, 50.2%, 50%);
$rain-purple-900: hsl(257, 39.2%, 42%);
$regent-grey-transparent-80: rgba(126, 140, 153, 0.80);
$regent-grey: #7e8c99;
$rhino-blue: hsl(210, 42.86%, 28%);
$river-bed: #414c5e;
$rolling-stone: #525354;
$rollingstone-blue: hsl(210, 33.33%, 37.5%);
$romance: #fdfdfd;
$rome-blue: hsl(210, 30.56%, 82.72%);
$salem-transparent-95: rgba(4, 132, 75, 0.95);
$salem: #04844b;
$san-juan: #2a426c;
$science-blue: #0070d2;
$sea-green-100: hsl(177, 64.7%, 51.9%);
$sea-green-300: hsl(177, 61.3%, 47.1%);
$sea-green-500: hsl(177, 62.6%, 41.2%);
$sea-green-700: hsl(177, 65.3%, 35.7%);
$sea-green-900: hsl(177, 65.3%, 30.9%);
$selago: #f9fbfe;
$sky-blue-100: hsl(208, 93.3%, 70.1%);
$sky-blue-300: hsl(208, 89.6%, 61.4%);
$sky-blue-500: hsl(208, 84.3%, 55.3%);
$sky-blue-700: hsl(208, 73.9%, 48.3%);
$sky-blue-900: hsl(208, 77%, 41.8%);
$slate-grey: #66788a;
$snowy-mint: #d9ffdf;
$solitude: #e8ecf3;
$sparta-blue: hsl(210, 32.2%, 92.62%);
$spider-blue: hsl(210, 28.57%, 72%);
$steam: #e0e5ee;
$tabasco: #a61a14;
$tall-poppy: #b5362d;
$tangerine: #ff9a3c;
$torea-bay: #0b2399;
$transparent: transparent;
$tulip-tree: #e6b739;
$tundora: #444;
$valencia: #d4504c;
$varden: #FFEED0;
$white-lilac: #eef1f6;
$white-primary: rgb(255, 255, 255);
$white-transparent-10: rgba(255, 255, 255, 0.10);
$white-transparent-15: rgba(255, 255, 255, 0.15);
$white-transparent-20: rgba(255, 255, 255, 0.20);
$white-transparent-30: rgba(255, 255, 255, 0.30);
$white-transparent-40: rgba(255, 255, 255, 0.40);
$white-transparent-50: rgba(255, 255, 255, 0.50);
$white-transparent-60: rgba(255, 255, 255, 0.60);
$white-transparent-70: rgba(255, 255, 255, 0.70);
$white-transparent-75: rgba(255, 255, 255, 0.75);
$white-transparent-80: rgba(255, 255, 255, 0.80);
$white-transparent-90: rgba(255, 255, 255, 0.90);
$white-transparent-97: rgba(255, 255, 255, 0.97);
$white: #fff;
$white-smoke: #F6F6F6;
$zodiac-blue: hsl(210, 53.85%, 19.5%);
$disable-gray: #a7a7a7;