$font-size-1: .625rem;
$font-size-2: .75rem;
$font-size-3: .8125rem;
$font-size-4: .875rem;
$font-size-5: 1rem;
$font-size-6: 1.125rem;
$font-size-7: 1.25rem;
$font-size-8: 1.5rem;
$font-size-9: 2rem;
$sans-serif: 'Lato', sans-serif;
