/*set the icon's color to the parent's background color*/
.slds-icon-utility-check  {
    color: var(--lwc-colorBackgroundAlt);
}

.slds-media__body {
    height: calc(var(--lwc-sizeXxSmall) - var(--lwc-spacingXSmall)*2);
}

.slds-visual-picker_vertical .slds-visual-picker__figure {
    padding: var(--lwc-spacingXSmall);
}

.slds-visual-picker input:not(:checked) ~ label .slds-visual-picker__figure:not(:hover) {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  border: var(--lwc-borderWidthThin) solid var(--lwc-colorBorder);
}

/*truncate the text to 2 lines*/
.slds-text-title {
    line-height: var(--lwc-lineHeightHeading)rem;
    max-height: calc(var(--lwc-lineHeightHeading)rem*2);
    overflow: hidden;
    position: relative;
}

.slds-text-title:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.slds-text-title:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: var(--lwc-colorBackgroundAlt);
}