/*set the icon's color to the parent's background color*/
.slds-icon-utility-check {
    color: var(--lwc-colorBackgroundAlt);
}

.slds-visual-picker_vertical .slds-visual-picker__figure {
    padding: 0.5rem;
}

.slds-media__body {
    height: 5rem;
}

/*container to help truncate the text to 3 lines*/
.container {
    max-height: 3.6em; /* = max lines x line-height defined in rich-text-content */
    position: relative;
    /* place for '...' */
    margin-right: 1em;
    padding-right: 1em;
}

/* display ... in the end if we have long text, which is more than max lines */
.container::before {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
}

/* hide ... in the end if we have short text, which is less than or equal to max lines */
.container::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: -0.6em;
    background: var(--lwc-colorBackgroundAlt);
}

.rich-text-content {
    line-height: 1.2em;
    text-align: left;
}
