/*set the icon's color to the parent's background color*/
.slds-icon-utility-check  {
    color: var(--lwc-colorBackgroundAlt);
}

.slds-media__body {
    height: calc(var(--lwc-sizeXxSmall) - var(--lwc-spacingMedium)*2);
}

/*truncate the text to 2 lines*/
.slds-text-title {
    max-height: calc(var(--lwc-lineHeightHeading)rem*2 - var(--lwc-spacingXSmall));
    overflow: hidden;
    position: relative;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.slds-text-title:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.slds-text-title:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: var(--lwc-colorBackgroundAlt);
}