.property-editor-scroll {
    height: calc(100vh - 195px);
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
}

lightning-button-icon.slds-icon-utility-close {
    right: 0px;
    z-index: 4;
}

.size-x-large {
    width: var(--lwc-sizeXLarge);
}
