builder_platform_interaction-alc-canvas-container {
    display: flex;
    flex: auto;
    height: 100%;
}

.toolbar-header-container {
    z-index: 500;
}

.toast-container {
    z-index: 499;
}

builder_platform_interaction-right-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: calc(100% - 20rem);
    z-index: 501;
}
