/* TODO: change to use tokens and slds classes - W-4947239 */
.categories-panel {
    overflow-y: auto;    
    border: 1px solid rgb(221, 219, 218);
    border-radius: 4px;
    height: calc(100% - 65px); 
    margin-top: 10px;    
    
}

.category-properties-panel {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.category-panel {
    background-color: rgb(238, 241, 246);
    padding: 8px;
}

.properties-panel {
    padding: 8px;
}