.THIS h2 {
    color: #080707;
}

.THIS .text {
    color: #3e3e3c;
}

.THIS .flowruntimeInputWrapper,
.THIS .flowruntimeLookupInput {
    padding: 16px 0 0 0;
    margin: 0;
}

.THIS .slds-input {
    height: 36px;
}

.THIS .spinner {
    position: absolute;
}

.THIS .outer-div {
    position: relative;
}
