/** STUFF FROM THE POC, TODO: Remove when preview is available- W-4947218 */
.screen-field-icon {
    line-height: 1;
    margin-top: auto;
    margin-bottom: auto;    
}

.screen-field-card {
    border: 1px solid rgb(200, 200, 200);
    box-sizing: border-box;
    border-radius: 3px;
}

.screen-field-standard {
    text-align: center;
    height: 50px;
    line-height: 45px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);    
}
/** END - TODO: Remove when preview is available- W-4947218 */