// Line heights for toggle buttons
$line-height-toggle: 1.3rem !default;
// Slider size for toggle.
$square-toggle-slider: 1.25rem !default;
// Slider width.
$width-toggle: 3rem !default;
// Slider height.
$height-toggle: 1.5rem !default;
