$progress-bar-color-background-fill-success: $emerald !default;
$progress-bar-color-background-fill: $newport-color-brand-orange !default;
$progress-bar-color-background: $palette-gray-5 !default;
$progress-color-background-shade: $palette-gray-2 !default;
$progress-color-background: $white !default;
$progress-color-border-active: $azure !default;
$progress-color-border-hover: $science-blue !default;
$progress-color-border-shade: $palette-gray-2 !default;
$progress-color-border: $white !default;
$progress-bar-height: 0.125rem !default;
