/*
 * Copyright 2016 salesforce.com, inc.
 * All Rights Reserved
 * Company Confidential
 */
.THIS {
    padding: t(spacingXSmall);
    margin-top: t(spacingXSmall);
}

/* Override itemList css that's used in process builder */
.THIS.body {
    margin-bottom: 0;
    border: none;
    border-radius: inherit;
    background-color: inherit;
}

.THIS .index {
    width: t(spacingMedium);
    text-align: center;
}

/* padding would be 0.5 if the icon was a normal size, the smallest is 15px which is bigger than the text */
.THIS .addRowBlock a {
    border: t(borderWidthThin) solid t(colorBorder);
    border-radius: t(borderRadiusMedium);
    padding: 0.4rem t(spacingMedium);
}