$page-header-color-background-alt: $palette-gray-1 !default;
$page-header-color-background: $palette-gray-2 !default;
$color-background-page-header: $palette-gray-1 !default;
$page-header-color-border: $palette-gray-5 !default;
$page-header-joined-color-border: $palette-gray-5 !default;
$page-header-border-radius: 0.25rem !default;
$page-header-shadow: 0 2px 0 0 $black-transparent-10 !default;
$page-header-title-font-size: $font-size-6 !default;
$page-header-title-font-weight: 700 !default;
$page-header-spacing-margin: 0 !default;
$page-header-spacing-padding: $spacing-medium !default;
$page-header-spacing-row: $spacing-small $spacing-medium !default;
