.menu {
    position: absolute;
    z-index: 1;
}

.hidden {
    display: none;
}

builder_platform_interaction-flc-flow {
    position: absolute;
    transform: translateX(50%);
    left: 50%;
}

builder_platform_interaction-zoom-panel {
    position: absolute;
    bottom: 48px; /* offset by canvas icon height */
    right: 0;
}
