$card-body-padding: 0 $spacing-medium !default;
$card-color-background: $newport-card-background-light-blue !default;
$card-color-border: $palette-gray-5 !default;
$card-font-weight: 700 !default;
$card-footer-color-border: $palette-gray-5 !default;
$card-footer-margin: $spacing-small !default;
$card-footer-padding: $spacing-small $spacing-medium !default;
$card-footer-text-align: center !default;
$card-header-margin: 0 0 $spacing-small !default;
$card-header-padding: $spacing-small $spacing-medium 0 !default;
$card-shadow: 0 2px 0 0 $black-transparent-10 !default;
$card-spacing-large: $spacing-large !default;
$card-spacing-margin: $spacing-small !default;
$card-spacing-small: $spacing-small !default;
$card-wrapper-color-background: $palette-gray-1 !default;
$card-wrapper-spacing: $spacing-medium !default;
