.inline-display {
    display: inline-flex;
}

.canvas-mode-toggle:hover > .canvas-mode-toggle-tooltip {
    display: block;
}

.canvas-mode-toggle-tooltip {
    display: none;
    transform: translateY(120%);
    margin-left: auto;
    margin-right: auto;
}
