.slds-icon-standard-decision {
    transform: rotate(45deg) scale(0.91666);
}

/*TODO: Move decision icon svg styling from container.css to here (W-5278403)*/

td:first-of-type {
    padding-left: 1.5rem !important;
}

/* This was necessary to get the strategy builder chevron to take up the correct amount of space */
td.square-icon-medium {
    width: 30px
}