.canvas {
    background-color: var(--lwc-colorForegroundPrimary);
    height: 100%;
    overflow: hidden;
    outline: none;
    user-select: none;
}

.canvas .overlay {
    height: 100%;
    width: 100%;
    z-index: 404;
}

.canvas.grab {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.canvas.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.canvas.crosshair {
    cursor: crosshair;
    cursor: -moz-crosshair;
    cursor: -webkit-crosshair;
}

.canvas .inner-canvas {
    height: 100%;
    width: 100%;
}