$slider-color-background-disabled: $palette-gray-4 !default;
$slider-handle-color-background-active: $white !default;
$slider-handle-color-background-focus: $white !default;
$slider-handle-color-background-hover: $white !default;
$slider-handle-color-background: $white !default;
$slider-handle-color-border-active: $newport-color-brand-orange !default;
$slider-handle-color-border-focus: $newport-color-brand-orange !default;
$slider-handle-color-border: $newport-border-gray !default;
$slider-track-color-background-fill: $white !default;
$slider-track-color-background: $newport-blue-text-secondary !default;
$slider-handle-shadow-focus: 0 0 3px $newport-color-brand-orange !default;
$slider-handle-shadow: $black-transparent-16 0 2px 3px !default;
$slider-handle-size: 1.5rem !default;
$slider-track-height: 2px !default;
$slider-track-width: 100% !default;
