.nds-b2b-offer-selection {
  padding: 0.25rem;
  width: 100%;
  margin-bottom: 5rem;

  .nds-b2b-items-container {
    display: flex;
    background: $white-smoke;
    padding: 2rem 0 1rem 6rem;
  }
  .nds-b2b-container_items-list {
    width: 100%;
  }
  .nds-b2b-container_categories-list {
    display: none;
    width: 0;
  }

  @media screen and (min-width: 48rem) {
    .nds-b2b-container_items-list {
      width: 80%; 
    }
    .nds-b2b-container_categories-list {
      width: 20%;
      margin-right: 1rem;
      display: block;
    }
  }
}
.nds-b2b-spinner {
  position: fixed;
}
