/* stylelint-disable selector-class-pattern */
$animation-duration: 0.5s;
$animation-duration-reverse: 0.5s;
$div-height: 100px;
$sliding-distance: 100; // this is in pixels



// this line avoids the flicker
// https://github.com/angular/angular.js/issues/14015
.ng-hide.ng-hide-animate {
  display: none;
}

// this is the order in which angular adds animation classes ,
// safari only works if the animation is added to thefinal stage
// which means after ng-hide-add-active is added to the dom
.animate-if.ng-animate.ng-hide-animate.ng-hide-add.ng-hide.ng-hide-add-active {
  display: block;
  animation: $animation-duration ndsfadeout ease;
  max-height: $div-height;
  overflow-y: hidden;
}

/* when showing the picture */
.animate-if.ng-hide-remove {
  animation: $animation-duration ndsslideinup ease-in-out;
  animation-fill-mode: forwards;
}

.animate-if.animate-ifmod.ng-hide-remove {
  animation: $animation-duration ndsslideinupmod ease-in-out;
  animation-fill-mode: forwards;
}

.animate-rev.ng-hide-add {
  animation: $animation-duration-reverse ndsslideindown ease;
  // stylelint-disable-next-line declaration-no-important
  display: block !important;
  overflow-y: hidden;
}

.animate-rev.ng-hide-remove {
  animation: $animation-duration-reverse ndsfadeinfaster ease;
  max-height: $div-height;
  animation-fill-mode: forwards;
}

@keyframes ndsfadeinfaster {

  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.fadeinfaster {
  animation-name: ndsfadeinfaster;
}

@keyframes ndsslideinupmod {

  0% {
    transform: translate3d(0, ($sliding-distance) + px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideinupmod {
  animation-name: ndsslideinupmod;
}

@keyframes ndsslideinup {

  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, (-$sliding-distance) + px, 0);
  }
}


@keyframes ndsslideindown {

  from {
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }

  to {
    transform: translate3d(0, ($sliding-distance / 2) + px, 0);
    opacity: 0.4;
  }
}

.slideinup {
  animation-name: ndsslideinup;
}


.slideindown {
  animation-name: ndsslideindown;
}


@keyframes ndsfadeout {

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeout {
  animation-name: ndsfadeout;
}
