* {
    outline:none;
} 

.highlight {
    z-index: 3; /* lightning-datepicker has an icon with z-index: 2, this makes sure that icon can't be clicked when preventing events */
    margin-bottom: var(--lwc-borderWidthThin);
}

.highlight.selected .highlight-header, .highlight.selected .highlight-icons-container {
    background-color: var(--lwc-colorBrandDarker);
}

.highlight.selected .highlight-frame {
    border-color: var(--lwc-colorBrandDarker);
}

.highlight:not(.dragging).selected:focus .has-box-shadow {
    outline: 0;
    box-shadow: var(--lwc-shadowButtonFocus);
}

.highlight:not(.dragging).selected .highlight-header, .highlight:not(.dragging):hover .highlight-header, .highlight:not(.dragging):focus .highlight-header {
    visibility: visible;
    z-index: 4; /* Or the frame border (with the shadow) will appear on top of the header */
}

.highlight:not(.dragging).selected .highlight-frame, .highlight:not(.dragging):hover .highlight-frame, .highlight:not(.dragging):focus .highlight-frame {
    border-style: solid;
}

.highlight:not(.dragging).selected .highlight-icons-container, .highlight:not(.dragging):hover .highlight-icons-container, .highlight:not(.dragging):focus .highlight-icons-container {
    visibility: visible;
}

.highlight-header {
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-1 * var(--lwc-varSpacingVerticalLarge));    
    line-height: var(--lwc-varSpacingVerticalLarge);
    background-color: var(--lwc-colorBrandDark);
    border-radius: var(--lwc-borderRadiusMedium) var(--lwc-borderRadiusMedium) 0 0;
    color: var(--lwc-colorTextBrandPrimary);
}

.highlight-frame {
    height: 100%;
    border: var(--lwc-borderWidthThick) hidden var(--lwc-colorBrandDark);
    z-index: 3;
}

.highlight-icons-container {
    visibility: hidden;    
    transform: scale(.55); /* waiting for Owen to file a TD */
    transform-origin: top right;
    background-color: var(--lwc-colorBrandDark);
    top: 0; /* for preventevents false, as in that case this div is absolute */
    right: 0; /* for preventevents false, as in that case this div is absolute */
}

.highlight-icon-container {
    width: 1.8rem;
    height: 1.8rem;
    transform: scale(.75); /* waiting for Owen to file a TD */
}