/* @name nds-text-heading
* @selector .nds-text-heading
* @modifier
*/

.nds-text-heading_large {
    font-size: $font-size-7;
    font-weight: $font-weight-medium-bold;
    color: $palette-gray-11;
}
.nds-text-body_medium {
    font-size: $font-size-5;
    color: $palette-gray-11;
    font-weight: $font-weight-light;
}
.nds-text-body_medium_bold {
    font-size: $font-size-5;
    color: $palette-gray-11;
    font-weight: $font-weight-medium-bold;
}
.nds-link-text-color{
    color: $blue-background-primary;
}
.nds-text_bold{
    font-weight: $font-weight-bold;
}
.nds-text-lineheight_medium{
    line-height:$line-height-text;

}
.nds-text-lineheight_small{
    line-height:$line-height-reset;
}
.nds-text-lineheight_large{
    line-height:$line-height-tab;
}
