.THIS {
    position: relative;
    width: t(widthRightSidebar);
    background-color: t(colorBackgroundAlt);
}

.THIS .rightPanelBody {
    position: absolute;
    height: calc(100% - 49px);
    width: 100%;
    padding: t(spacingMedium);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}