$table-border-radius: 0 0 0.25rem 0.25rem !default;
$table-cell-spacing: $spacing-xx-small $spacing-x-small !default;
$table-color-background-header-focus: $palette-gray-1 !default;
$table-color-background-header-hover: $palette-gray-1 !default;
$table-color-background-header: $palette-gray-2 !default;
$table-color-background-stripes: $palette-gray-2 !default;
$table-color-text-header: $palette-gray-10 !default;
