.rotate-icon-container {
    border-radius: var(--lwc-borderRadiusMedium);
}

.non-canvas-decision-icon {
    transform: rotate(45deg) scale(0.91666);
}

.rotate-icon-svg {
    transform: rotate(-45deg);
    background: transparent;
}

.background-navy {
    background-color: #54698d;
}

.background-gray {
    background-color: var(--lwc-colorGray8);
}