.rotate-icon-container {
    border-radius: var(--lwc-borderRadiusMedium);
}

.non-canvas-decision-icon {
    transform: rotate(45deg) scale(0.91666);
}

.rotate-icon-svg {
    transform: rotate(-45deg);
    background: transparent;
}

.background-navy {
    background-color: #54698d;
}

.background-orange {
    background-color: #ff9a3c;
}

.background-gray {
    background-color: var(--lwc-colorGray8);
}

.background-green {
    background-color: #53b6b4;
}

.background-blue {
    background-color: #1589ee;
}

.background-pink {
    background-color: #eb7092;
}

.background-dark-blue {
    background-color: #00396b;
}

.custom-icon {
    background-color: var(--lwc--paletteNeutral100);
    box-shadow: 0 0 0 2px var(--lwc-paletteNeutral80) inset;
}
