@import 'communities-footer/base/index';
@import 'communities-search-card/base/index';
@import 'communities-header/base/index';
@import 'communities-home-img-list/base/index';
@import 'communities-actions-group/base/index';
@import 'communities-articles-group/base/index';
@import 'communities-carousel/base/index';
@import 'communities-policy-detail/base/index';
@import 'communities-policy-card/base/index';
@import 'communities-toast/base/index';
@import 'communities-policy-transactions/base/index';