.background-green {
    background-color: #53b6b4;
}

.background-navy {
    background-color: #54698d;
}

.background-red {
    background-color: var(--lwc-colorBackgroundError);
}

.background-orange {
    background-color: #ff9a3c;
}

.rotated-icon-radius {
    border-radius: var(--lwc-borderRadiusMedium);
}

.rotate-icon-svg {
    transform: rotate(-45deg);
    background: transparent;
}

.selection-checkbox {
    bottom: 0;
    border-radius: var(--lwc-buttonBorderRadius);
    box-shadow: 0 0 0 1px white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}

.text-container {
    height: 100%;
    left: 60px;
    line-height: 1rem;
    top: 0px;
    width: 180px;
    word-break: break-word;
    opacity: 1;
}

.text-container:not(.hidden) {
    transition: opacity 0.4s;
}

.text-container.hidden {
    opacity: 0;
}

.text-container.shifted {
    transform: translate(0%, -55%);
}

.text-container .text-element-label {
    font-weight: var(--lwc-fontWeightBold);
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-incoming-goto {
    color: var(--lwc-brandTextLink);
    font-style: italic;
}

.icon-container {
    position: relative;

    top: calc(var(--node-icon-half-width-with-padding) * -1);
    left: calc(var(--node-icon-half-width-with-padding) * -1);
}

.highlighted-container .text-container > div {
    background: transparent !important;
}

.highlighted-container .text-container::after {
    content: '';
    position: absolute;
    transition: opacity 0.1s ease;
    width: 244px;
    height: 64px;
    top: 190%;
    left: 33%;
    transform: translate(-50%, -110px);
    box-shadow: 0 0 0 2px var(--lwc-colorBorderCustomer);
    background: rgba(255, 154, 60, 0.15);
    border-radius: var(--lwc-borderRadiusMedium);
    border-spacing: var(--lwc-spacingXxSmall);
    pointer-events: none;
}

.highlighted-container-multioutput .text-container::after {
    height: 100px;
    left: 30%;
}

.error-icon {
    top: -17px;
    left: -16px;
}

.dynamic-component {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.background-pink {
    background-color: #eb7092;
}

.background-dark-blue {
    background-color: var(--lwc-paletteBlue30);
}

.menu {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: var(--alc-menu-width);
    z-index: var(--z-index-alc-menu);
}

.dynamic-component {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: var(--alc-menu-width);
    z-index: var(--z-index-alc-dynamic-node);
}

builder_platform_interaction-alc-menu-trigger.dynamic-node {
    z-index: var(--z-index-alc-dynamic-node-trigger);
}

.customActionIcon {
    background-color: var(--lwc--paletteNeutral100);
    box-shadow: 0 0 0 2px var(--lwc-paletteNeutral80) inset;
}
