.background-green {
    background-color: #53b6b4;
}

.background-navy {
    background-color: #54698d;
}

.background-red {
    background-color: var(--lwc-colorBackgroundError);
}

.background-orange {
    background-color: #ff9a3c;
}

.rotated-icon-radius {
    border-radius: var(--lwc-borderRadiusMedium);
}

.rotate-icon-svg {
    transform: rotate(-45deg);
    background: transparent;
}

.selection-checkbox {
    bottom: 0;
    border-radius: var(--lwc-buttonBorderRadius);
    box-shadow: 0 0 0 1px white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}

.text-container {
    height: 100%;
    left: 60px;
    line-height: 1rem;
    top: 0px;
    width: 180px;
    word-break: break-word;
    opacity: 1;
}

.text-container:not(.hidden) {
    transition: opacity 0.4s;
}

.text-container.hidden {
    opacity: 0;
}

.text-container.shifted {
    transform: translate(0%, -55%);
}

.text-container .text-element-label {
    font-weight: var(--lwc-fontWeightBold);
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-incoming-goto {
    color: var(--lwc-colorTextDestructive);
    font-style: italic;
}

.icon-container {
    position: relative;

    transform: translate(
        calc(var(--node-icon-half-width-with-padding) * -1),
        calc(var(--node-icon-half-width-with-padding) * -1)
    );
    z-index: 1;
}

.icon-container.menu-opened {
    z-index: 10;
}

.error-icon {
    top: -17px;
    left: -16px;
}

.dynamic-component {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.background-pink {
    background-color: #eb7092;
}
