.more-details {
    position: relative;
    display: inline-block;
}

.slds-popover {
    position: absolute;
    bottom: 35px;
    left: -88px;
    width: 245px;
}

.slds-p-right_x-small {
    max-width: 32px;
}
