.header {
    text-align: center;
    background: var(--alc-menu-background);
    font-weight: normal;
}

.body {
    background-color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:host {
    position: relative;
    background: var(--alc-menu-background);
    width: 100%;
    margin: 0;
}
