svg {
    position: absolute;
    z-index: var(--z-index-alc-connector-svg);
    fill: none;
    stroke: var(--lwc-colorGray6);
    stroke-width: 6;
}

svg.fault {
    stroke: var(--lwc-colorBorderError);
    stroke-width: 3;
    stroke-dasharray: 7;
}

svg.connector-to-be-deleted {
    stroke: var(--lwc-colorBorderError);
    z-index: var(--z-index-alc-connector-to-be-deleted);
}

svg.fault.connector-to-be-deleted {
    stroke-dasharray: none;
    stroke-width: 6;
}

svg.goTo {
    stroke-dasharray: 1 11;
    stroke-linecap: round;
}

svg.connector-highlighted {
    stroke: #ffb75d;
    stroke-width: 6;
    z-index: var(--z-index-alc-connector-highlighted);
}

svg.fault.connector-highlighted {
    stroke-dasharray: none;
}

svg.goTo.connector-highlighted {
    stroke: #ffb75d;
    stroke-dasharray: none;
}

.connector-badge {
    position: absolute;
    height: 24px;
    transform: translate(-50%, -50%);
    max-width: 164px;
    min-width: 84px;
    background-color: var(--lwc-colorBackgroundLight);
    border: 1px solid var(--lwc-colorBorder);
}

.connector-badge.connector-highlighted {
    border-color: var(--lwc-colorBorderWarning);
}

.fault-badge {
    background-color: var(--lwc-colorBorderError);
    color: var(--lwc-colorTextBrandPrimary);
}

.fault-badge.connector-highlighted {
    border-color: var(--lwc-colorBorderDestructiveHover);
}

builder_platform_interaction-alc-menu-trigger {
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle-text {
    transition: transform 0.25s ease;
}

builder_platform_interaction-alc-menu-trigger.slds-is-open .circle-text {
    transform: rotate(-135deg);
}

.go-to-info {
    color: var(--lwc-brandTextLink);
    display: inline-flex;
    font-style: italic;
}

.go-to-target-label {
    max-width: 160px;
}
