.screen-column-field-container {
    height: 100%;
    width: 100%;
    padding: 1px 1px 1px 1px;
}

.screen-column-field-body {
    min-width: var(--lwc-sizeSmall);
    min-height: var(--lwc-varSpacingVerticalXLarge);
    height: 100%;
    width: 100%;
}
