/*
 * Copyright 2018 salesforce.com, inc.
 * All Rights Reserved
 * Company Confidential
 */

.THIS .modal {
    background-image: url('/flow/images/welcome_mat.png');
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.THIS .content {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: block;
    color: #00396b;
}

.THIS .body {
    font-size: t(fontSize3);
    margin-top: t(spacingLarge);
}

.THIS a {
    font-size: t(fontSize3);
    color: t(colorTextLink);
    margin-top: t(spacingLarge);
    display: block;
}

.THIS button {
    margin-top: t(spacingXLarge);
    margin-bottom: t(spacingSmall);
}

.THIS lightning-input .slds-form-element__label {
    color: #00396b;
}