button {
    transition: transform 0.1s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

button.border-none {
    border: none;
}

button.connector {
    background-color: white;
    border: 2px solid var(--lwc-colorGray8);
    border-radius: 50%;
    transition: none;
}

button.cut-paste-connector {
    background-color: white;
    border: 2px solid var(--lwc-colorGray8);
    border-radius: 50%;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

/* Beware that changing the order of hover and focus can break the current styles  */
button:hover {
    transform: scale(1.05);
}

button.is-end-element:hover,
button.node-in-selection-mode:hover {
    cursor: default;
    transform: scale(1);
}

button.has-error,
button.node-to-be-deleted {
    background-color: #f4f6f9;
    border-color: var(--lwc-colorBorderError);
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--lwc-colorBorderError);
    transform: scale(1.05);
}

button.connector:hover {
    background-color: #f4f6f9;
    transform: scale(1);
}

button.cut-paste-connector:hover,
button.cut-paste-connector:focus {
    background-color: #f4f6f9;
    border-radius: 4px;
    border: 2px dashed;
    width: var(--node-icon-width);
    height: var(--node-icon-height);
}

button:focus {
    background-color: #f4f6f9;
    border-color: var(--lwc-colorBrandDark);
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--lwc-colorBorderSelection), 0 0 6px 3px var(--lwc-colorBorderSelection);
    transform: scale(1.05);
}

button.is-end-element:focus,
button.node-in-selection-mode:focus {
    box-shadow: none;
    transform: scale(1);
}

button.has-error:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--lwc-colorBorderError), 0 0 6px 3px var(--lwc-colorBorderError);
}

button.circular-icon {
    border-radius: var(--lwc-borderRadiusCircle);
}

button.connector:focus {
    background-color: #f4f6f9;
    border-color: var(--lwc-colorBrandDark);
    box-shadow: 0 0 3px var(--lwc-colorBrandDark);
    transform: scale(1);
}

:host(.slds-is-open) {
    z-index: var(--z-index-alc-menu-trigger-open);
}

:host(.slds-is-open) button.connector {
    background-color: rgb(54, 117, 224);
    border-color: var(--lwc-colorBrandDark);
}

.default-container {
    background-color: var(--lwc-colorBackgroundAlt);
}

.dynamic-container {
    border-top: 0.25rem solid var(--lwc-colorBackgroundAlt);
    padding-top: 0;
}

.default-container.rotate-icon-container {
    border-radius: var(--lwc-borderRadiusMedium);
    transform: rotate(45deg);
}

.default-container.round-container {
    border-radius: var(--lwc-borderRadiusCircle);
}
