.nds-dc-checkout {
  padding: 1rem;
  .nds-dc-step_label {
    color: $kashmir-blue;
    font-weight: $font-weight-regular;
    margin: 1rem 0;
  }
  .nds-dc-checkout_heading-title {
    font-weight: $font-weight-light;
    font-size: $font-size-9;
    line-height: $line-height-heading;
    position: relative;
    color: $black-primary;

    &:after {
      content: "";
      background: $color-brand;
      position: absolute;
      bottom: -0.625rem;
      left: 0;
      width: 3.125rem;
      height: 0.1875rem;
    }
  }
  .nds-dc-checkout_body-container {
    margin: 4rem 0 8rem 0;
  }
  .nds-dc-checkbox {
    .nds-checkbox_faux {
      margin-right: 0.4rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    .nds-form-element__label {
      color: $san-juan;
    }
  }
  .nds-dc-terms-conditions {
    border: 1px solid $newport-border-gray;
    box-shadow: 3px 3px 0 0 $black-transparent-10;
    padding: .8rem .8rem 1.3rem 1.5rem;
    background-color: $newport-card-background-light-blue;
  }
  .nds-dc-checkout-os_container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
    .nds-dc-checkout-os {
      width: 100%;
      height: 70vh;
      border: none;
      .nds-p-vertical_large {
        padding: 0;
      }
      .nds-card {
        border: none;
        box-shadow: none;
      }
    }
  }
  .nds-dc-payment_container {
    width: 100%;
    height: 34.5rem;
  }
  @media only screen and (min-width: 48rem) {
    padding: 4rem;
    .nds-dc-checkout_body-container {
      margin: 4rem 1rem;
    }
  }
  @media only screen and (min-width: 64rem) {
    .nds-dc-checkout_body-container {
      margin: 4rem 20rem;
    }
  }
}
