.nds-dc-list-prices {
  .nds-dc-tile-text-small {
    color: $kashmir-blue;
    font-size: 0.75rem;
    line-height: 1rem;
    &.nds-dc-offer-listview {
      text-align: center;
      display: flex;
      width: 100%;
      max-width: 100%;
    }
  }
  .nds-dc-offer-price-wrapper {
    &.nds-dc-offer-listview, &.nds-dc-offer-gridview {
      display: flex;

      .nds-dc-price-items {
        width: 100%;
        max-width: 100%;
        text-align: left;
        display: block;
        &.nds-grid.nds-wrap {
          display: flex;
        }
        .nds-dc-offer-price {
          color: $biscay;
          font-size: 1.5625rem;
          line-height: 3.125rem;
          .nds-dc-offer-discount-price {
            color: $newport-color-brand-orange;
            font-size: 1.5625rem;
            line-height: 3.125rem;
          }
          .nds-dc-offer-actual-price {
            color: $biscay;
            font-size: 1.5625rem;
            line-height: 3.125rem;
            display: block;
            .nds-dc-offer-base-amount {
              display: block;
              font-size: 1rem;
              line-height: 0.3125rem;
              margin-bottom: 0.625rem;
              color: $biscay;
            }
          }
        }
        .nds-dc-price-option-text {
          margin-top: 0.625rem;
          margin-bottom: 0;
          .nds-dc-price-option {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  .nds-dc-list-prices {
   .nds-dc-offer-price-wrapper {
    .nds-dc-price-items {
      .nds-dc-price-option-text {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }
    }
   } 
  }
}