/* shopping cart */
.nds-dc-cart {
  padding: 1rem 0.3125rem;
  margin-bottom: 6.25rem;
  .nds-dc-spinner {
    position: fixed;
    z-index: 9999;
  }

  .nds-dc-cart_heading {
    display: flex;
  
    .nds-dc-cart_heading-title {
      font-weight: $font-weight-light;
      font-size: $font-size-xx-large;
      line-height: $line-height-heading;
      position: relative;
  
      &:after {
        content: "";
        background: $color-brand;
        position: absolute;
        bottom: -0.625rem;
        left: 0;
        width: 3.125rem;
        height: 0.1875rem;
      }
    }
  
    .nds-dc-cart_heading-notifcation {
      line-height: $line-height-heading;
      margin: .6rem 1rem 0;
    }
  
    .nds-dc-button {
      padding: 0 0.3125rem;
      font-size: 0.6rem;
      margin-left: auto;
    }
    .nds-dc-save-cart_icon {
      height: 2rem;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }

  .nds-dc-button {
    .nds-dc-button_text {
      color: $white;
    }
  }
  .nds-dc-go-back-btn {
    margin-top: 2rem;
    width: 9rem;
    font-weight: $font-weight-light;
  }
  .nds-dc-empty_cart {
    text-align: center;
    margin-top: 3.125rem;
  }
  .nds-dc-cart_container {
    margin-top: 1.5rem;
  }
  .nds-dc-cart_offer-board {
    padding: 0.625rem 0.375rem;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    .nds-dc-edit-icon {
      width: 1.25rem;
      height: 1.25rem;
      float: right;
      padding-top: 0.25rem;
      color: $white;
      text-align: center;
      position: relative;
    }
  }
  .nds-dc-cart_offer-item-list {
    min-height: 6.25rem;
    border: 1px solid $newport-border-gray;
    display: flex;
    box-shadow: 0 0.125rem 0 0 $black-transparent-10;
    width: 100%;
    .nds-dc-offer_item-list-ul {
      width: 100%;
    }
  }
  .nds-dc-cart_offer-item {
    padding: 1.875rem 0;
    .nds-dc-cart_item-category {
      color: $kashmir-blue;
      font-weight: $font-weight-bold;
      font-size: 1.0625rem;
      margin-left: 0.625rem;
      margin-top: -0.625rem;
    }
    .nds-dc-offer_item {
      display: flex;
      padding: 0 0.625rem;
    }
    .nds-dc-title_container {
      flex: 1;
      text-align: center;
    }
    .nds-dc-cart_offer-menu {
      width: 100%;
      display: flex;
      .nds-dc-tile_text {
        color: $kashmir-blue;
        font-size: 1.125rem;
        letter-spacing: 0.2px;
        line-height: 1.25rem;
        &.nds-dc-title {
          width: 30%;
          text-align: left;
          padding-left: 1.875rem;
        }
        &.nds-dc-quantity {
          width: 20%;
        }
        &.nds-dc-due {
          width: 60%;
          font-size: 0.8125rem;
          text-align: right;
        }
        &.nds-dc-icons {
          display: none;
          width: 10%;
          margin-top: -1.625rem;
          margin-left: 0.3125rem;
        }
      }
      &.nds-dc-sub-total {
        margin-top: 0.9375rem;
        .nds-dc-tile_text {
          &.nds-dc-due {
            color: $background-primary-blue;
            font-size: 1.5rem;
            width: 60%;
          }
        }
      }
    }
    &.nds-dc-sub-total {
      border-top: 1px solid $newport-border-gray;
      padding: 1.25rem 0;
    }
  }

  @media only screen and (min-width: 48rem) {
    padding: 3.125rem 0.625rem;
    .nds-dc-cart_offer-board {
      .nds-dc-edit-icon {
        left: 0.5rem;
        top: 0.25rem;
      }
    }
    .nds-dc-cart_heading .nds-dc-button {
      padding: 0 1rem;
      font-size: 1rem;
    }
    .nds-dc-cart_offer-item {
      .nds-dc-offer_item {
        padding: 0 1.875rem;
      }
      .nds-dc-cart_item-category {
            margin-left: 1.875rem;
            margin-top: unset;
      }
      .nds-dc-cart_offer-menu {
        .nds-dc-tile_text {
          &.nds-dc-due {
            width: 30%;
            font-size: 0.8125rem;
          }
        }
        &.nds-dc-sub-total {
          margin-top: 2.1875rem;
          .nds-dc-tile_text {
            &.nds-dc-due {
              font-size: 2.5rem;
              width: 30%;
            }
          }
        }
      }
      &.nds-dc-sub-total {
            padding-bottom: 3.75rem;
      }
    }
  }
  @media only screen and (min-width: 64rem) {
    padding: 1.5625rem;
  }
  @media only screen and (min-width: 80rem) {
    padding: 3.125rem;
    .nds-dc-cart_offer-item .nds-dc-cart_offer-menu .nds-dc-tile_text.nds-dc-quantity{
      width: 30%;
    }
    .nds-dc-cart_offer-item .nds-dc-cart_offer-menu .nds-dc-tile_text.nds-dc-due, .nds-dc-cart_offer-item .nds-dc-cart_offer-menu.nds-dc-sub-total .nds-dc-tile_text.nds-dc-due{
      width: 15%;
    }
    .nds-dc-cart_offer-item .nds-dc-cart_offer-menu .nds-dc-tile_text.nds-dc-icons{
      display: block;
    }
  }
}