.nds-b2b-product-item {
  background-color: $white;
  max-width: $b2b-product-item-max-width;
  min-width: $b2b-product-item-min-width;
  min-height: $b2b-product-item-min-height;
  border-radius: 0.1rem;
  border: 1px solid $white-smoke;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  .nds-b2b-product-item_container {
    border: 1px solid $hawkes-blue;
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
    padding: 0.8rem 1.5rem 0.8rem 2.6rem;

    .nds-b2b-product-name {
      font-size: $font-size-6;
    }
    .nds-b2b-product-description {
      font-weight: $font-weight-light;
      margin-top: 0.3rem;
      margin-bottom: 1.25rem;
      @include multiLineEllipsis(1rem, 2);
    }
    .nds-b2b-product-icon {
      position: absolute;
      margin-left: -1.6rem;
    }
    .nds-b2b-product-badge_container {
      display: flex;
      flex-wrap: wrap;
      .nds-b2b-product-badge {
        background-color: $alice-blue;
        border-radius: 0;
        text-transform: none;
        font-size: 0.75rem;
        font-weight: $font-weight-light;
      }
    }
    .nds-b2b-product_price-range {
      font-size: 1rem;
      margin-top: 0.625rem;
    }
  }
  @media screen and (min-width: 48rem) {
    margin-right: 0.7rem;
  }
}
