.menu {
    z-index: var(--z-index-alc-canvas-menu);
}

.overlay {
    background-color: #fafafb;
}

.header {
    text-align: center;
    background: #fafafb;
}

.body {
    background-color: #fff;
    text-align: left;
    width: 280px;
}

.body-fixed-height {
    height: 8.1rem;
}

.background-step-icon {
    background-color: #54698d;
}

.push-icon-down {
    margin-top: 6px;
}
