.menu {
    background-color: var(--alc-menu-background);
}

.header {
    text-align: center;
}

.body {
    background-color: #fff;
    text-align: left;
}

.body-fixed-height {
    height: 8.1rem;
}

.background-step-icon {
    background-color: #54698d;
}

.push-icon-down {
    margin-top: 6px;
}
