$tabel-view-switch: 'medium';
.nds-b2b-table {
	background-color: $white;
    table-layout: fixed;
    width: 100%;
}

.nds-b2b-table_row {
	border-bottom: 1px solid $palette-gray-4;

	&:not(.nds-b2b-table_head-row):hover {
		background-color: $color-background-row-hover;

		.nds-transition-hide {
			opacity: 1;
		}
	}

	.nds-b2b-table_row-header {
		border-color: $color-gray-7
	}
}

.nds-b2b-table_cell {
	// display: table-cell;
	padding: $spacing-medium;

	// &:first-child {
	// 	 padding-left: $spacing-large;
	// }

	// &:last-child {
 //    	padding-right: $spacing-large;
	// }

	.nds-b2b-table_head-row & {
		font-weight: bold;
		padding-bottom: $spacing-small;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}

	&-label {
		display: none;
		color: $color-text-weak;
		font-size: $font-size-small;
	}
}

.nds-b2b-table_cell-sort {
	outline: none;

	&:hover {
		.nds-b2b-hover-icon {
			opacity: 1;
		}
	}
}

.nds-b2b-icon_cell {
	width: 3rem;
}

.nds-b2b-table_checkbox {
	.nds-checkbox {
		.nds-checkbox_faux {
			border-color: $black-primary;
		}

		& [type=checkbox]:focus ~ .nds-checkbox_faux{
			border-color: $black-primary;
		}

		& [type=checkbox]:focus:checked ~ .nds-checkbox_faux,
		& [type=checkbox]:checked ~ .nds-checkbox_faux {
			background-color: $blue-background-primary;
			border-color: $black-primary;
			opacity: 1;
		}

		& [type=checkbox]:indeterminate ~ .nds-checkbox_faux {
			background-color: $blue-background-primary;

			&:after {
				background-color: $white;
			}
		}	
	}
}

@media (max-width: #{(map-get($breakpoints, $tabel-view-switch))}) {
	.nds-b2b-table,
	.nds-b2b-table_body,
	.nds-b2b-table_cell,
	.nds-b2b-table_cell-label {
		display: block;
	}
	
	.nds-b2b-table_transition-hide,
	.nds-b2b-table_head {
		display: none;
	}

	.nds-b2b-table_row {
		display: flex;
		flex-wrap: wrap;
		padding-left: $spacing-x-large;
		
		.nds-transition-hide {
			opacity: 1
		}

	}

	.nds-b2b-table_cell {
		flex: 0 0 50%;
		padding: $spacing-small $spacing-medium;
	}

	.nds-b2b-table_cell-full {
		flex: 0 0 100%;
	}
	
	.nds-b2b-icon_cell {
		flex: 0;
		padding: 0;

		.nds-checkbox {
			position: absolute;
			left: -#{$spacing-medium};
			top: $spacing-large;
			transform: translateY(-50%);
		}
	}
}