$split-view-color-background-row-hover: $palette-gray-1 !default;
$split-view-color-background: $palette-gray-2 !default;
$split-view-color-border: $palette-gray-5 !default;
$split-view-width: 25rem !default;
