$color-background-context-bar-action-highlight: $white-transparent-20 !default;
$color-background-context-bar-brand-accent: $cerulean !default;
$color-background-context-bar-inverse-item-active: $white-transparent-40 !default;
$color-background-context-bar-inverse-item-hover: $white-transparent-20 !default;
$color-background-context-bar-item-active: $palette-gray-1 !default;
$color-background-context-bar-item-hover: $palette-gray-1 !default;
$color-background-context-bar-shadow: $gradient-shadow-bottom !default;
$color-background-context-bar: $white !default;
$color-border-context-bar-divider: $white-transparent-20 !default;
$color-border-context-bar-inverse-item: $white-transparent-20 !default;
$color-border-context-bar-item: $black-transparent-20 !default;
$color-border-context-bar-theme-default-active: $palette-gray-3 !default;
$color-border-context-bar-theme-default-alt: $palette-gray-3 !default;
$color-border-context-bar-theme-default-hover: $torea-bay !default;
$color-border-context-bar-theme-default: $cerulean !default;
$height-context-bar: 2.5rem !default;
$color-text-context-bar-action-trigger: $white-transparent-40 !default;
$color-text-context-bar-inverse: $white !default;
$color-text-context-bar: $palette-gray-9 !default;
