$color-picker-slider-thumb-color-background: $palette-gray-2 !default;
$color-picker-slider-thumb-border-color: $palette-gray-10 !default;
$color-picker-input-custom-hex-font-size: 0.75rem !default;
$color-picker-input-custom-hex-width: 4.2rem !default;
$color-picker-range-height: 5rem !default;
$color-picker-range-indicator-size: 0.75rem !default;
$color-picker-selector-width: 14rem !default;
$color-picker-slider-height: 1.5rem !default;
$color-picker-swatch-size: 1.25rem !default;
$color-picker-swatches-width: 13.3rem !default;
$color-picker-thumb-width: 0.375rem !default;
