builder_platform_interaction-field-input {
    border: 1px dashed black;
}

.container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
}

.item {
    width: 316px;
}
