/* stylelint-disable selector-class-pattern */

ng-form {
  display: inline-block;
  width: 100%;

  .ng-valid span.nds-required {
    color: $color-valid-control;
  }
}

ng-form.nds-m-bottom_large {
  margin-bottom: 0.5rem;
}

section.nds-page-header {
  border: 0;
  box-shadow: none;
  background: $color-border-tab-active;
}

.vlocity-newport-file-selector {
  width: 100%;
  display: block;
}

p[vlc-bind-html],
.nds-text-block {
  color: $color-light-blue-hue;
  word-break: normal;
  font-family: $font-family; // workaround for LWC overriding styles

  p,
  span {
    font-size: 0.9rem;
    color: $color-midnight-blue;
    font-weight: 300;
    padding: 0 0 3px;
  }
}

.vlc-typeahead-newopt-displaynone {
  display: none;
}

.vlc-typeahead-gmap {
  display: none;
  height: 250px;
  top: 0.5rem;
  margin-bottom: 0.5rem;
}

hr[ng-if="!isPreviewEmbedded"] {
  display: none;
}

a[ng-if="!isPreviewEmbedded && (!isSforce || (isSforce && !sforce.one))"] {
  position: fixed;
  top: 0;
  z-index: $z-index-dropdown;
  #{$right}: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.nds-box.nds-remote-action__container {
  top: 43vh;
  #{$left}: 39vw;
  border: 1px solid $color-border-error;
  font-size: 1rem;

  p {
    margin: 10px 0;
  }

  p:first-child {
    font-weight: 700;
    font-size: 1rem;
  }

  p:last-child button {
    text-transform: capitalize;
    border-radius: 0;
    color: $color-light-blue-hue;
    font-weight: 700;
  }
}

.step-step {

  .nds-align--absolute-center h1.nds-truncate {
    font-size: 25px;
    font-weight: 600;
    display: block;
  }

  .nds-form-element__control-help {
    color: $color-input-font-kashmiri-blue;
    font-size: 0.75rem;
    font-weight: 300;
  }

  .nds-form-element__control {

    .nds-select_container {
      position: relative;
      top: -0.1rem;
    }

    .nds-select_container+label {
      position: relative;
      top: -3.5rem;
    }
  }

  .nds-form-element__control a[vlc-slds-tool-tip],
  .nds-select-wrapper a[vlc-slds-tool-tip],
  .nds-form--multi-input__container a[vlc-slds-tool-tip] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;

    + .vlc-slds--tooltip,
    + .vlc-slds_tooltip {
      display: none;
    }

    &:hover + .vlc-slds--tooltip,
    &:hover + .vlc-slds_tooltip {
      display: block;
    }

    @media screen and (max-width: 50em) {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 0.9rem;
    }
  }

  .nds-form--multi-input__container a[vlc-slds-tool-tip],
  .nds-select-wrapper a[vlc-slds-tool-tip],
  .nds-typeahead-block-container a[vlc-slds-tool-tip] {
    height: 2rem;
  }
}

.nds-control-action__container {
  display: inline-block;
  z-index: 1;
  white-space: nowrap;
  position: relative;
  top: -0.15rem;
  margin-#{$left}: 5px;
}

.nds-control-action__container svg {
  cursor: pointer;
}

ul.nds-dropdown-list {
  position: absolute;
  border: 2px solid $color-dropdown-border;
  border-top: 0;
  z-index: $z-index-dropdown;
  top: 2rem;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 15px 10px -15px $color-dropdown-shadow;

  li {
    background-color: $color-background-input;
    font-weight: 400;
    padding: 0.4rem 1rem;
    letter-spacing: 1px;
    color: $color-dropdown-text;
    cursor: pointer;

    &:hover {
      background-color: $color-dropdown-border;
    }
  }
}

.nds-cont-wrapper {
  position: relative;
  width: 100%;
}

.nds-cursor-pointer {
  cursor: pointer;
}

.nds-form--multi-input__container .nds-control-action__container {
  top: 0.35rem;
}

.nds-popover.nds-popover_tooltip .nds-popover__body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nds-modal_custom {

  .nds-modal {
    outline: none;

    .nds-modal__container {
      max-width: 55rem;
      width: 90%;

      .nds-modal__content {
        border-radius: 0;
        height: 78vh;
      }

      .nds-modal__header {
        border-bottom: unset;
        text-align: unset;
      }

      .nds-modal__footer {
        border-top: unset;
        padding-top: unset;
        padding-bottom: 1rem;
        background: $color-border-tab-active;

        .nds-button_neutral {
          padding-left: 3rem;
          padding-right: 3rem;
          height: 2.5rem;
        }

        .nds-editblock_expand-modal {
          display: inline-block;
          height: 14px;
          position: relative;
          bottom: -2.6rem;
          #{$left}: 1rem;
          width: 4%;
          cursor: se-resize;
          float: #{$right};
        }
      }
    }
  }
}

.nds-modal__container {
  .nds-modal__content {
    // adds box-shadow for consistency with .nds-modal__footer
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  }
}

@media only screen and (max-width: 30em) {

  .nds-modal_custom .nds-modal .nds-modal__container .nds-modal__content {
    min-height: 26rem;
  }
}

.nds-modal .nds-modal__container .nds-theme_info,
.nds-modal .nds-modal__container .nds-theme_error {

  .nds-text-heading_medium {
    color: $color-border-tab-active;
  }
}

.nds-modal .nds-modal__container .nds-theme_info {
  background-color: $color-input-icon-blue-hue;
}

.nds-modal .nds-modal__container .nds-theme_error {
  background-color: $color-border-error;
}

.nds-modal__container .nds-modal__content ng-form,
.nds-modal__container .nds-modal__content form {
  padding-top: 0;
  margin-bottom: 0.5rem;
}

.nds-element_text-font {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: $color-input-font-kashmiri-blue;
}

.nds-button_text-font {
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 300;
}

div[msg='Success'] {

  .nds-icon_container_circle {
    border: 3px solid $color-success-msz;
    padding: 0.2rem;

    .nds-icon {
      fill: $color-success-msz;
    }
  }
}

div[msg='Warning'] {

  .nds-icon_container_circle {
    border: 3px solid $color-warning-msz;
    padding: 0.2rem;

    .nds-icon {
      position: relative;
      top: -0.16rem;
      fill: $color-warning-msz;
    }
  }
}

div[msg='Requirement'] {

  .nds-icon_container_circle {
    border: 3px solid $color-requirement-msz;
    padding: 0.2rem;

    .nds-icon {
      fill: $color-requirement-msz;
    }
  }
}

div[msg='Comment'] {

  .nds-icon_container_circle {
    border: 3px solid $color-comment-msz;
    padding: 0.2rem;

    .nds-icon {
      fill: $color-comment-msz;
    }
  }
}

/* ====== */

span[vlc-slds-pop-over] {
  position: relative;
  white-space: normal;
}

// tooltips
.nds-input.ng-pristine~small.helpText,
.nds-input.ng-valid~small.helpText,
.nds-textarea.ng-pristine~small.helpText,
.nds-textarea.ng-valid~small.helpText,
.nds-select.ng-valid~small.helpText {
  display: none;
}

.nds-select~small.helpText,
.vlc-slds-lookup~small.helpText,
.vlc-slds-time-picker~small.helpText {
  position: absolute;
  top: 0;
  #{$right}: 30px;
}

.nds-input:focus~small.helpText,
.nds-textarea:focus~small.helpText,
.nds-select:focus~small.helpText {
  display: inline;
}

.vlc-slds--tooltip {
  position: absolute;
  top: 0;
  pointer-events: none;
}

// just for rtl
.nds-nubbin--top-right {

  &:before,
  &:after {
    #{$left}: auto;
    #{$right}: 1.5rem;
  }
}

.nds-step_label {
  font-size: 1.3rem;
  font-weight: 600;
  color: $color-background-brand-primary;
}

/* =============== */

.typeahead.dropdown-menu {
  /* stylelint-disable declaration-no-important */
  position: absolute !important;
  /* stylelint-enable declaration-no-important */
  border: 2px solid $color-dropdown-border;
  border-top: 0;
  z-index: $z-index-dropdown;
  /* stylelint-disable declaration-no-important */
  top: 2rem !important;
  /* stylelint-enable declaration-no-important */
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 15px 10px -15px $color-dropdown-shadow;
}

.typeahead.dropdown-menu li {
  background-color: $color-border-tab-active;
  font-weight: 400;
  padding: 0.4rem 1rem;
  letter-spacing: 1px;
  color: $color-dropdown-text;
  cursor: pointer;

  a {
    color: inherit;
  }
}

.typeahead.dropdown-menu li:hover {
  background-color: $color-dropdown-border;
}

.typeahead.dropdown-menu li a:hover,
.typeahead.dropdown-menu li a:focus {
  text-decoration: none;
  color: inherit;
}

.nds-header__mobile-only {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: $color-background-solitude;
  z-index: $z-index-modal;
}

.nds-header__mobile-only {

  svg {
    fill: $color-background-brand-primary;
    margin-top: -0.1875rem;
    width: 1rem;
    height: 1rem;
  }
}

.nds-step__prev-link,
.nds-step__next-link {
  width: 8rem;
  overflow: hidden;
  white-space: nowrap;
}

.nds-step__link-button {
  font-size: 0.875rem;
  text-transform: capitalize;
  color: $color-background-brand-primary;
  font-weight: 400;
}

.nds-progress__list-mobile {
  width: 100%;

  .nds-custom-step__progress {
    height: 0.25rem;
    position: relative;
    background: $color-gray-border-primary;
    width: 80%;

    span.nds-custom-step__progress-fill {
      background: $color-background-brand-primary;
      width: 50%;
      display: block;
      height: 100%;
    }
  }
}

.nds-page-header.nds-m-top_x-small {
  display: block;
}

@media only screen and (max-width: 30em) {

  .nds-page-header.nds-m-top_x-small {
    display: none;
  }
}

button.nds-step__prev-link:disabled,
button.nds-step__prev-link[disabled],
button.nds-step__next-link:disabled,
button.nds-step__next-link[disabled] {

  span {
    color: $color-palette-cool-gray-5;
  }

  svg {
    fill: $color-palette-cool-gray-5;
  }
}

.nds-tooltip_container {
  display: inline-block;
}

.nds-nonfocused_control {
  position: relative;

  .nds-is-absolute {
    display: none;

    .nds-popover.nds-popover_tooltip.nds-nubbin_bottom {
      #{$left}: calc(-50% + 12px);
      max-width: 30rem;
      white-space: nowrap;
      top: -4.3rem;
    }
  }
}

.nds-file-selector.nds-file-custom-selector+.nds-tooltip_container .nds-nonfocused_control .nds-is-absolute {

  .nds-popover.nds-popover_tooltip.nds-nubbin_bottom {
    #{$left}: calc(-100% - 10px);
    max-width: 30rem;
    white-space: nowrap;
    top: -1.6875rem;

    &:before,
    &:after {
      width: 1rem;
      height: 1rem;
      position: absolute;
      transform: rotate(45deg);
      content: '';
      background-color: inherit;
      #{$left}: 100%;
      bottom: 0;
      margin-#{$left}: -9px;
      top: 25%;
    }
  }
}

.nds-nonfocused_control svg {
  margin-top: -6px;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;

  &:hover+.nds-is-absolute {
    display: block;
  }
}

.vlc-slds-filter__item {
  display: flex;
  margin: auto 0;

  &:first-child {
    margin-top: -15px;
  }

  .vlc-slds-select_filter-control,
  .vlc-slds-multiSelect-filter-control {
    border-bottom: 1px solid $color-border-botticelli;
    padding: 15px 0;
  }
}

.nds-select_filter-button {
  align-content: flex-start;
  flex-direction: row;
  padding: 15px 0;
}

.nds-select_filter-control,
.nds-multiSelect_filter-control {
  padding: 15px 0;
}

.nds-multiSelect_filter-control ul[horizontalmode='true'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0;
}

.nds-multiSelect_filter-control ul[horizontalmode='true']>li {
  flex-grow: 0;
  margin: 0.5rem 1rem 0.5rem 0;
}

.nds-form-element.nds-multiSelect_filter-control .nds-form-element__label {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: $color-input-font-kashmiri-blue;
}

.nds-multiSelect_filter-control ul[horizontalmode='true'] li .nds-checkbox span.nds-form-element__label {
  letter-spacing: 1px;
  color: $color-input-font-kashmiri-blue;
  font-size: 0.75rem;
  font-weight: 300;
}

#debug-panel {
  display: none;
}

.nds-block label>span.nds-required {
  margin-#{$left}: 0;
}

.nds-disable_svg-icon {
  pointer-events: none;
  opacity: 0.5;
}

.nds-form--multi-input__container .nds-tooltip_container .nds-nonfocused_control svg.slds-icon {
  margin-top: 10px;
  width: 1.2rem;
  height: 1.2rem;
  fill: $color-input-icon-blue-hue;
  cursor: pointer;
}

.nds-lookup .nds-tooltip_container .nds-nonfocused_control {
  margin-top: 0.25rem;
  margin-#{$left}: 0.375rem;
}

.nds-form--multi-input__container .nds-tooltip_container .nds-nonfocused_control .nds-is-absolute .nds-popover.nds-popover_tooltip.nds-nubbin_bottom,
.nds-lookup .nds-tooltip_container .nds-nonfocused_control .nds-is-absolute .nds-popover.nds-popover_tooltip.nds-nubbin_bottom {
  #{$left}: calc(-100% - 10px);
  max-width: 30rem;
  white-space: nowrap;
  top: -1.6875rem;
}

.nds-form--multi-input__container .nds-tooltip_container .nds-nonfocused_control .nds-is-absolute .nds-popover.nds-popover_tooltip.nds-nubbin_bottom:before,
.nds-form--multi-input__container .nds-tooltip_container .nds-nonfocused_control .nds-is-absolute .nds-popover.nds-popover_tooltip.nds-nubbin_bottom:after,
.nds-lookup .nds-tooltip_container .nds-nonfocused_control .nds-is-absolute .nds-popover.nds-popover_tooltip.nds-nubbin_bottom:before,
.nds-lookup .nds-tooltip_container .nds-nonfocused_control .nds-is-absolute .nds-popover.nds-popover_tooltip.nds-nubbin_bottom:after {
  width: 1rem;
  height: 1rem;
  position: absolute;
  transform: rotate(45deg);
  content: '';
  background-color: inherit;
  #{$left}: 100%;
  bottom: 0;
  margin-#{$left}: -9px;
  top: 25%;
}

@media only screen and (min-width: 64em) {

  .nds-table_bordered:not(.nds-no-row-hover) tbody tr:hover>td:not(.nds-is-selected),
  .nds-table_bordered:not(.nds-no-row-hover) tbody tr:hover>th:not(.nds-is-selected),
  .nds-table_bordered:not(.nds-no-row-hover) tbody tr:focus>td:not(.nds-is-selected),
  .nds-table_bordered:not(.nds-no-row-hover) tbody tr:focus>th:not(.nds-is-selected),
  .nds-table--bordered:not(.nds-no-row-hover) tbody tr:hover>td:not(.nds-is-selected),
  .nds-table--bordered:not(.nds-no-row-hover) tbody tr:hover>th:not(.nds-is-selected),
  .nds-table--bordered:not(.nds-no-row-hover) tbody tr:focus>td:not(.nds-is-selected),
  .nds-table--bordered:not(.nds-no-row-hover) tbody tr:focus>th:not(.nds-is-selected) {
    box-shadow: $color-border-input 0 -1px 0 inset, $color-border-input 0 1px 0 inset;
  }
}

@media only screen and (min-width: 64em) {

  .nds-table:not(.nds-no-row-hover) tbody tr:hover>td,
  .nds-table:not(.nds-no-row-hover) tbody tr:hover>th,
  .nds-table:not(.nds-no-row-hover) tbody tr:focus>td,
  .nds-table:not(.nds-no-row-hover) tbody tr:focus>th {
    background-color: $color-background-desertstorm;
  }
}

.nds-mob-conf {

  svg.nds-icon {
    fill: $color-light-blue-hue;
  }

  .nds-mob-conf__body {
    display: inline-block;
    margin-#{$left}: 0.5rem;

    .nds-form-element__label {
      color: $color-light-blue-hue;
      font-size: 0.8125rem;

      span.nds-ref-number {
        font-weight: 700;
      }
    }
  }
}

.nds-disclosure .nds-form-element__label,
.nds-range .nds-form-element__label span {
  font-size: 0.875rem;
}

form {

  .ng-valid span.nds-required {
    color: $color-valid-control;
  }
}

.nds-label-desc {
  display: inline-block;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nds-inline-help-text .nds-is-absolute {
  #{$right}: -0.8rem;
  top: -3rem;
}

.nds-line_break {
  max-height: 0;
  line-height: 0;
}
