.accordion-section {
    border: none;
}

.accordion {
    font-size: inherit;
}

lightning-accordion-section {
    --sds-c-accordion-section-spacing-block-start: 1px;
    --sds-c-accordion-section-spacing-block-end: 2px;
    --sds-c-accordion-heading-font-size: 13px;
    --sds-c-accordion-section-spacing-inline-end: 0;

    --lwc-tableCellSpacing: 0.3rem;

    border: none;
    color: rgb(24, 24, 24);
}
