.menu {
    position: absolute;
    z-index: var(--z-index-menu);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #cfd7e6;
}
