.nds-b2b-offer-addons1 {
  margin-left: 1rem;
  border-top: 2px solid #000;
  padding-top: 0.5rem;
  .nds-b2b-offer-addons_header {
    .nds-b2b-addon-icon {
      transform: rotate(45deg);
      margin-right: 0.3rem;
    }
    .nds-b2b-offer-addons_text {
      font-size: 0.7rem;
      margin-right: 1rem;
      font-weight: bold;
      color: #595959;
    }
    .nds-b2b-offer-addons_hide {
      color: #1589ee;
      font-size: 0.7rem;
      cursor: pointer;
    }
  }

  .nds-b2b-addons_line-items {
    margin-top: 0.5rem;
    max-height: 100vh;
    transition: all 0.35s;
    &.hide {
      max-height: 0;
      overflow: hidden;
    }
    .nds-b2b-attribute-each-row {
      padding: 0.75rem 0;
      border-bottom: 1px solid #f2f2f2;
      &:last-child {
        border-bottom: none;
      }
    }
    .nds-b2b-configure-text {
      font-size: 1rem;
      letter-spacing: 0.01rem;
      color: #595959;
      &-view {
        color: #1589ee;
        font-size: 0.8rem;
        cursor: pointer;
        .nds-b2b-quantity {
          width: 2.5rem;
          padding-left: 1rem;
          color: #595959;
        }
        /* Chrome, Safari, Edge, Opera */
        input.nds-b2b-quantity::-webkit-outer-spin-button,
        input.nds-b2b-quantity::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input.nds-b2b-quantity[type="number"] {
          -moz-appearance: textfield;
        }
        input.nds-b2b-quantity:focus {
          outline: none;
        }
        .nds-b2b-delete-icon {
          margin-left: 0.3rem;
          cursor: pointer;
        }
      }
    }
    .nds-b2b-add-offer_btn {
      font-size: 0.75rem;
      color: #1589ee;
      transition: all 0.35s;
      &:hover {
        background-color: #1589ee;
        color: #fff;
      }
    }
  }
}


.nds-b2b-child-addons {
  padding-top: 0.5rem;
  .nds-b2b-child-addons_title {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.b2b-config-child-container {
  margin-top: 1.5rem;
}