.nds-b2b-config-promo-wrapper{
    background-color:$b2b-config-promo-wrapper-blue;
    padding: 0.6rem 1.4rem;
    
    & .nds-b2b-config-promo-name{
        color: $black-primary;
    }
    & .nds-b2b-config-promo-details{
        color: $b2b-config-promo-details-blue;
    }
    & .nds-b2b-config-promo-selected{
        width: auto; 
        color: $white; 
        font-size: .7rem;
        padding: 0 1rem; 
        margin: .6rem 0 1.2rem 0; 
        line-height: 1.875rem; 
        border-radius:0.25rem; 
        background-color: $blue-primary;
    }
}