/* Check Box */
.nds-b2b-attribute-config-offer_checkbox {
  .nds-b2b-form-element_checkbox {
    display: inline;
    margin-right: 0.3rem;
    .nds-checkbox [type="checkbox"]:checked ~ .nds-checkbox_faux {
      background: #1589ee;
    }
    .nds-checkbox .nds-checkbox_faux {
      margin-top: -0.188rem;
    }
  }
  .nds-b2b-configure-text {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #595959;
  }
  .nds-b2b-attribute-each-row {
    margin-bottom: 1rem;
  }
}

/* Radio */
.nds-b2b-attribute-config-offer_radio {
  .nds-b2b-config-label {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .nds-b2b-config-radio_container input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .nds-b2b-config-radio_container label {
    display: inline-block;
    background-color: #fff;
    padding: 0.34rem 1.875rem;
    font-size: 13px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #1589ee;
    margin-right: 0.8rem;
    transition: all 0.35s;
    cursor: pointer;
  }

  .nds-b2b-config-radio_container label:hover {
    background-color: $alice-blue;
  }

  .nds-b2b-config-radio_container input[type="radio"]:checked + label {
    background-color: #1589ee;
    border-color: #1589ee;
    color: #fff;
  }
}

/* Matrix Table */
.nds-b2b-attribute-config-offer_matrix {
  .nds-b2b-config-label {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: -1.375rem;
  }
  table {
    width: 98%;
  }
  td,
  th {
    padding: 0.65rem;
    padding-left: 1rem;
  }
  th {
    font-size: .75rem;
    text-transform: uppercase;
  }
  tr:not(:first-child) {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
  }
  tr td {
    font-size: 1rem;
    letter-spacing: 0.0375rem;
    font-weight: 300;
    color: #595959;
    border-bottom: 1px solid #f2f2f2;
  }
  tr:nth-child(2) td {
    border-top: 1px solid #d8d8d8;
  }
  tr:last-child td {
    border-bottom: 1px solid #d8d8d8;
  }
  tr td:first-child {
    font-weight: 400;
  }
  th:first-child {
    width: 70vh;
  }
  .nds-b2b-attribute-radio {
    margin-right: 1vw;
    &.nds-radio [type=radio]:checked+.nds-radio__label .nds-radio_faux {
      border-color: #1589ee;
    }
    &.nds-radio [type=radio]:checked+.nds-radio__label .nds-radio_faux:after {
      background: #1589ee;
    }
    .nds-radio_faux {
      margin-top: -3px;
    }
  }
}

/* Combo Box */
.nds-b2b-attribute-config-offer_combobox {
  .nds-b2b-input {
    //Override default styles of input box when inside nds-b2b-inputs class to give different look
    .nds-form-container {
      padding: 0;
      margin-bottom: 0;
    }	
    .nds-input {
      border: $border-width-thin solid $color-border-input;
      border-radius: $border-radius-medium;
      margin-bottom: 0;
      padding: 0.25rem 0.75rem;
    }	
    .nds-input-has-icon_right {
      .nds-input__icon {
        right: $spacing-x-small;
      }
    }
    .nds-input-has-icon_left {
      .nds-input__icon {
        left: $spacing-x-small;
      }
    }
  }
  .nds-b2b-configure-text {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #595959;
  }
  .nds-b2b-attribute-each-row {
    margin-bottom: 1rem;
    .nds-b2b-combobox-label {
      font-size: 1rem;
    }
  }
  .nds-b2b-trash_icon {
    cursor: pointer;
  }
  .nds-combobox_container .nds-combobox__form-element.nds-form-element__control.nds-form-element__control-animated-label input[readonly] {
    padding-left: 1.2rem;
  }
}