.nds-b2b-config-promo-wrapper{
    background-color:#EEF4FF;
    padding: 0.6rem 1.4rem;
    
    &.nds-b2b-summary-promotion{
        width:270px;
        padding: .6rem 0.3rem .6rem 0;
        border-radius:0.1rem;
    }

    & .nds-b2b-promo-details{
        text-decoration:underline;
        cursor:pointer;
        color:#1589ee;
        padding:0 4rem 0 0;
    }
    & .nds-b2b-config-promo-name{
        color: $black-primary;
        font-weight: 700;
    }
    & .nds-b2b-config-promo-details{
        color: $azure;
        font-weight: 700;
    }
    & .nds-b2b-config-promo-selected{
        width: auto; 
        color: $white; 
        font-size: .7rem;
        padding: 0 1rem; 
        margin: .6rem 0 1.2rem 0; 
        line-height: 1.875rem; 
        border-radius:0.25rem; 
        background-color: $blue-primary;
    }
}