.nds-b2b-product-relationship-rule {
  .nds-b2b-rule {
    background: rgba(221, 219, 218, 0.13);
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 0.125rem;
  }
  .nds-b2b-rule-main-header-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #000000;
  }

  .nds-b2b-container {
    margin-top: 0.375rem;
    display: flex;
    align-items: center;
    width: 70%;
    height: 4.625rem;
    position: relative;
    .nds-b2b-checkbox {
      background: #FFFFFF;
      border: 1px solid #AEAEAE;
      box-sizing: border-box;
      border-radius: 0.125rem;
      width: 1rem;
      height: 1rem;
      margin-left: 1.3125rem;
      margin-right: 0.625rem;
    }
    .nds-b2b-rule-name {
      display: flex;
      align-items: center;
      .nds-b2b-link-icon {
        margin-right: 0.5rem;
      }
      .nds-b2b-rule-text {
        font-size: .8rem;
        line-height: 1rem;
      }
    }
    .nds-b2b-relate-prod {
      position: absolute;
      right: 1.25rem;
      top: 0.25rem;
      width: 17rem;
      .nds-b2b-input-name {
        font-size: 0.625rem;
        line-height: 1.25rem;
        margin-bottom: 0;
      }
      .nds-b2b-show-rel-prod {
        height: 2rem;
        background: #FFFFFF;
        border: 1px solid #DDDBDA;
        box-sizing: border-box;
        border-radius: 0.125rem;
        display: flex;
        align-items: center;
        justify-content: space-between  ;
        padding: 0 0.5rem;
        .nds-b2b-rel-prod-text {
            font-size: 0.75rem;
            line-height: 0.875rem;
            color: #020C14;
        }
        .nds-b2b-icon-edit {
            float: right;
            cursor: pointer;
        }
      }
    }
  }

  .nds-b2b-rule-section {
    width: 18rem;
    .nds-b2b-rule-sec-header {
      height: 2.875rem;
      background: #F3F2F2;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 0.9375rem;
      .nds-b2b-link-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.5625rem;
        background-color:#7A9AE6;
      }
      .nds-b2b-rule-header-text {
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #000000;
      }
    }
    .nds-b2b-prod-section {
      height: 21rem;
      overflow: scroll;
      .nds-b2b-product-details {
        padding: 0.625em 0.9375rem;
        .nds-b2b-prod-name {
          font-size: 0.6875rem;
          line-height: 0.8125rem;
          color: #000000;
        }
      }
      .nds-b2b-rules {
        border-top: 1px solid #DDDBDA;
        padding: 0em 0.9375rem;
        .nds-b2b-prod-rule-sec {
          margin: 0.625em 0rem;
          .nds-b2b-rule-header {
            display: flex;
            align-items: center;
            .nds-b2b-link-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 1.25rem;
              height: 1.25rem;
              margin-right: 0.5625rem;
              background-color:#7A9AE6;
            }
            .nds-b2b-rel-text {
              font-size: 0.8rem;
              line-height: 0.8rem;
              color: #000000;
            }
          }
          .nds-b2b-rule-name {
            padding: 0.625em 0em 0.1875rem;
            border-bottom: 1px solid #DDDBDA;
            font-size: 0.7rem;
            line-height: 0.7rem;
            color: #706E6B;
          }
        }
        .nds-b2b-rel-prod-section {
          .nds-b2b-rel-prod {
            font-size: 0.7rem;
            line-height: 0.7rem;
            color: #000000;
          }
          .nds-b2b-de-link {
            font-size: 0.7rem;
            line-height: 0.7rem;
            color: #006DCC;
            direction: rtl;
            cursor: pointer;
            margin: 0.625rem 0rem 0.625rem;
          }
        }
      }
    }
  }
}
