.nds-b2b-hr {
  margin: 0;
  color: $palette-warm-gray-7;
}
.b2b-config-offer {
  padding-bottom: 2rem;
  background: $white-smoke;
  @media screen and (min-width: 48rem){
    padding: 1rem;
  }
  @media screen and (min-width: 80rem) {
    min-height: 70vh;
    height:auto;
    padding: 2rem 6rem;
  }
}
