.nds-b2b-child-addons {
  padding-top: 0.5rem;
  .nds-b2b-child-addons_title {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.b2b-config-child-container {
  margin-top: 1.5rem;
}