// Layout
.nds-b2b-card {
  display: flex;
  margin: 2rem;
  padding: 0.2rem 2rem;
  background: white;
  input.nds-b2b-card_checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .nds-b2b-card_container {
    flex: 1;
    .nds-b2b-card_tabs {
      overflow: hidden;
      .nds-b2b-card_tab {
        width: 100%;
        color: white;
        overflow: hidden;
        transition: all 0.25s ease-in;
        &-label {
          display: flex;
          justify-content: space-between;
          padding: 1em 0;
          background: #fff;
          font-weight: bold;
          font-size: 1.3rem;
          color: #000;
          cursor: pointer;
          transition: all 0.25s ease-in;
          /* Icon */
          &::after {
            content: "\276F";
            width: 1.3em;
            height: 1.3em;
            font-size: 1.6rem;
            text-align: center;
            transition: all 0.35s;
            color: #B0ADAB;
          }
          .nds-b2b-attributes_info {
            position: absolute;
            left: 20rem;
            @include cardsHeaderAttributes;
          }
          .nds-b2b-price_info {
            right: 12rem;
            position: absolute;
            display: flex;
            @include cardsHeaderAttributes
          }
        }
        &-content {
          max-height: 0;
          background: white;
          transition: all 0.35s;
          color: #595959;
        }
        input.nds-b2b-card_checkbox:checked {
          + .nds-b2b-card_tab-label {
            &::after {
              transform: rotate(90deg);
            }
            .nds-b2b-attributes_info {
              display: none;
            }
          }
          ~ .nds-b2b-card_tab-content {
            max-height: inherit;
            padding: 2rem 0 1rem 0;
            border-top: 1px solid #d8d8d8;
          }
        }
      }
    }
  }
  &.nds-b2b-child-card {
    margin: 0 2rem 2rem 4rem;
    position: relative;
    .nds-b2b-delete-offer_btn {
      transition: all 0.25s ease-in;
      font-size: 0.7rem;
      font-weight: 300;
      color: #ff2953;
      padding: 0 1.5rem;
      right: 5rem;
      position: absolute;
      &:hover {
        background-color: #ff2953;
        color: #fff;
      }
    }
  }
}
.nds-b2b-child-card_path {
  background: #fff;
  padding: 0.4rem 2rem;
  color: #1589ee;
  margin: 2rem 2rem 0 4rem;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 300;
}
.nds-theme_default {
  background-color: #f6f6f6 !important;
}
