.nds-b2b-hr {
  margin: 0;
  color: #B0ADAB;
}
.b2b-config-offer {
  padding-bottom: 2rem;
  background: #F6F6F6;
  @media screen and (min-width: 48rem){
    margin: 0.5rem;
    padding: 0.5rem;
  }
  @media screen and (min-width: 80rem) {
    margin: 2rem;
    min-height: 110vh;
    height:auto;
    padding: 2rem;
  }
}
