.nds-form-container {
	margin-bottom: 0.5rem;
    padding: 0.75rem;
}

.nds-form-container .nds-form-element__control-animated-label {
	width: 100%;
}

.nds-form-element c-tooltip {
	position: absolute;
    right: 0;
    width: 1rem;
    z-index: 1;
    line-height: 1;
    top: 1.125rem;
}

.nds-lwc-tooltip section.nds-popover {
	position: absolute;
}

c-input .nds-form-element {
	display: flex;
}

.nds-relative-tooltip .nds-lwc-tooltip,
.nds-radio-relative-tooltip .nds-lwc-tooltip {
	position: relative;
	order: 2;
}

.nds-relative-tooltip div.nds-form-element__control,
.nds-radio-relative-tooltip div.nds-form-element__control {
	order: 1;
}

.nds-relative-tooltip .nds-lwc-tooltip {
	top: 0;
}

.nds-radio-relative-tooltip .nds-lwc-tooltip {
	top: -3px;
}

input[type=text].nds-lwc-input.nds-input,
input[type=tel].nds-lwc-input.nds-input {
	color: transparent;
}

input[type=text].nds-lwc-input.nds-input:focus,
input[type=tel].nds-lwc-input.nds-input:focus {
	color: inherit;
	transition: all 0.3s ease-out;
}

input[type=text].nds-lwc-input.nds-input.nds-not-empty,
input[type=tel].nds-lwc-input.nds-input.nds-not-empty {
	color: inherit;
}
