.nds-dc-add_to-cart-btn {
  width: 9rem;
  color: $white;
  background-color: $newport-background-primary-blue;
  text-align: center;
  border-radius: 0.3125rem;
  margin: 1.875rem auto;
  padding: 0 $spacing-large-offer-config;
}
.nds-dc-addons-btn_container{
  text-align: center;
}

.nds-dc-offer_navigation {
  padding: 0.625rem 0.625rem 3.125rem 0.625rem;
}

@media screen and (min-width: 48rem) {
  .nds-dc-offer_navigation {
    padding: 0.93rem 1.88rem 3.125rem 1.88rem;
  }
}
