.nds-dc-applied-promo-container {
    display: flex;
    padding: 0 .3125rem;
    padding-right: 1rem;

    .nds-dc-applied-promo {
        width: 100%;
        display: flex;
        margin: .875rem 0;
        .nds-dc-applied-promo-label {
            width: 35%;
            padding-left: .3125rem;
            font-size: .75rem;
            line-height: $line-height-applied-promo;
            color: $newport-color-brand-orange;
        }
        .nds-dc-adjustment-value-one-time {
            font-size: .75rem;
            line-height: $line-height-applied-promo;
            margin-top: -0.625rem;
            width: 40%;
            text-align: right;
        }
        .nds-dc-value-one-time {
            border-bottom: 0.1rem solid $dc-modal-border-color;
            width: 4rem;
            display: inline-block;
        }
        .nds-dc-adjustment-value-recurring {
            line-height: $line-height-applied-promo;
            margin-top: -0.625rem;
            width: 15%;
            margin-right: .3125rem;
            font-size: .75rem;
        }
        .nds-dc-delete-icon {
            width: 10%;
            margin-top: -0.75rem;
            margin-left: .3125rem;
            text-align: center;
            .nds-dc-trash-title {
                color: $background-primary-blue;
                font-size: .9375rem;
                margin-left: .3125rem;
                cursor: pointer;
                display:none;
            }
            img {
                height: 0.75rem;
            }
        }
        .nds-dc-edit-column {
            margin-left: -1rem;
        }
    }
    
    @media only screen and (min-width: 30rem){
        padding: 0 1.875rem;
        .nds-dc-applied-promo {
            .nds-dc-applied-promo-label{
                width: 30%;
                padding-left: 1.25rem;
                font-size: $font-size-applied-promo;
            }
            .nds-dc-adjustment-value-one-time{
                font-size: $font-size-applied-promo;
            }
            .nds-dc-adjustment-value-recurring{
                width: 20%;
                font-size: $font-size-applied-promo;
                margin-right: unset;
            }
            .nds-dc-delete-icon {
                width: 10%;
                margin-top: unset;
                .nds-dc-trash-title {
                    display:unset;
                }
            }
            .nds-dc-edit-column {
                margin-left: 0; 
                float: right;
            }
            
            .nds-dc-value-one-time {
                width: 6rem;
            }
        }
    }
}