.nds-dc-my-account {
  h2 {
    color: $newport-dropdown-shadow;
    font-weight: $font-weight-bold;
    margin-left: 0.625rem;
    margin-top: 0.5rem;
  }
  .nds-dc-asset-border {
    width: 3.125rem;
    height: 0.1875rem;
    background: $newport-color-brand-orange;
    margin-top: 0.25rem;
    margin-left: 0.625rem;
  }
} 