/* shopping cart nested offer */
  .nds-dc-cart_line-item {
    .nds-dc-each_item {
      border-top: 1px solid $newport-border-gray;
      padding-top: 1.25rem;
      .nds-dc-cart_item-category {
        color: $kashmir-blue;
        font-weight: $font-weight-bold;
        font-size: $font-size-applied-promo;
        margin-left: 1.875rem;
      }
      .nds-dc-offer_item {
        display: flex;
        padding: 0 $spacing-medium 0 1.875rem;
      }
      .nds-dc-title_container {
        flex: 1;
        text-align: center;
      }
      .nds-dc-offer_menu {
        width: 100%;
        display: flex;
        .nds-dc-tile_text {
          color: $kashmir-blue;
          font-size: $font-size-applied-promo;
          input {
            width: 5rem;
            padding: $spacing-applied-promo;
            border: none;
            background-color: $white;
            text-align: center;
            border-bottom: 2px solid $newport-color-brand-orange;
            &:active,
            &:focus {
              outline: 0;
            }
          }
          &.nds-dc-title {
            width: 30%;
            text-align: left;
            padding-left: 1.25rem;
            .nds-dc-offer_image {
              height: 6.25rem;
              margin: -1rem $spacing-applied-promo 0 -$spacing-applied-promo;
            }
          }
          &.nds-dc-quantity {
            width: 20%;
          }
          &.nds-dc-due {
            width: 20%;
            text-align: right;
          }
          &.nds-dc-icons {
            width: 15%;
            margin-left: $spacing-applied-promo;
            .nds-dc-tile_trash {
              height: 0.8rem;
              cursor: pointer;
            }
            .nds-dc-tile_trash-title {
              color: $background-primary-blue;
              font-size: 0.9375rem;
              margin-left: $spacing-applied-promo;
              cursor: pointer;
            }
          }
        }
        &.nds-dc-offer_details {
          margin: 0.875rem 0;
          .nds-dc-tile_text {
            color: $black-secondary;
            &.nds-dc-quantity {
              margin-top: -0.625rem;
            }
          }
        }
      }
      .nds-dc-offer_image-container {
        width: 4rem;
        display: inline-block;
        margin-top: -2rem;
        margin-right: 0.3rem;
        &.mobile {
          display: none;
        }
      }
      &.nds-dc-line_item {
        border: none;
        padding-top: 0;
      }
      /* For iPad devices */
      @media only screen and (max-width: 48rem) {
        .nds-dc-cart_item-category {
          font-size: 0.8125rem;
        }
        .nds-dc-offer_item {
          padding: 0;
        }
        .nds-dc-offer_menu {
          .nds-dc-tile_text {
            font-size: 0.75rem;
            &.nds-dc-title {
              padding-left: 2.5rem;
            }
            &.nds-dc-icons {
              width: 20%;
              margin-left: 0;
            }
          }
        }
      }
  
      /* For mobile devices */
      @media only screen and (max-width: 42rem) {
        .nds-dc-offer_image-container {
          display: none;
          &.mobile {
            display: flex;
            margin-left: 1.875rem;
            width: 4rem;
            margin-top: .7rem;
          }
        }
      }
      @media only screen and (max-width: 29rem) {
        .nds-dc-offer_item {
          padding: 0 $spacing-applied-promo;
        }
        .nds-dc-cart_item-category {
          margin-left: 0.625rem;
          margin-top: -0.625rem;
        }
        .nds-dc-offer_menu {
          .nds-dc-tile_text {
            &.nds-dc-title {
              width: 35%;
              padding-left: $spacing-applied-promo;
              .nds-dc-offer_image {
                display: none;
              }
            }
            input {
              width: 2.1875rem;
            }
            &.nds-dc-due {
              width: 15%;
              margin-right: $spacing-applied-promo;
            }
            &.nds-dc-icons {
              width: 10%;
              .nds-dc-tile_trash-title {
                display: none;
              }
            }
            &.nds-dc-quantity {
              padding-top: 1.125rem;
            }
          }
          &.nds-dc-offer_details {
            .nds-dc-tile_text {
              font-size: 0.75rem;
              &.nds-dc-quantity {
                padding-top: 0;
                margin-top: -0.625rem;
              }
            }
          }
        }
      }
    }
    .nds-dc-base-modal {
      .nds-dc-modal-container {
        display: block;
      }
    }

    .nds-dc-edit-icon {
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
    }
    .nds-dc-offer-actual-price {
      color: $newport-blue-text-secondary;
      font-size: $font-size-applied-promo;
      display: block;
    }
    .nds-dc-offer-base-amount {
      display: block;
      font-size: $font-size-applied-promo;
      margin-bottom: 0.625rem;
      color: $newport-blue-text-secondary;
    }
    .nds-dc-tile-text.nds-dc-due {
      width: 20%;
      text-align: right;
    }
    .nds-dc-applied-promo-container {
      display: flex;
      padding: 0 $spacing-medium 0 1.875rem;
    }
    .nds-dc-applied-promo {
      width: 100%;
      display: flex;
      margin: .875rem 0;
    }
    .nds-dc-applied-promo-label {
      width: 30%;
      text-align: left;
      padding-left: 1.25rem;
      font-size: $font-size-applied-promo;
      box-sizing: border-box;
      color: $new-york-pink;
    }
    .nds-dc-adjustment-value-one-time {
      font-size: $font-size-applied-promo;
      margin-top: -0.625rem;
      width: 40%;
      text-align: right;
    }
    .nds-dc-adjustments-value-recurring {
      font-size: $font-size-applied-promo;
      margin-top: -0.625rem;
      width: 35%;
    }
    .nds-dc-trash-title {
      color: $background-primary-blue;
      font-size: .9375rem;
      margin-left: .3125rem;
      cursor: pointer;
    }
    .nds-dc-delete-icon {
      width: 15%;
      margin-left: .3125rem;
      text-align: center;
    }
    .nds-dc-edit-icon-column {
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
    }
    .nds-dc-value-one-time {
      border-bottom: 0.1rem solid $black-border-primary;
      width: 6rem;
      display: inline-block;
    }

    @media only screen and (max-width: 29rem) {
      .nds-dc-edit-icon {
        margin-left: 0;
      }
      .nds-dc-offer-actual-price,
      .nds-dc-offer-base-amount,
      .nds-dc-applied-promo-container,
      .nds-dc-applied-promo-label,
      .nds-dc-adjustment-value-one-time {
        font-size:0.75rem;
      }
      .nds-dc-applied-promo-container {
        padding: 0 .3125rem;
      }
      .nds-dc-applied-promo-label {
        width: 35%;
        padding-left: .3125rem;
      }
      .nds-dc-trash-title {
        display:none;
      }
      .nds-dc-adjustments-value-recurring {
        width: 25%;
        margin-right: .3125rem;
      }
      .nds-dc-delete-icon {
        width: 10%;
      }
      .nds-dc-edit-icon-column {
          margin-left: 0; 
      }
    }

  }
        

