
.nds-dc-nav_type {
  border: 1px solid $newport-border-gray;
  border-radius: 0.25rem;
  background-clip: padding-box;
  padding: 0.5rem;
  list-style-type: none;
  &.nds-dc-selected {
    border: 1px solid $newport-color-brand-orange;
  }
  .nds-dc-plan_item-description {
    font-size: 0.75rem;
    color: $newport-input-font-kashmiri-blue;
    line-height: 1rem;
    padding: 0.625rem 0 0.625rem 2.19rem;
    position: static;
    font-weight: $font-weight-light;
    height: 7vh;
    min-height: 4rem;
    overflow-y: auto;
  }
  .nds-dc-radiobtn:checked,
  .nds-dc-radiobtn:not(:checked) {
    position: absolute;
    left: -600rem;
  }
  .nds-dc-radiobtn:checked + label,
  .nds-dc-radiobtn:not(:checked) + label {
    position: relative;
    padding-left: 2.19rem;
    cursor: pointer;
    line-height: 1.25rem;
    display: inline-block;
    color: $biscay;
    letter-spacing: 0.2px;
  }
  .nds-dc-radiobtn:checked + label:before,
  .nds-dc-radiobtn:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.375rem;
    height: 1.375rem;
    border: 2px solid $newport-border-gray;
    border-radius: 100%;
    background: transparent;
  }
  .nds-dc-radiobtn:checked + label:before {
    border: 2px solid $newport-color-brand-orange;
  }
  .nds-dc-radiobtn:checked + label:after,
  .nds-dc-radiobtn:not(:checked) + label:after {
    content: "";
    width: 0.625rem;
    height: 0.625rem;
    position: absolute;
    top: 0.375rem;
    left: 0.375rem;
    border-radius: 100%;
    transition: all 0.2s ease;
  }
  .nds-dc-radiobtn:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  .nds-dc-radiobtn:checked + label:after {
    opacity: 1;
    background: $newport-color-brand-orange;
    transform: scale(1);
  }
  .nds-dc-single_price {
    margin: 0 1.19rem;
  }
  .nds-dc-plan_item-price-section {
    margin: 0.4rem 0;
    font-size: 1.25rem;
    position: relative;
    padding: 0.4rem 0 0;
    border-top: 1px solid $newport-border-gray;
    text-align: center;
    &.nds-dc-hide-price {
      visibility:hidden;
    }
  }
  .nds-dc-payment_type {
    color: $newport-input-font-kashmiri-blue;
    font-size: 0.625rem;
    line-height: 0.812rem;
  }
  .nds-dc-plan_name {
    font-size: 0.875rem;
    min-height: 4rem;
  }
  .nds-dc-single_price-quantity {
    display: flex;
    width: 100%;
    border-top: 1px solid $newport-border-gray;
    margin: 0;
    .nds-dc-quantity {
      margin-top: 0.5rem;
      text-align: inherit;
      padding: 0.625rem;
    }
  }
  &.nds-dc-checkbox {
    background-color: transparent;
    margin-top: 0.625rem;
    border: 1px solid $newport-border-gray;
    border-radius: 0.25rem;
    background-clip: padding-box;
    padding: 0.5rem;
    .nds-dc-single_price-quantity {
      display: flex;
      width: 100%;
      text-align: center;
      .nds-dc-quantity {
        padding: 0;
        text-align: center;
        order: 2;
        .nds-dc-quantity_label {
          font-size: 0.625rem;
          padding-left: 0.3125rem;
          color: $newport-input-font-kashmiri-blue;
        }
        .nds-dc-quantity_input {
          width: 4rem;
          border: none;
          box-shadow: none;
          border-bottom: 2px solid $geyser;
          font-size: 1.5625rem;
          text-align: center;
          z-index: 1;
          min-height: 1.875rem;
          padding-left: 0.313rem;
          &:active,
          &:focus {
            outline: 0;
            border-color: $newport-color-brand-orange;
            background-color: $white;
          }
        }
      }
    }
    .nds-dc-accessories {
      text-align: center;
      height: 12.5rem;
      img {
        max-height: 12.5rem;
      }
    }
    .nds-dc-single_price {
      margin: 0 1.1875rem;
    }
    .nds-dc-offer_tag {
      background-color: $newport-color-brand-orange;
      color: $white;
      text-align: center;
      padding: 0.3125rem 0.625rem;
      position: absolute;
      font-size: 0.6875rem;
      margin: -1rem 0 0 -1rem;
      display: block;
    }
    .nds-dc-plan_item-price-section {
      font-size: 1.5625rem;
      padding: 0;
      position: relative;
      right: 0;
      border-top: none;
      .nds-dc-checkbox_price {
        margin-bottom: -0.5rem;
        text-align: center;
        padding: 0.625rem;
        font-size: 1.5625rem;
        border: none;
        width: 50%;
        top: auto;
      }
    }
    label {
      margin-left: 0.75rem;
      display: grid;
    }
    .nds-dc-payment_type {
      color: $newport-input-font-kashmiri-blue;
      font-size: 0.625rem;
      line-height: 0.8125rem;
    }
    .nds-dc-plan_item-description {
      font-size: 0.75rem;
      color: $newport-input-font-kashmiri-blue;
      line-height: 1rem;
      padding: 0.625rem 0 0.625rem 0.875rem;
      position: static;
      font-weight: $font-weight-light;
    }
    .nds-dc-plan_name {
      white-space: normal;
      font-weight: $font-weight-bold;
      font-size: 0.875rem;
    }
    &.nds-dc-attachments {
      min-height: 21rem;
      .nds-dc-plan_item-description {
        margin-right: -1.125rem;
        padding: 0.625rem;
      }
    }
  }
  .nds-dc-tile_board {
    display: block;
  }
}

@media screen and (min-width: 48rem) {
  &.nds-dc-checkbox {
    .nds-dc-plan_item-price-section {
      font-size: 1.7rem;
    }
    .nds-dc-desc_part {
      padding: 0.3125rem 0.625rem 0.5rem 0;
      min-width: 12.5rem;
    }
    &.nds-dc-attachments {
      .nds-dc-plan_item-description {
        padding-right: 0.625rem;
      }
      .nds-dc-plan_item-price-section {
        font-size: 1.5625rem;
      }
    }
    .nds-dc-single_price-quantity {
      display: flex;
      margin-top: -0.625rem;
      .nds-dc-quantity {
        .nds-dc-quantity_input {
          width: 4rem;
          font-size: 1.5625rem;
          padding-left: 0.313rem;
        }
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  .nds-dc-nav_type {
    .nds-dc-plan_item-price-section {
      margin: 0.32rem 0;
      text-align: center;
      padding: 0.625rem;
      font-size: 1.7rem;
      border-top: 1px solid $newport-border-gray;
      &.nds-dc-hide-price {
        visibility:hidden;
      }
    }
    .nds-dc-plan_name {
      font-size: 0.875rem;
      font-weight: $font-weight-bold;
      white-space: pre-line;
      min-height: 2.5rem;
      overflow-y: auto;
    }
    &.nds-dc-checkbox {
      .nds-dc-single_price-quantity {
        border-top: 1px solid $newport-border-gray;
        margin: 0;
        .nds-dc-quantity {
          padding: 0.625rem;
          padding-bottom: 0;
          .nds-dc-quantity_input {
            width: 5rem;
            font-size: 1.5625rem;
            padding-left: 0.875rem;
          }
        }
      }
        
      .nds-tile_board {
        margin-top: 0.625rem;
      }
    
      .nds-dc-plan_item-price-section {
        margin-bottom: -0.5rem;
        text-align: center;
        padding: 0.625rem;
        font-size: 1.5625rem;
        border: none;
      }
  
      &.nds-dc-checked {
        border: 1px solid $newport-color-brand-orange;
        .nds-dc-single_price-quantity {
          .nds-dc-quantity {
            .nds-dc-quantity_input {
              border-bottom: 2px solid $newport-color-brand-orange;
            }
            .nds-dc-quantity_label {
              color: $newport-color-brand-orange;
            }
          }
        }
      }
    }
  }
}