.nds-dc-offer-details {
  h2 {
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
  }
  .nds-dc-spinner {
    position: fixed;
  }
  .nds-dc-text-configurations {
    display: flex;
    overflow: auto;
  }
  .nds-dc-offer-color-config-component,
  .nds-dc-offer-input-config,
  .nds-dc-offer-attribute-config {
    display: flex;
    flex-basis: 100%;
    padding: 1.25rem 0;
    border-bottom: 0.063rem solid $palette-cool-gray-5;
  }
  .nds-dc-offer-color-config-component,
  .nds-dc-offer-configurations {
    overflow: auto;
  }
  .nds-dc-offer-color-config-component {
    border-top: 0.063rem solid $palette-cool-gray-5;
  }
  @media only screen and (min-width: 48rem) {
    padding-left: 0.625rem;
  }
  @media only screen and (min-width: 80rem) {
    padding-left: 0rem;
  }
}
