.nds-dc-offer-attributes {
  .nds-dc-tile-text {
    color: #54698d;
    font-size: 14px;
    line-height: 20px;
  }
  .nds-dc-offer-round-button-set {
    margin-top: 3px;
    padding: 5px 15px;
    .nds-dc-offer-attribute {
      height: 21px;
      width: 21px;
      margin-right: 6px;
      border: 1px solid #ddd;
      border-radius: 50%;
      display: inline-block;
    }
  }
  .nds-dc-offer-button-set {
    padding-top: 3px;
    display: flex;
    .nds-dc-offer-attribute {
      padding: 2px;
      margin: 3px 6px 3px 0;
      border: 1px solid #ddd;
      display: inline-block;
    }
    .nds-dc-tile-text-small {
      color: #54698d;
      font-size: 12px;
      line-height: 16px;
    }
  }
}