.nds-dc-offer_config{
    .nds-dc-spinner {
        position: fixed;
    }
    .nds-dc-offer-config-title-container {
        margin: 3.125rem 0 0 3.125rem;
        .nds-dc-plan-title {
            font-size: $font-size-xx-large;
            color: $newport-black-primary;
        }
        .nds-dc-underline-title {
            width: 3.125rem;
            display: inline-block;
            border-bottom: 0.188rem solid $newport-color-brand-orange;
        }
    }
    .nds-dc-offer-config-container {
        display: flex;
        padding: $spacing-large-offer-config;
        width: 100%;
        .nds-dc-media-container{
            min-width: 18.75rem;
            width: 40%;
        } 
        .nds-dc-offer-config-details {
            padding: $spacing-large-offer-config;
            margin-bottom: 2.5rem;
            width: 60%;
            padding-right: 0;
        }
    }
    .nds-dc-offer-group-sections {
        padding: 1rem 1.25rem;
    }
    .nds-dc-continue-btn {
        color: $white;
        background-color: $newport-blue-text-primary;
        text-align: center;
        border-radius: 0.188rem;
        padding: $spacing-medium-offer-configuration $spacing-large-offer-config;
        position: relative;
        margin: 0 auto;
        margin-top: $spacing-large-offer-config;
        display: block;
    }
    @media only screen and (max-width: 1024px) {
        .nds-dc-offer-group-sections {
            padding: 0 $spacing-large-offer-config;
        }
    }
    @media screen and (max-width: 768px) {
        .nds-dc-offer-group-sections {
            padding: 0 $spacing-medium-offer-configuration;
        }
    }
    @media screen and (max-width: 750px) {
        .nds-dc-offer-config-container {
            display: block;
            .nds-dc-offer-config-details {
                width: 100%;
            }
        }
    }
    @media only screen and (max-width: 420px) {
        .nds-dc-offer-config-container {
            display: block;
            padding: 0.313rem;
            .nds-dc-offer-config-details {
                padding: $spacing-large-offer-config 0;
            }
        }
        .nds-dc-offer-config-title-container {
            margin: $spacing-large-offer-config 0 0 $spacing-large-offer-config;
            .nds-dc-plan-title {
                font-size: 1.625rem
            }
        }
        .nds-dc-offer-group-sections {
            padding: 0;
            margin-left: $spacing-medium-offer-configuration;
        }
        .nds-dc-offer-details {
            margin-top: $spacing-large-offer-config;
        }
        
    }
    @media screen and (max-width: 370px) {
        .nds-dc-offer-group-sections {
            display: block;
        }
    }
}
  