.nds-dc-offer-grid-view {
  padding: 0;
  width: 100%;
    .nds-dc-offer-board {
      padding: 0.625rem 0;
      margin-bottom: 2rem;
      .nds-dc-offer-item-tile {
        margin: auto;
        background-color: $white;
        box-shadow: 0 2px 6px 2px rgba(17,17,17,.2);
        .nds-dc-offer-tag {
          background-color: $newport-color-brand-orange;
          color: $white;
          text-align: center;
          padding: 0.3125rem 0.625rem;
          position: absolute;
          font-size: 0.6875rem;
          margin: -1rem 0 0 -1rem;
          display: block;
        }
        .nds-dc-nds-item {
          border: none;
          color: $kashmir-blue;
          padding: 1rem;
          padding-top: 1.25rem;
          a:hover {
            text-decoration: none;
          }
          .nds-dc-offer-item-details {
            padding-top: 1.5rem;
            margin-top: 1.5rem;
            border-top: solid 1px rgba(0,0,0,0.2);
            hr {
              margin: 1.5rem 0;
            }
            .nds-dc-tile-text {
              color: $kashmir-blue;
              font-size: 0.875rem;
            }
            .nds-dc-offer-name {
              color: $biscay;
              font-size: 1.25rem;
              line-height: 1.625rem;
              padding-right: 0.3125rem;
            }
            .nds-dc-offer-detail {
              flex: 3;
              color: $newport-input-font-kashmiri-blue;
              font-size: 0.75rem;
              line-height: 1rem;
            }
            .nds-put-right-border{
              border-right: solid 1px rgba(0,0,0,0.2);
            }
          }
          .full-width{
            width: 100%;
          }
          .nds-button.nds-button_brand{
            margin-top: 1rem;
            background-color: $newport-color-brand-orange;
            border-color: $newport-color-brand-orange;
          }
        }
        &.nds-dc-selected {
          border: 1px solid $newport-color-brand-orange;
        }
      }
    }
}

@media only screen and (min-width: 64rem) {
  .nds-dc-offer-grid-view {
    .nds-dc-offer-board {
      padding: 0.625rem 5.3125rem;
    }
  }
  .nds-dc-offer-item-tile {
    min-width: 100%;
  }
}

@media only screen and (min-width: 80rem) {
  .nds-dc-offer-grid-view {
    .nds-dc-offer-board {
      .nds-dc-offer-item-tile {
        max-width: 25rem;
      } 
    }
  }
}
