.nds-dc-offer-attributes {
  .nds-dc-tile-text {
    color: $kashmir-blue;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .nds-dc-offer-round-button-set {
    margin-top: 0.1875rem;
    padding: 0.3125rem;
    .nds-dc-offer-attribute {
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 0.375rem;
      border: 1px solid $newport-border-gray;
      border-radius: 50%;
      display: inline-block;
    }
  }
  .nds-dc-offer-button-set {
    padding-top: 0.1875rem;
    display: flex;
    overflow: auto;
    .nds-dc-offer-attribute {
      padding: 0.125rem;
      margin: 0.1875rem 0.375rem 0.1875rem 0;
      border: 1px solid $newport-border-gray;
      display: inline-block;
      height: inherit;
      width: 4rem
    }
    .nds-dc-tile-text-small {
      color: $kashmir-blue;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}