.nds-dc-promotion_list-component {
    padding: 0.5rem;
    padding-right: 1rem;
    border-top: 0.063rem solid $newport-border-gray;

    .nds-dc-promotion_list-heading {
        color: $kashmir-blue;
        font-weight: $font-weight-bold;
        font-size: 0.8125rem;
        margin-bottom: 0.75rem;
    }

    .nds-dc-promotion_list {
        background-clip: padding-box;
        list-style: none;
        margin-bottom: 1.25rem;

        .nds-dc-promotion_list-title {
            font-size: 0.75rem;
            line-height: 1.25rem;
            color: $black-background-primary;
            font-weight: $font-weight-bold;
        }
        .nds-dc-promotion_list-description {
            font-size: 0.75rem;
        }
        label.nds-dc-promotion_list-apply {
            font-size: 0.6rem;
            color: $background-primary-blue;
            cursor: pointer;
        } 
        input[type=checkbox] {
            display:none;
        }
    }
    .nds-p-horizontal_small {
        padding: 0;
    }
    .nds-dc-align_center {
        text-align: center;
    }

    @media only screen and (min-width: 30rem) {
        padding: 1.4rem 1.875rem;
        .nds-dc-promotion_list label.nds-dc-promotion_list-apply {
            font-size: 0.9375rem;
        }
    }
    @media only screen and (min-width: 48rem) {
        padding: 1.5rem 2rem;
        .nds-dc-promotion_list-heading {
            font-size: 1.0625rem;
            margin-bottom: 1.875rem;
        }
        .nds-dc-promotion_list label.nds-dc-promotion_list-apply {
            font-size: 0.9375rem;
        }
        .nds-p-horizontal_small {
            padding-right: .75rem;
            padding-left: .75rem;
        }
    }
  }