.nds-dc-toast {
  margin: 0 0 0.5rem;
  padding: 1rem 1rem 1rem 4rem;
  width: 18rem;
  border-radius: 0.25rem;
  background-position: 1.25rem center;
  background-repeat: no-repeat;
  box-shadow: 0 0 1rem #999999;
  background-color: #bd362f;
  color: #ffffff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
  .nds-dc-toast-title {
    font-weight: $font-weight-bold;
  }
  .nds-dc-toast-message {
    word-wrap: break-word;
  }
}
.nds-dc-toast-error {
  background-color: #bd362f;
}
.nds-dc-toast-success {
  background-color: green;
}
.nds-dc-toast-top-right {
  top: 1rem;
  right: 1rem;
  position: fixed;
  z-index: 100;
}
@media only screen and (min-width: 48rem) {
  .nds-dc-toast {
    width: 20rem;
  }
}