$font-size-applied-promo: 1.0625rem !default;
$line-height-applied-promo: 1.25rem !default;
$spacing-medium-offer-configuration: 0.625rem !default;
$spacing-large-offer-config: 1.25rem !default;
$spacing-applied-promo: .3125rem !default;
