.selection-checkbox {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}

.text-container {
    height: 100%;
    left: 60px;
    line-height: 1rem;
    top: 0px;
    width: 180px;
    word-break: break-word;
    opacity: 1;
}

.text-container:not(.hidden) {
    transition: opacity 0.4s;
}

.text-container.hidden {
    opacity: 0;
}

.text-container.shifted {
    transform: translate(0%, -55%);
}

.text-container .text-element-label {
    font-weight: var(--lwc-fontWeightBold);
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.slds-icon-utility-right {
    background-color: #53b6b4;
}
