$form-label-font-size: 0.75rem !default;
$form-label-font-weight: 300 !default;
$form-label-pre-animate-font-size: .875rem !default;
$form-label-pre-animate-font-weight: 400 !default;
$form-placeholder-weight: 200 !default;
$form-placeholder-font-size: $font-size-4 !default;
