* {
    outline: none;
}

.highlight {
    z-index: 3; /* lightning-datepicker has an icon with z-index: 2, this makes sure that icon can't be clicked when preventing events */
    margin-bottom: var(--lwc-borderWidthThin);
}

.highlight-header {
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-1 * var(--lwc-varSpacingVerticalLarge));
    line-height: var(--lwc-varSpacingVerticalLarge);
    background-color: var(--lwc-colorBrandDarker);
    border-radius: var(--lwc-borderRadiusMedium) var(--lwc-borderRadiusMedium) 0 0;
    color: var(--lwc-colorTextBrandPrimary);
    max-width: 80%;
    z-index: 3;
}

.highlight-frame {
    height: 100%;
    z-index: 3;
}

.highlight-frame::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: none 0 0 0 var(--lwc-borderWidthThick) var(--lwc-colorBrandDark);
}

.highlight-icons-container {
    visibility: hidden;
    background-color: var(--lwc-colorBrandDark);
    top: var(--lwc-borderWidthThick); /* for preventevents false, as in that case this div is absolute */
    right: var(--lwc-borderWidthThick); /* for preventevents false, as in that case this div is absolute */
}

.highlight-icon-container {
    width: 1rem;
    height: 1rem;
}

.highlight-icon {
    position: absolute;
    top: -2px;
    display: inline-flex;
    border-radius: 0;
}

.highlight:not(.dragging).selected > .highlight-header,
.highlight:not(.dragging):focus > .highlight-header {
    visibility: visible;
}

.highlight:not(.dragging).hovering > .highlight-frame::after,
.highlight:not(.dragging).hovering > .slds-grid > .highlight-frame::after {
    box-shadow: inset 0 0 0 var(--lwc-borderWidthThick) var(--lwc-colorBrandDark);
}

.highlight:not(.dragging).selected > .highlight-frame::after,
.highlight:not(.dragging).selected > .slds-grid > .highlight-frame::after,
.highlight:not(.dragging):focus > .highlight-frame::after,
.highlight:not(.dragging):focus > .slds-grid > .highlight-frame::after {
    box-shadow: inset 0 0 0 var(--lwc-borderWidthThick) var(--lwc-colorBrandDarker);
}

.highlight:not(.dragging).hovering > .highlight-frame > .highlight-icons-container,
.highlight:not(.dragging).hovering > .slds-grid > .highlight-frame > .highlight-icons-container {
    visibility: visible;
}

.highlight:not(.dragging).selected > .highlight-frame > .highlight-icons-container,
.highlight:not(.dragging).selected > .slds-grid > .highlight-frame > .highlight-icons-container,
.highlight:not(.dragging):focus > .highlight-frame > .highlight-icons-container,
.highlight:not(.dragging):focus > .slds-grid > .highlight-frame > .highlight-icons-container {
    visibility: visible;
    background-color: var(--lwc-colorBrandDarker);
}

.highlight-icon-container:focus,
.highlight-icon-container:focus-within {
    box-shadow: none;
    outline: 5px auto rgb(128, 185, 252);
}

.highlight-icon.left {
    left: 2px;
}

.highlight-icon.right {
    right: 2px;
}

.highlight-icon.middle {
    right: 15px;
}

.visibility-icon {
    background-color: var(--lwc-colorGray5);
    margin-right: var(--lwc-spacingXxSmall);
    color: var(--lwc-colorTextLinkInverse, --lwc-colorGray10);
    border-radius: 0; /* Remove radius */
}

.visibility-icon.absolute {
    position: absolute;
}

.visibility-icon-container {
    background-color: var(--lwc-colorGray5);
    width: 1rem;
    height: 1rem;
    top: var(--lwc-borderWidthThin); /* for preventevents false, as in that case this div is absolute */
    right: var(--lwc-borderWidthThick); /* for preventevents false, as in that case this div is absolute */
}

.visibility-icon-container.noZindex {
    z-index: -1;
}

.visibility-icon.left {
    left: var(--lwc-borderWidthThin);
}

.highlight.dragging.hovering > .highlight-frame > .visibility-icon-container::after,
.highlight.dragging.hovering > .slds-grid > .visibility-icon-container::after,
.highlight.dragging.selected > .highlight-frame > .visibility-icon-container::after,
.highlight.dragging.selected > .slds-grid > .visibility-icon-container::after,
.highlight.dragging:focus > .highlight-frame > .visibility-icon-container::after {
    visibility: hidden;
}

.automatic-field-badge {
    line-height: var(--lwc-varSpacingVerticalXSmall, 0.5rem);
    font-weight: var(--lwc-fontWeightRegular, normal);
    background-color: var(--lwc-colorTextPrimary, #16325c);
    color: var(--lwc-badgeColorBackgroundLightest, white);
}
